@{
    ViewBag.Title = "ProcessReceiptQualityIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #tbljobordinfo_filter {
        display: none;
    }

    #tbljobordinfosave_filter {
        display: none;
    }

    #tblcbompdetails_filter {
        margin-top: -28px;
    }

    #tblmaindetails_filter {
        margin-top: -30px;
    }
</style>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('#txtFromDate').datepicker({ dateFormat: 'dd/mm/yy' });
        $('#txtToDate').datepicker({ dateFormat: 'dd/mm/yy' });
        $('#txtReceiptDate').datepicker({ dateFormat: 'dd/mm/yy' });
        $('#txtRefDate').datepicker({ dateFormat: 'dd/mm/yy' });
    });
</script>



<script src="~/Scripts/jquery.min.js"></script>
<script src="~/AxonScripts/Process/ProcessReceiptQuality.js"></script>
<script src="~/AxonScripts/Common/jquery-3.3.1.js"></script>
<script src="~/AxonScripts/Common/jquery.dataTables.min.js"></script>
<script src="~/AxonScripts/Common/dataTables.scroller.min.js"></script>
<link href="~/AxonScripts/Common/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/AxonScripts/Common/scroller.dataTables.min.css" rel="stylesheet" />


<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>
        <div class="x_panel">

            <div class="x_panel">
                <div class="row">
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <form class="form-horizontal form-label-left input_mask">
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 enquiry_edit">
                                        Company
                                    </label>
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                        <select id="ddlMCompany" class="form-control" onchange="CMainlist();">
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">Unit</label>
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                        <select id="ddlMunit" class="form-control" onchange="CMainlist();">
                                        </select>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">Order No</label>
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                        <select id="ddlMBuyOrderNo" class="form-control" onchange="CMainlist();">
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4" for="ex3">From Date</label>
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                        <input type="text" id="txtFromDate" class="form-control" placeholder="Date">
                                    </div>
                                </div>



                            </form>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <form class="form-horizontal form-label-left input_mask">
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 enquiry_edit">
                                        Receipt No
                                    </label>
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                        <select id="ddlMreceptno" class="form-control" onchange="CMainlist();">
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">Type</label>
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                        <select id="ddlMType" class="form-control" onchange="LoadGridType();">
                                           @* <option value="">--Select Type--</option>*@
                                            <option value="W">Work Order</option>
                                            <option value="J">Job Order</option>
                                            <option value="S">Sample Order</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 enquiry_edit">
                                        Ref No
                                    </label>
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                        <select id="ddlMRefNo" class="form-control" onchange="CMainlist();">
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4" for="ex3">To Date</label>
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                        <input type="text" class="form-control" placeholder="Date" id="txtToDate">
                                    </div>
                                </div>


                            </form>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <form class="form-horizontal form-label-left input_mask">
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">Process</label>
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                        <select id="ddlMProcess" class="form-control" onchange="CMainlist();">
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-3 col-md-2 col-sm-4 col-xs-4">Type</label>
                                    <div class="col-lg-9 col-md-10 col-sm-8 col-xs-8">
                                        <div class="maxl" style="margin-top: -5px;width:180px;">
                                            <label class="radio inline">
                                                    <input type="radio" name="optwrkordmain" checked value="P" onchange="CMainlist();">
                                                    <span>Supplier</span>
                                                </label>
                                                <label class="radio inline">
                                                    <input type="radio" name="optwrkordmain" value="W" onchange="CMainlist();">
                                                    <span>Work Div</span>
                                                </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">Style</label>
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                        <select id="ddlMStyle" class="form-control" onchange="CMainlist();">
                                        </select>
                                    </div>
                                </div>
                                

                               

                            </form>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <form class="form-horizontal form-label-left input_mask">
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">DC No</label>
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                        <select id="ddlMDCNo" class="form-control" onchange="CMainlist();">
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" id="optsupid">
                            <form class="form-horizontal form-label-left input_mask">
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">Supplier</label>
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                        <select id="ddlMSupplier" class="form-control" onchange="CMainlist();">
                                        </select>
                                    </div>

                                </div>
                            </form>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" id="optwkid">
                            <form class="form-horizontal form-label-left input_mask">
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">Work Div</label>
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                        <select id="ddlMWorkDiv" class="form-control" onchange="CMainlist();">
                                        </select>
                                    </div>

                                </div>
                            </form>
                        </div>
                        <div class="col-lg-3 col-md-8 col-sm-6 col-xs-12" >
                         <div class="form-group">
                             <div class="col-md-12 col-sm-12 col-xs-12">
                                     <input type="button" class="btn btn-success" style="float:right" value="List" onclick="CMainlist();">
                                    </div>
                                </div>
                        </div>
                           @* <div class="form-group" style="margin-left: 5px;">
                                    <button type="button" onclick="CMainlist()" class="btn btn-success">List</button>
                                </div>*@
                        
                    </div>
                </div>
            </div>
            @* Load datatable css *@

            <link href="~/build/Login/jquery.dataTables.min.css" rel="stylesheet">
            @* Load datatable js *@
            @section Scripts{

                <script src="~/build/js/jquery.dataTables.min.js"></script>
                <script>
                                           
                </script>

            }
            <div class="x_panel">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" style="display:none;">  
                               <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" id="btnaddnew" data-backdrop="static" onclick="ClearTextbox();">Add New</button>

                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <button type="button" class=" btn btn-warning" style="background-color:#fbe5e0; border-color:#fbe5e0;"></button>
                            <label> Indicates Inspection has been made</label>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <button type="button" class=" btn btn-warning" style="background-color:#ffb380; border-color:#ffb380;"></button>
                            <label> Indicates Rejection has been made</label>
                        </div>

                        <form class="form-horizontal form-label-left input_mask">
                            <div class="form-group">
                                <table class="table table-responsive" id="tblmaindetails">
                                    <thead>
                                    </thead>
                                </table>
                            </div>
                        </form>
                    </div>
                     <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12"  style="display:none;">
                                <input type="button" class="btn  btn-primary btn_program" value="Receipt" onclick="LOADReceipt();">
                                <input type="button" class="btn  btn-primary btn_program" value="Quality" onclick="LOADQLTY();">
                            </div>
                </div>
            </div>
             <div class="x_panel">
                   <div class="form-group">
                                            <label class="col-md-1 col-sm-6 col-xs-12 control-label">
                                                Order No
                                            </label>
                                            <div class="col-md-2 col-sm-6 col-xs-12">
                                                <textarea class="form-control" rows="4" placeholder="OrderNo" id="txtmainOrdno" disabled=""></textarea>
                                            </div>
                                        </div>
                   <div class="form-group">
                                            <label class="col-md-1 col-sm-6 col-xs-12 control-label">
                                                Ref No
                                            </label>
                                            <div class="col-md-2 col-sm-6 col-xs-12">
                                                <textarea class="form-control" rows="4" placeholder="RefNo" id="txtmainrefno" disabled=""></textarea>
                                            </div>
                                        </div>
                   <div class="form-group">
                                            <label class="col-md-1 col-sm-6 col-xs-12 control-label">
                                                Style
                                            </label>
                                            <div class="col-md-2 col-sm-6 col-xs-12">
                                                <textarea class="form-control" rows="4" placeholder="Style" id="txtmainstyle" disabled=""></textarea>
                                            </div>
                                        </div>
                   <div class="form-group">
                                            <label class="col-md-1 col-sm-1 col-xs-12 control-label">
                                                Stock Transfer
                                            </label>
                                            <div class="col-md-2 col-sm-1 col-xs-12">
                                                <textarea class="form-control" rows="4" placeholder="StockTransfer" id="txtmaintrans" disabled=""></textarea>
                                            </div>
                                        </div>
                                        </div>
                 
                 </div>

            @*<div class="col-md-5">
                        <form class="form-horizontal form-label-left input_mask">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-6 col-xs-12 enquiry_edit">
                                    Order No
                                </label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <input type="text" id="txtMOrdNo" class="form-control" placeholder="Order No">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-6 col-xs-12 enquiry_edit">
                                    Ref No
                                </label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <input type="text" id="txtMrefno" class="form-control" placeholder="Ref No">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-6 col-xs-12 enquiry_edit">
                                    Style
                                </label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <input type="text" id="txtMstyle" class="form-control" placeholder="Style">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-7">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-primary ">Issue</button>
                        </div>
                        <div class="col-md-12">
                            <button type="button" class="btn btn-danger ">Closure</button>
                        </div>
                    </div>*@
        </div>

        <div class="modal fade" style="overflow-y:scroll" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false" aria-hidden="true">
            <div class="modal-dialog" style="min-width: 75%">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        <h4 class="modal-title" id="myModalLabel">Add Process Receipt</h4>
                    </div>
                    <div class="x_panel">
                        <div class="x_content">
                            <div class="row" style="margin-top: -20px;">
                                <div class="modal-body" style="width: 100%;">
                                    <div class="x_panel" style="padding-top: 5px; padding-bottom: 0px;">
                                        <div class="row">
                                            <div class="row">
                                                <div class="col-md-3 col-sm-3 col-xs-12">
                                                    <form class="form-horizontal form-label-left input_mask">
                                                        <div class="form-group">
                                                            <label class="control-label col-md-4 col-sm-6 col-xs-12 enquiry_edit">
                                                                Company
                                                            </label>
                                                            <div class="col-md-8 col-sm-9 col-xs-12">
                                                                <select id="ddlCompany" class="form-control" onchange="LoadAddgrid();">
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-md-4 col-sm-6 col-xs-12">Unit</label>
                                                            <div class="col-md-8 col-sm-9 col-xs-12">
                                                                <select id="ddlUnit" class="form-control" onchange="LoadAddgrid();">
                                                                </select>
                                                            </div>
                                                        </div>
                                                         <div class="form-group" style="background-color:#dba5a0">
                                                            <label class="control-label col-md-4 col-sm-6 col-xs-12">Red Colour Row Indicates Final Process </label>
                                                            
                                                        </div>



                                                    </form>
                                                </div>
                                                <div class="col-md-3 col-sm-3 col-xs-12">
                                                    <form class="form-horizontal form-label-left input_mask">
                                                        <div class="form-group">
                                                            <label class="control-label col-md-4 col-sm-6 col-xs-12 enquiry_edit">
                                                                Process
                                                            </label>
                                                            <div class="col-md-8 col-sm-9 col-xs-12">
                                                                <select id="ddlProcess" class="form-control" onchange="LoadAddgrid();">
                                                                </select>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="control-label col-md-4 col-sm-6 col-xs-12">Color</label>
                                                            <div class="col-md-8 col-sm-9 col-xs-12">
                                                                <select id="ddlColor" class="form-control" onchange="LoadAddgrid();">
                                                                </select>
                                                            </div>
                                                        </div>
                                                        @* <div class="form-group">
                                                                    <label class="control-label col-md-4 col-sm-6 col-xs-12" id="lblprocessor">Issue No</label>
                                                                    <div class="col-md-8 col-sm-9 col-xs-12">
                                                                        <select id="ddlIssueNo" class="form-control">
                                                                        </select>
                                                                    </div>
                                                                </div>*@

                                                    </form>
                                                </div>
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <form class="form-horizontal form-label-left input_mask">
                                                        <div class="form-group">
                                                            <div class="row">
                                                                <div class="col-md-7 col-sm-7 col-xs-12">
                                                                    <div class="maxl " style="margin-top: -5px;">
                                                                        <label class="radio inline">
                                                                            <input type="radio" name="optwrkord" checked value="P" onchange="RadioMBClick();">
                                                                            <span>Processor</span>
                                                                        </label>
                                                                        <label class="radio inline" style="">
                                                                            <input type="radio" name="optwrkord" value="W" onchange="RadioMBClick();">
                                                                            <span>Work Division</span>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-5 col-sm-5 col-xs-12" style="margin-left: -4em;">
                                                                    <div class="col-md-12" id="supp">
                                                                        <select id="ddlSupplier" style="" class="form-control" onchange="LoadAddgrid();">
                                                                        </select>
                                                                    </div>
                                                                    <div class="col-md-12" id="wrkdiv">
                                                                        <select id="ddlwrkdiv" style="" class="form-control" onchange="LoadAddgrid();">
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <div class="maxl form-group" style="margin-top: -5px;">
                                                                <label class="radio inline">
                                                                    <input type="radio" checked value="W" id="optinnerwrkord" name="Revert" onclick="Loadgrid();">
                                                                    <span>Work Order</span>
                                                                </label>
                                                                <label class="radio inline">
                                                                    <input type="radio" value="S" id="optinnersamord" name="Revert" onclick="Loadgrid();">
                                                                    <span>Sample Order </span>
                                                                </label>
                                                                <label class="radio inline">
                                                                    <input type="radio" value="J" id="optinnerjobord" name="Revert" onclick="Loadgrid();">
                                                                    <span>Job Order</span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="x_panel" style="width: 99%; margin-left: 5px;">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="x_content">
                                            @*  <div class="row">
                                                        <div class="col-md-1">
                                                            <h2 style="margin-top: 0px; width: 100px;">Job Details</h2>
                                                        </div>
                                                        <div class="col-md-4">
                                                        </div>
                                                        <div class="col-md-2">
                                                        </div>
                                                        <div class="col-md-5">
                                                        </div>
                                                    </div>*@
                                            <form class="form-horizontal form-label-left input_mask">
                                                <div class="form-group">
                                                    <table id="tblinnergrid" class="table table-bordered table-hover">
                                                    </table>
                                                    <table class="table table-responsive" id="tblcompdetails">
                                                        <thead>
                                                            <tr>
                                                                <th>Prodid</th>
                                                                <th>P.ord.No</th>
                                                                <th>P.Date</th>
                                                                <th>Processor</th>
                                                                <th>Ord Qty</th>
                                                                <th>Received</th>
                                                                <th>Balance</th>
                                                                <th>FinProcess</th>
                                                                <th>Group</th>
                                                            </tr>
                                                        </thead>
                                                    </table>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="" style="width: 99%; margin-left: 5px;">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-4">
                                            </div>
                                            <div class="col-md-4">
                                            </div>
                                            <div class="col-md-4">
                                                <form class="form-horizontal form-label-left input_mask">
                                                    <div class="form-group" style="float: right;">
                                                        <button type="button" class="btn btn-success" data-toggle="modal" data-backdrop="static" onclick="LoadData();">Submit</button>
                                                        <button class="btn btn-danger btn-primary" data-dismiss="modal" style="margin-right: 5px;">Close</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer" style="border: none;">
                            @*<button type="button" style="margin-right: 34px;" class="btn btn-danger btn-round" id="btninnerclose" data-dismiss="modal">Close</button>*@
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="modal fade" style="overflow-y:scroll" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false" aria-hidden="true">
            <div class="modal-dialog" style="min-width: 74%">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        <h4 class="modal-title" id="myModalLabel1">Process Recipt</h4>
                    </div>
                    <div class="x_panel">
                        <div class="x_content">
                            <div class="row" style="margin-top: -20px;">
                                <div class="modal-body" style="width: 100%;">
                                    <div class="x_panel" style="padding-top: 5px; padding-bottom: 0px;">
                                        <div class="row">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <form class="form-horizontal form-label-left input_mask">
                                                        @*<div class="form-group">
                                                                    <label class="control-label col-md-4 col-sm-6 col-xs-12 enquiry_edit">
                                                                        Company
                                                                    </label>
                                                                    <div class="col-md-8 col-sm-9 col-xs-12">
                                                                        <select id="ddlComp" class="form-control" disabled>
                                                                        </select>
                                                                    </div>
                                                                </div>*@
                                                        <div class="form-group">
                                                            <label class="control-label col-md-4 col-sm-6 col-xs-12">Recept No</label>
                                                            <div class="col-md-8 col-sm-9 col-xs-12">
                                                                <input type="text" id="txtReceiptno" class="form-control" placeholder="Recept No" disabled>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-md-4 col-sm-6 col-xs-12">Recept Date</label>
                                                            <div class="col-md-8 col-sm-9 col-xs-12">
                                                                <input type="text" id="txtReceiptDate" class="form-control" placeholder="Recept Date">
                                                            </div>
                                                        </div>

                                                        @*<div class="form-group">
                                                                    <label class="control-label col-md-4 col-sm-6 col-xs-12">Work Div</label>
                                                                    <div class="col-md-8 col-sm-9 col-xs-12">
                                                                        <select id="ddlworkdiv" class="form-control" disabled></select>
                                                                    </div>
                                                                </div>*@
                                                        @*<div class="form-group">
                                                                    <label class="control-label col-md-4 col-sm-6 col-xs-12">Issue Store</label>
                                                                    <div class="col-md-8 col-sm-9 col-xs-12">
                                                                        <select id="ddlstore" class="form-control" disabled></select>
                                                                    </div>
                                                                </div>*@
                                                    </form>
                                                </div>
                                                <div class="col-md-4">
                                                    <form class="form-horizontal form-label-left input_mask">
                                                        @*<div class="form-group">
                                                                    <label class="control-label col-md-4 col-sm-6 col-xs-12 enquiry_edit">
                                                                        Job No
                                                                    </label>
                                                                    <div class="col-md-8 col-sm-9 col-xs-12">
                                                                        <select id="ddljobNo" class="form-control" disabled></select>
                                                                    </div>
                                                                </div>*@
                                                        <div class="form-group">
                                                            <label class="control-label col-md-4 col-sm-6 col-xs-12">Process</label>
                                                            <div class="col-md-8 col-sm-9 col-xs-12">
                                                                <input type="text" id="txtProcess" class="form-control" placeholder="Process" disabled>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-md-4 col-sm-6 col-xs-12">Processor</label>
                                                            <div class="col-md-8 col-sm-9 col-xs-12">
                                                                <input type="text" id="txtProcessor" class="form-control" placeholder="Processor" disabled>
                                                            </div>
                                                        </div>

                                                    </form>
                                                </div>
                                                <div class="col-md-4">
                                                    <form class="form-horizontal form-label-left input_mask">
                                                        <div class="form-group">
                                                            <label class="control-label col-md-4 col-sm-6 col-xs-12">Unit</label>
                                                            <div class="col-md-8 col-sm-9 col-xs-12">
                                                                <input type="text" id="txtUnit" placeholder="Ref No" class="form-control col-md-10" disabled>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="control-label col-md-4 col-sm-6 col-xs-12" for="txtEntryDate">Ref No/Date<span style="color: red;"> *</span></label>
                                                            <div class="col-md-4 col-sm-7 col-xs-12">

                                                                <input type="text" id="txtRefNo" placeholder="Ref No" class="form-control col-md-10" onkeyup="onchange(this.value)">
                                                            </div>
                                                            <div class="col-md-4 col-sm-7 col-xs-12">

                                                                <input type="text" id="txtRefDate" placeholder="Ref Date" class="form-control col-md-10">
                                                            </div>
                                                        </div>
                                                        @*<div class="form-group">
                                                                    <label class="control-label col-md-4 col-sm-6 col-xs-12 enquiry_edit">
                                                                        Style / Qty
                                                                    </label>
                                                                    <div class="col-md-4 col-sm-9 col-xs-12">
                                                                        <select id="ddlstyle" class="form-control" disabled>
                                                                        </select>
                                                                    </div>
                                                                    <div class="col-md-4 col-sm-9 col-xs-12">
                                                                        <input type="text" id="txtstyleqty" class="form-control" placeholder="Qty">
                                                                    </div>
                                                                </div>*@
                                                        @*<div class="form-group">
                                                                    <label class="control-label col-md-4 col-sm-6 col-xs-12">Proc Ord No</label>
                                                                    <div class="col-md-8 col-sm-9 col-xs-12">
                                                                        <input type="text" id="txtprogram" class="form-control" placeholder="Program">
                                                                    </div>
                                                                </div>*@

                                                        @* <div class="form-group">
                                                                    <label class="control-label col-md-4 col-sm-6 col-xs-12">Program</label>
                                                                    <div class="col-md-8 col-sm-9 col-xs-12">
                                                                        <input type="text" id="txtprogram" class="form-control" placeholder="Program">
                                                                    </div>
                                                                </div>*@


                                                    </form>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="x_panel" style="margin-top: -16px; width: 96.9%; margin-left: 15px;">
                                <div class="x_content">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <h2 style="margin-top: -6px;">Receipt Item</h2>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="">
                                                <div class="x_content">
                                                    <form class="form-horizontal form-label-left input_mask">
                                                        <div class="form-group">

                                                            <table class="table table-responsive" id="tblcbompdetails">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Sno</th>
                                                                        <th>Ord.No</th>
                                                                        <th>Pid</th>
                                                                        <th>Itemid</th>
                                                                        <th>Item</th>
                                                                        <th>Colorid</th>
                                                                        <th>Color</th>
                                                                        <th>Sizeid</th>
                                                                        <th>Size</th>
                                                                         <th>FSizeId</th>
                                                                        <th>Finish Size</th>
                                                                        <th>Order Qty</th>
                                                                        <th>Balance</th>
                                                                        <th>Receipt Qty</th>
                                                                           <th>SecQty</th>
                                                                        <th>Rate</th>
                                                                        @*<th>View</th>*@
                                                                    </tr>
                                                                </thead>
                                                            </table>
                                                        </div>
                                                    </form>

                                                </div>


                                            </div>
                                        </div>
                                    </div>



                                </div>

                            </div>

                        </div>

                        <div class="x_panel" style="width: 99%; margin-left: 4px;">
                            <div class="row">
                                <div class="col-md-12">
                                    <h2 style="margin-top: -5px;">Receipt Program </h2>
                                    <form class="form-horizontal form-label-left input_mask">
                                        <table id="tbljobordinfo" class="table table-responsive">
                                            <thead>
                                                <tr>
                                                    <th>Sno</th>
                                                    <th>Prodid</th>
                                                    <th>itemid</th>
                                                    <th>colorid</th>
                                                    <th>sizeid</th>
                                                    <th>Prog No</th>
                                                    <th>Job Ord No</th>
                                                    <th>Ref No</th>
                                                    <th>Order Qty</th>
                                                    <th>Balance</th>
                                                    <th>Received</th>
                                                     <th>SecQty</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </form>
                                    <form class="form-horizontal form-label-left input_mask">

                                        <table id="tbljobordinfosave" class="table table-responsive" style="display: none">
                                            <thead>
                                                <tr>
                                                    <th>Sno</th>
                                                    <th>Prodid</th>
                                                    <th>itemid</th>
                                                    <th>colorid</th>
                                                    <th>sizeid</th>
                                                    <th>Prog No</th>
                                                    <th>Job Ord No</th>
                                                    <th>Order Qty</th>
                                                    <th>Balance</th>
                                                    <th>Received</th>
                                                    
                                                </tr>
                                            </thead>
                                        </table>
                                    </form>
                                </div>


                            </div>


                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <h2 style="">Location </h2>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-md-6 col-sm-6 col-xs-12">

                                    <div class="form-group">
                                        <div class="maxl" style="margin-top: -16px;">
                                            <label class="radio inline">
                                                <input type="radio" checked value="M" id="optMS" name="MSType" onclick="LoadMainStore();">
                                                <span>Main Store</span>
                                            </label>
                                            <label class="radio inline">
                                                <input type="radio" value="S" id="optSS" name="MSType" onclick="LoadSubStore();">
                                                <span>Sub Store</span>
                                            </label>
                                            <label class="radio inline">
                                                <input type="radio" value="E" id="optES" name="MSType" onclick="LoadSecStore();">
                                                <span>Section Store</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div id="MainStoreId" style="margin-left: -9px; margin-top: -10px;">
                                        <form class="form-horizontal form-label-left input_mask">
                                            <div class="form-group">
                                                <label class="control-label col-md-2 col-sm-3 col-xs-12" for="txtEntryDate">Main Store<span style="color: red;"> *</span></label>
                                                <div class="col-md-4 col-sm-9 col-xs-12">
                                                    <select id="ddlMSCompany" class="form-control">
                                                    </select>
                                                </div>
                                                <div class="col-md-6"></div>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label col-md-2 col-sm-3 col-xs-12" for="txtEntryDate">Sub Store<span style="color: red;"> *</span></label>
                                                <div class="col-md-4 col-sm-9 col-xs-12">
                                                    <select id="ddlMSMMainStore" class="form-control">
                                                    </select>
                                                </div>
                                                <div class="col-md-6"></div>
                                            </div>


                                        </form>
                                    </div>
                                    <div id="SubStoreId">
                                        <div class="maxl" style="margin-top: -20px;">
                                            <label class="radio inline">
                                                <input type="radio" checked value="SM" id="optSMS" name="SMSType" onclick="RadioSMClick();">
                                                <span>Main Store</span>
                                            </label>
                                            <label class="radio inline">
                                                <input type="radio" value="SP" id="optSSS" name="SMSType" onclick="RadioSSPClick();">
                                                <span>Prodution List</span>
                                            </label>

                                        </div>
                                        <form class="form-horizontal form-label-left input_mask">
                                            <div id="SubStoreMainId" style="margin-left: -9px;">
                                                <div class="form-group">
                                                    <label class="control-label col-md-2 col-sm-3 col-xs-12" for="txtEntryDate">Main Store<span style="color: red;"> *</span></label>
                                                    <div class="col-md-4 col-sm-9 col-xs-12">
                                                        <select id="ddlSCompany" class="form-control">
                                                        </select>
                                                    </div>
                                                    <div class="col-md-6"></div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="control-label col-md-2 col-sm-3 col-xs-12" for="txtEntryDate">Sub Store<span style="color: red;"> *</span></label>
                                                    <div class="col-md-4 col-sm-9 col-xs-12">
                                                        <select id="ddlSMainStore" class="form-control">
                                                        </select>
                                                    </div>
                                                    <div class="col-md-6"></div>
                                                </div>
                                            </div>
                                            <div id="SubStorPrdId" style="margin-left: -9px;">
                                                <div class="form-group">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="txtEntryDate">Production Unit</label>
                                                    <div class="col-md-4 col-sm-9 col-xs-12">
                                                        <select id="ddlSStorePunit" class="form-control">
                                                        </select>
                                                    </div>
                                                    <div class="col-md-5"></div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="txtEntryDate">Sub Store</label>
                                                    <div class="col-md-4 col-sm-9 col-xs-12">
                                                        <select id="ddlSStoreSub" class="form-control">
                                                        </select>
                                                    </div>
                                                    <div class="col-md-5"></div>
                                                </div>
                                            </div>

                                        </form>
                                    </div>
                                    <div id="SecStoId" style="margin-left: -9px; margin-top: -10px;">
                                        <form class="form-horizontal form-label-left input_mask">
                                            <div class="form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="txtEntryDate">Prodution Unit</label>
                                                <div class="col-md-4 col-sm-9 col-xs-12">
                                                    <select id="ddlPUnit" class="form-control">
                                                    </select>
                                                </div>
                                                <div class="col-md-5"></div>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="txtEntryDate">Work Division</label>
                                                <div class="col-md-4 col-sm-9 col-xs-12">
                                                    <select id="ddlWK" class="form-control">
                                                    </select>
                                                </div>
                                                <div class="col-md-5"></div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="txtEntryDate">Section  Store</label>
                                                <div class="col-md-4 col-sm-9 col-xs-12">
                                                    <select id="ddlSecStore" class="form-control">
                                                    </select>
                                                </div>
                                                <div class="col-md-5"></div>
                                            </div>


                                        </form>
                                    </div>

                                </div>



                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="txtEntryDate">Remarks</label>

                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            <textarea id="txtRemark" required="" class="form-control" name="message"></textarea>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row" style="float: right;">
                                <div class="col-md-12 col-sm-12 col-xs-12">

                                    <div class="col-md-12 col-sm-12 col-xs-12" style="float: right; display: inline-flex;">
                                        <button type="button" class="btn btn-success" id="btnAdd" onclick="return save();" style="display: none;">Add</button>
                                        <button type="button" class="btn btn-success" id="btnUpdate" style="" onclick="Update();">Update</button>
                                        <button type="button" class="btn btn-success" id="btnDel" style="display: none;" onclick="MasDelete();">Delete</button>
                                        <button type="button" class="btn btn-danger" onclick="backtomain();" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


            </div>
        </div>
        <div class="modal fade" style="overflow-y:scroll" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false" aria-hidden="true">
            <div class="modal-dialog" style="min-width: 40%">
                <div class="modal-content">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Process Receipt</h2>

                            <div class="clearfix"></div>
                        </div>
                        <div class="row" style="margin: 0;">
                            <div class="row" style="margin: 0;">

                                <div class="col-md-8">

                                    <form class="form-horizontal form-label-left input_mask">
                                        <div class="form-group">
                                            <label class="control-label col-md-2 col-sm-2 col-xs-12">
                                                Options 
                                            </label>
                                            <div class="col-md-2 col-sm-2 col-xs-12" style="">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" id="selectall" value="">All
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-md-8 col-sm-8 col-xs-12">
                                                <div class="multiselect">

                                                    <select multiple="multiple" id='sbTwo' class="form-control multiselect" style="height: 100px;">
                                                    </select>
                                                </div>
                                            </div>
                                        </div>




                                    </form>
                                </div>


                            </div>
                        </div>

                        <div class="row" style="margin: 0px; float: right;">
                            <div class="form-group">
                                <button class="btn btn-success" onclick="SubReport();">Submit</button>
                                <button class="btn btn-danger" onclick="backtomain();">Cancel</button>
                            </div>
                        </div>




                    </div>
                </div>
            </div>
        </div>
    <div class="modal fade" id="AlertModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top: -30px;">
                            <div class="modal-dialog" style="min-width: 160px">
                                <div class="row">
                                    
                                    <div></div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-2 col-sm-2 col-xs-2"></div>
                                        <div id="dvUserdetails" class="col-md-8 col-sm-8 col-xs-12"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
    </div>
</div>


