@{
    ViewBag.Title = "PlanningApprovalIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    #processtable_filter {
        display: none;
    }

    #productiontable_filter {
        display: none;
    }

    #commercialtable_filter {
        display: none;
    }
    
   
</style>
<script type="text/javascript">
    jQuery(document).ready(function ($) {

        $('#txtFromDate').datepicker({ dateFormat: 'dd/mm/yy' });

        $('#txtToDate').datepicker({ dateFormat: 'dd/mm/yy' });
    });
</script>



<script src="~/Scripts/jquery.min.js"></script>
<script src="~/AxonScripts/Budget/PlanningApproval.js"></script>
<script src="~/AxonScripts/Common/jquery-3.3.1.js"></script>
<script src="~/AxonScripts/Common/jquery.dataTables.min.js"></script>
<script src="~/AxonScripts/Common/dataTables.scroller.min.js"></script>
<link href="~/AxonScripts/Common/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/AxonScripts/Common/scroller.dataTables.min.css" rel="stylesheet" />

<style>
    #particularsdetails_filter {
        display: none;
    }

    #particularsdetails_info {
        display: none;
    }

    #particularsdetails_length {
        display: none;
    }

    #particularsdetails_paginate {
        display: none;
    }

    #production2table_paginate {
        display: none;
    }

    #production2table_filter {
        display: none;
    }

    #production2table_info {
        display: none;
    }

    #production2table_length {
        display: none;
    }

    #bomtable_filter {
        display: none;
    }

    #production1table_paginate {
        display: none;
    }

    #production1table_filter {
        display: none;
    }

    #production1table_info {
        display: none;
    }

    #production1table_length {
        display: none;
    }

    #process2table_length {
        display: none;
    }

    #process2table_filter {
        display: none;
    }

    #process2table_info {
        display: none;
    }

    #process2table_paginate {
        display: none;
    }

    #process2table_filter {
        display: none;
    }

    #process1table_paginate {
        display: none;
    }

    #process1table_length {
        display: none;
    }

    #process1table_info {
        display: none;
    }

    #process1table_filter {
        display: none;
    }

    #bomtable_length {
        display: none;
    }

    #bomtable_paginate {
        display: none;
    }

    #bomtable_info {
        display: none;
    }

    * {
        box-sizing: border-box;
    }

    body {
        margin: 0;
    }

    .column {
        float: left;
        width: 33.33%;
        padding: 10px;
        height: 300px; /* Should be removed. Only for demonstration */
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
</style>
<!-- page content -->

<div class="right_col" role="main">
    <div class="">

        <div class="clearfix"></div>


        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">


                    <div class="x_title">
                        <h2>Planning Approval </h2>
                        @*<ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Settings 1</a>
                                    </li>
                                    <li><a href="#">Settings 2</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>*@
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="">
                        <div class="x_panel">
                            <div class="row">
                                <div class="row">
                                    <div class="col-md-3">
                                        <form class="form-horizontal form-label-left input_mask">
                                            <div class="form-group">
                                                <label class="control-label col-md-4 col-sm-6 col-xs-12">Company</label>
                                                <div class="col-md-8 col-sm-9 col-xs-12">
                                                    <select id="ddlMCompany" class="form-control select2" onchange="CMainlist();">
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label col-md-4 col-sm-6 col-xs-12">
                                                    Style
                                                </label>
                                                <div class="col-md-8 col-sm-9 col-xs-12">
                                                    <select id="ddlMStyle" class="form-control select2" onchange="Load();">
                                                    </select>
                                                </div>
                                            </div>
                                             <div class="form-group">
                                                                 <label class="radio inline col-md-5 col-sm-3 col-xs-12" style="margin-top: 2px;">

                                                                    <input id="" checked  name="OrdType" type="radio" value="B" onchange="Load();">
                                                                    <span>Bulk </span>
                                                                </label>
                                                                <label class="radio inline col-md-5 col-sm-3 col-xs-12" style="margin-top: 2px;margin-left: -10px;" >
                                                                    <input id="" name="OrdType" type="radio" value="S" onchange="Load();">
                                                                    <span>Sample </span>
                                                                </label>
                                                                </div>
                                            @*<div class="form-group">
                                        <label class="control-label col-md-2 col-sm-6 col-xs-12">
                                            Style
                                        </label>
                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            <select id="ddlMStyle" class="form-control">
                                                <option value="0">--Select style--</option>
                                              <option value="2">POLO-TSHIRT</option>

                                            </select>
                                        </div>
                                    </div>*@


                                        </form>
                                    </div>

                                    <div class="col-md-4">

                                        <form class="form-horizontal form-label-left input_mask">

                                            <div class="form-group">
                                                <label class="control-label col-md-4 col-sm-3 col-xs-12" for="txtEntryDate">Buyer Ref No</label>
                                                <div class="col-md-8 col-sm-9 col-xs-12">

                                                    <select id="ddlMRefNo" class="form-control select2" onchange="Load();">
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label col-md-4 col-sm-6 col-xs-12">
                                                    From Date
                                                </label>
                                                <div class="col-md-8 col-sm-9 col-xs-12">
                                                    <input type="text" id="txtFromDate" class="form-control" placeholder="Date">
                                                </div>
                                            </div>

                                        </form>
                                    </div>
                                    <div class="col-md-3">
                                        <form class="form-horizontal form-label-left input_mask">
                                            <div class="form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                                    Order No
                                                </label>
                                                <div class="col-md-9 col-sm-9 col-xs-12">
                                                    <select id="ddlMOrderNo" class="form-control select2" onchange="Load();">
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="txtEntryDate">To Date</label>
                                                <div class="col-md-9 col-sm-9 col-xs-12">
                                                    <input type="text" id="txtToDate" class="form-control" placeholder="Date">
                                                </div>
                                            </div>

                                        </form>

                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">

                                            <input type="button" class="btn  btn-primary btn_program" value="Pending" style="margin-left: 20px;width: 92px;" onclick="Pending();">
                                        </div>

                                        <div class="form-group">

                                            <input type="button" class="btn btn-primary btn_bom_act" value="Approved" style="margin-left: 20px;" onclick="Approved();">
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="x_panel">
                            <div class="row">
                                <div class="col-md-12">
                                    @*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" data-backdrop="static" id="btnaddnew" onclick="ClearTextbox();">Add New</button>*@
                                    <div class="x_content">
                                        <form class="form-horizontal form-label-left input_mask">
                                            <div class="form-group">
                                                <table class="table table-responsive " id="tblmaindetails">
                                                    <thead>
                                                    </thead>
                                                </table>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>



                            @* Load datatable css *@

                            <link href="~/build/Login/jquery.dataTables.min.css" rel="stylesheet">
                            @* Load datatable js *@
                            @section Scripts{

                                <script src="~/build/js/jquery.dataTables.min.js"></script>
                                <script>
                                           
                                </script>

                            }


                            @* <div class="row" style="display: inline-flex;margin-left:2px;">
                                <div class="form-group">

                                    <input type="button" class="btn  btn-primary btn_program" value="PROGRAM" onclick="Program();">
                                </div>

                                <div class="form-group">

                                    <input type="button" class="btn btn-primary btn_bom_act" value="BOM" onclick="Bom(this);">
                                </div>

                                <div class="form-group">

                                    <input type="button" class="btn btn-primary btn_budget" value="BUDGET" onclick="Budget(this);">
                                </div>
                            </div>*@

                        </div>
                    </div>
                    <div class="modal fade" style="overflow-y:scroll" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
                        <div class="modal-dialog" style="width: 75%;">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>Budget Approval</h2>

                                    <div class="clearfix"></div>
                                </div>
                                <div class="modal-body row">
                                    <div class="x_panel">

                                        <div class="row">
                                            <div class="col-md-4">
                                                <form class="form-horizontal form-label-left input_mask">
                                                    <div class="form-group" style="display: none;">
                                                        <label class="control-label col-md-4 col-sm-6 col-xs-12">StyleRwid</label>
                                                        <div class="col-md-8 col-sm-8 col-xs-12">
                                                            <input type="text" id="StyleRwid" placeholder="StyleRwID" class="form-control col-md-10" disabled>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="control-label col-md-4 col-sm-6 col-xs-12">
                                                            Date
                                                        </label>
                                                        <div class="col-md-8 col-sm-8 col-xs-12">
                                                            <input type="text" id="date" placeholder=" Date" class="form-control col-md-10" disabled>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="control-label col-md-4 col-sm-6 col-xs-12">
                                                            Quantity
                                                        </label>
                                                        <div class="col-md-8 col-sm-8 col-xs-12">
                                                            <input type="text" id="qnty" placeholder="Quantity" class="form-control col-md-10" disabled>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="control-label col-md-4 col-sm-3 col-xs-12" for="txtEntryDate">Style</label>
                                                        <div class="col-md-8 col-sm-8 col-xs-12">

                                                            <input type="text" id="style" placeholder="Style" class="form-control col-md-10" disabled>
                                                        </div>
                                                    </div>

                                                     <div class="form-group"  style="display:none;">
                                        <label class="control-label col-md-4 col-sm-6 col-xs-12">
                                            Shipment Rate
                                        </label>
                                        <div class="col-md-8 col-sm-8 col-xs-12">
                                            <input type="text" id="txtshiprate" placeholder="Style Rate" class="form-control col-md-10" disabled>
                                        </div>
                                    </div>


                                                </form>
                                            </div>

                                            <div class="col-md-4">

                                                <form class="form-horizontal form-label-left input_mask">

                                                    <div class="form-group">
                                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                                            Order No
                                                        </label>
                                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                                            <input type="text" id="Ordernum" placeholder="Order No" class="form-control col-md-10" disabled>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="txtEntryDate">Ref No</label>
                                                        <div class="col-md-9 col-sm-9 col-xs-12">

                                                            <input type="text" id="Refnum" placeholder="Ref No" class="form-control col-md-10" disabled>
                                                        </div>
                                                    </div>


                                                    <div class="form-group">
                                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="txtEntryDate">Item</label>
                                                        <div class="col-md-9 col-sm-9 col-xs-12">

                                                            <input type="text" id="itemname" placeholder="item" class="form-control col-md-10" disabled>
                                                        </div>
                                                    </div>



                                                </form>
                                            </div>
                                            <div class="col-md-4">

                                                <form class="form-horizontal form-label-left input_mask">

                                                    <div class="form-group">
                                                        <label class="control-label col-md-4 col-sm-6 col-xs-12">
                                                            Company
                                                        </label>
                                                        <div class="col-md-8 col-sm-8 col-xs-12">
                                                            <input type="text" id="Companyname" placeholder="Company Name" class="form-control col-md-10" disabled>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="control-label col-md-4 col-sm-6 col-xs-12" for="txtEntryDate">Buyer</label>
                                                        <div class="col-md-8 col-sm-8 col-xs-12">

                                                            <input type="text" id="BuyerName" placeholder="Buyer Name" class="form-control col-md-10" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-4 col-sm-6 col-xs-12">
                                                            Style Amount
                                                        </label>
                                                        <div class="col-md-8 col-sm-8 col-xs-12">
                                                            <input type="text" id="txtstylerate" placeholder="Style Rate" class="form-control col-md-10" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" style="display: none">
                                                        <label class="control-label col-md-5 col-sm-6 col-xs-12" for="txtEntryDate">CostdefnId</label>
                                                        <div class="col-md-7 col-sm-7 col-xs-12">

                                                            <input type="text" id="CostdefnId" placeholder="CostdefnId" class="form-control col-md-10">
                                                        </div>
                                                    </div>
                                                    <div class="form-group" style="display: none">
                                                        <label class="control-label col-md-5 col-sm-6 col-xs-12" for="txtEntryDate">CostdefnBOMId</label>
                                                        <div class="col-md-7 col-sm-7 col-xs-12">

                                                            <input type="text" id="CostdefnbomId" placeholder="CostdefnbomId" class="form-control col-md-10">
                                                        </div>
                                                    </div>


                                                    <div class="form-group" style="display: none">
                                                        <label class="control-label col-md-5 col-sm-6 col-xs-12" for="txtEntryDate">CostdefnCOMId</label>
                                                        <div class="col-md-7 col-sm-7 col-xs-12">

                                                            <input type="text" id="CostdefncomId" placeholder="CostdefncomId" class="form-control col-md-10">
                                                        </div>
                                                    </div>

                                                  
                                                </form>
                                            </div>


                                        </div>



                                        <div class="" id="myTab" role="tabpanel" data-example-id="togglable-tabs">
                                            <ul class="nav nav-tabs bar_tabs" role="tablist">
                                              @*  <li role="presentation" class="active">
                                                    <a href="#tab_content1" id="profile-tab" role="tab" data-toggle="tab" aria-expanded="false">BOM</a>
                                                </li>
                                                <li role="presentation" class="" style="display:none;">
                                                    <a href="#tab_content2" role="tab" id="profile-tab1" data-toggle="tab" aria-expanded="false">Process</a>
                                                </li>

                                                <li role="presentation" class="" style="display:none;">
                                                    <a href="#tab_content5" id="profile-tab4" role="tab" data-toggle="tab" aria-expanded="false" onclick="totcost();">Commercial / Summary</a>
                                                </li>*@



                                            </ul>
                                            <div id="myTabContent" class="tab-content">
                                                <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                                                    <div class="x_content">

                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="x_panel">
                                                                    <div class="col-md-2">
                                                                        <h2 style="margin-top: -5px; margin-left: -10px;">BOM Details</h2>
                                                                    </div>
                                                                    <div class="col-md-2"></div>
                                                                    <div class="col-md-2"></div>
                                                                    <div class="col-md-2"></div>
                                                                    <div class="col-md-2"></div>
                                                                    <div class="col-md-2">
                                                                        <input type="checkbox" id="checkallbom" />
                                                                        Select All
                                                                    </div>


                                                                    <div class="x_content">
                                                                        <form class="form-horizontal form-label-left">
                                                                            <table id="bomtable" class="table table-responsive">
                                                                                <thead>
                                                                                    <tr>
                                                                                      
                                                                                        <th style="display: none;">ItemId</th>
                                                                                        <th>Item</th>
                                                                                        <th>Plan Type</th>
                                                                                        <th>Mode</th>                                                                                      
                                                                                        <th>Quantity</th>
                                                                                        <th>Uom</th>
                                                                                        <th>Apply</th>
                                                                                    </tr>
                                                                                </thead>
                                                                            </table>
                                  
                                                                          
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
   <div class="x_panel">
                                            <div class="x_panel" >                                            
                                                  <label class="col-md-2 col-sm-1 col-xs-12 control-label">
                                                 Approved Details
                                            </label>
                                            </div>
                   <div class="form-group">
                                           @* <label class="col-md-1 col-sm-1 col-xs-12 control-label">
                                                Order No
                                            </label>*@
                                            <div class="col-md-2 col-sm-1 col-xs-12">
                                                 Lock Sequence / Program
        <input type="checkbox" id="chklockSeq" value="" style="margin-top: 0px;">
                                            </div>
                                        </div>
                   <div class="form-group">
                                            @*<label class="col-md-1 col-sm-1 col-xs-12 control-label">
                                               
                                            </label>*@
                                            <div class="col-md-2 col-sm-1 col-xs-12">
                                              Lock Consumption
                                                <input type="checkbox" id="chklockconsum" value="" style="margin-top: 0px;">
                                            </div>
                                        </div>
                   <div class="form-group">
                                           @* <label class="col-md-1 col-sm-1 col-xs-12 control-label">
                                               
                                            </label>*@
                                            <div class="col-md-2 col-sm-1 col-xs-12">
                                                 Lock Order
                                                 <input type="checkbox" id="chklockorder" value="" style="margin-top: 0px;">
                                            </div>
                                        </div>
                      <div class="form-group">
                                            @*<label class="col-md-1 col-sm-1 col-xs-12 control-label">
                                              
                                            </label>*@
                                            <div class="col-md-2 col-sm-1 col-xs-12">
                                                  Lock Fabric
                                               <input type="checkbox" id="chklockfabric" value="" style="margin-top: 0px;">
                                            </div>
                                        </div>
                                                <div class="form-group">
                                           @* <label class="col-md-1 col-sm-1 col-xs-12 control-label">
                                              
                                            </label>*@
                                            <div class="col-md-2 col-sm-1 col-xs-12">
                                                  Lock Yarn
                  <input type="checkbox" id="chklockyarn" value="" style="margin-top: 0px;">
                                            </div>
                                        </div>
           <div class="form-group">
                                           @* <label class="col-md-1 col-sm-1 col-xs-12 control-label">
                                              
                                            </label>*@
                                            <div class="col-md-2 col-sm-1 col-xs-12">
                                                  Lock Planning
                  <input type="checkbox" id="chklockplanning" value="" style="margin-top: 0px;">
                                            </div>
                                        </div>
        <div class="form-group">
                                           @* <label class="col-md-1 col-sm-1 col-xs-12 control-label">
                                              
                                            </label>*@
                                            <div class="col-md-2 col-sm-1 col-xs-12">
                                                  Lock Accessories
                  <input type="checkbox" id="chklockAccessories" value="" style="margin-top: 0px;">
                                            </div>
                                        </div>
                                        </div>
                                                    </div>
                                                </div>


                                                     <div class="row">
                                                            <div class="col-md-6">
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group" style="float: right;">

                                                                    <button type="button" class="btn btn-success btn-round" id="btnsave" onclick="Add();">Approved</button>
                                                                    <button type="button" class="btn btn-success btn-round" id="btndelete" onclick="Revert();">Revert</button>
                                                                    <button type="button" class="btn btn-success btn-round" id="btnUpd" onclick="Add();">Approved</button>
                                                                    <button type="button" class="btn btn-danger btn-round" id="btncancel" onclick="backtomain();">Cancel</button>
                                                                </div>
                                                            </div>
                                                        </div>

                                                <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
                                                    <div class="x_content">

                                                        <div class="x_content">

                                                            <div class="row">

                                                                <div class="col-md-6 col-xs-12">
                                                                    <div class="x_panel">
                                                                        <div class="col-md-5">
                                                                            <h2 style="margin-top: -5px; margin-left: -10px;">Process Details</h2>
                                                                        </div>

                                                                        <div class="col-md-2"></div>
                                                                        <div class="col-md-2"></div>

                                                                        <div class="col-md-3">
                                                                            <input type="checkbox" id="checkallprocess" />
                                                                            Select All
                                                                        </div>
                                                                        <div class="x_content">
                                                                            <form class="form-horizontal form-label-left input_mask">

                                                                                <table id="processtable" class="table table-striped table-bordered">
                                                                                    <thead>
                                                                                        <tr>
                                                                                            <th style="display: none;">SNo</th>
                                                                                            <th style="display: none;">ItemId</th>
                                                                                            <th>Process</th>
                                                                                            <th>Item</th>
                                                                                            <th>Rate</th>
                                                                                            <th>Quantity</th>
                                                                                            <th>Amount</th>
                                                                                            <th>Apply</th>

                                                                                        </tr>
                                                                                    </thead>
                                                                                </table>
                                                                            </form>
                                                                        </div>
                                                                        &nbsp;
                                                                        <div class="row">
                                                                            <div class="row">
                                                                                <div class="col-md-4">
                                                                                    <div class="form-group">
                                                                                        <label class="control-label col-md-6 col-sm-6 col-xs-12" for="txtEntryDate">Tot Rate</label>
                                                                                        <div class="col-md-6 col-sm-7 col-xs-12">

                                                                                            <input type="text" id="txttotrateproces" placeholder="Rate" style="text-align: right; margin-left: -15px;" class="form-control col-md-10" disabled>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-4">
                                                                                    <div class="form-group">
                                                                                        <label class="control-label col-md-6 col-sm-6 col-xs-12" for="txtEntryDate">Tot Qty</label>
                                                                                        <div class="col-md-6 col-sm-7 col-xs-12">

                                                                                            <input type="text" id="txttotqtyproces" placeholder="Qty" style="text-align: right; margin-left: -15px;" class="form-control col-md-10" disabled>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-4">
                                                                                    <div class="form-group">
                                                                                        <label class="control-label col-md-6 col-sm-6 col-xs-12" for="txtEntryDate">Tot Amt</label>
                                                                                        <div class="col-md-6 col-sm-7 col-xs-12">

                                                                                            <input type="text" id="txttotamtproces" placeholder="Amt" style="text-align: right;" class="form-control col-md-10" disabled>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-6 col-xs-12">
                                                                    <div class="x_panel">
                                                                        <div class="col-md-5">
                                                                            <h2 style="margin-top: -5px; margin-left: -10px;">Production Details</h2>
                                                                        </div>

                                                                        <div class="col-md-2"></div>
                                                                        <div class="col-md-2"></div>

                                                                        <div class="col-md-3">
                                                                            <input type="checkbox" id="checkallprod" />
                                                                            Select All
                                                                        </div>
                                                                        <div class="x_content">

                                                                            <form class="form-horizontal form-label-left input_mask">
                                                                                <table id="productiontable" class="table table-striped table-bordered">
                                                                                    <thead>
                                                                                        <tr>
                                                                                            <th style="display: none;">SNo</th>
                                                                                            <th style="display: none;">ItemId</th>
                                                                                            <th>Process</th>
                                                                                            <th>Item</th>
                                                                                            <th>Rate</th>
                                                                                            <th>Quantity</th>
                                                                                            <th>Amount</th>
                                                                                            <th>Apply</th>
                                                                                        </tr>
                                                                                    </thead>
                                                                                </table>
                                                                                &nbsp;
                                                                                 <div class="row">
                                                                                     <div class="row">
                                                                                         <div class="col-md-4">
                                                                                             <div class="form-group">
                                                                                                 <label class="control-label col-md-6 col-sm-6 col-xs-12" for="txtEntryDate">Tot Rate</label>
                                                                                                 <div class="col-md-6 col-sm-7 col-xs-12">

                                                                                                     <input type="text" id="txttotrateprod" placeholder="Rate" style="text-align: right; margin-left: -15px;" class="form-control col-md-10" disabled>
                                                                                                 </div>
                                                                                             </div>
                                                                                         </div>
                                                                                         <div class="col-md-4">
                                                                                             <div class="form-group">
                                                                                                 <label class="control-label col-md-6 col-sm-6 col-xs-12" for="txtEntryDate">Tot Qty</label>
                                                                                                 <div class="col-md-6 col-sm-7 col-xs-12">

                                                                                                     <input type="text" id="txttotqtyprod" placeholder="Qty" style="text-align: right; margin-left: -15px;" class="form-control col-md-10" disabled>
                                                                                                 </div>
                                                                                             </div>
                                                                                         </div>
                                                                                         <div class="col-md-4">
                                                                                             <div class="form-group">
                                                                                                 <label class="control-label col-md-6 col-sm-6 col-xs-12" for="txtEntryDate">Tot Amt</label>
                                                                                                 <div class="col-md-6 col-sm-7 col-xs-12">

                                                                                                     <input type="text" id="txttotamntprod" placeholder="Amt" style="text-align: right;" class="form-control col-md-10" disabled>
                                                                                                 </div>
                                                                                             </div>
                                                                                         </div>
                                                                                     </div>
                                                                                 </div>
                                                                                @* <div class="col-md-12" style="margin-left: 268px;">
                                                                    <div class="form-group">
                                                                        <label class="control-label col-md-1 col-sm-6 col-xs-12" for="txtEntryDate">Total</label>
                                                                        <div class="col-md-3 col-sm-7 col-xs-12">

                                                                            <input type="text" id="txttotamnt" style="text-align: right;" placeholder="Total Amount" class="form-control col-md-10">
                                                                        </div>
                                                                    </div>
                                                                </div>*@
                                                                            </form>

                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>

                                                        </div>
                                                         <div class="x_panel">
                                            <div class="x_panel" >                                            
                                                  <label class="col-md-2 col-sm-1 col-xs-12 control-label">
                                                 Last PO Details
                                            </label>
                                            </div>
                   <div class="form-group">
                                           @* <label class="col-md-1 col-sm-1 col-xs-12 control-label">
                                                Order No
                                            </label>*@
                                            <div class="col-md-2 col-sm-1 col-xs-12">
                                                 Order No
                                                <textarea class="form-control" rows="4" placeholder="OrderNo" id="txtmainOrdno2" disabled=""></textarea>
                                            </div>
                                        </div>
                   <div class="form-group">
                                            @*<label class="col-md-1 col-sm-1 col-xs-12 control-label">
                                               
                                            </label>*@
                                            <div class="col-md-2 col-sm-1 col-xs-12">
                                                 Ref No
                                                <textarea class="form-control" rows="4" placeholder="RefNo" id="txtmainrefno2" disabled=""></textarea>
                                            </div>
                                        </div>
                   <div class="form-group">
                                           @* <label class="col-md-1 col-sm-1 col-xs-12 control-label">
                                               
                                            </label>*@
                                            <div class="col-md-2 col-sm-1 col-xs-12">
                                                 Style
                                                <textarea class="form-control" rows="4" placeholder="Style" id="txtmainstyle2" disabled=""></textarea>
                                            </div>
                                        </div>
                      <div class="form-group">
                                            @*<label class="col-md-1 col-sm-1 col-xs-12 control-label">
                                              
                                            </label>*@
                                            <div class="col-md-2 col-sm-1 col-xs-12">
                                                  Supplier
                                                <textarea class="form-control" rows="4" placeholder="Supplier" id="txtsupplier2" disabled=""></textarea>
                                            </div>
                                        </div>
                                                <div class="form-group">
                                           @* <label class="col-md-1 col-sm-1 col-xs-12 control-label">
                                              
                                            </label>*@
                                            <div class="col-md-2 col-sm-1 col-xs-12">
                                                  Pre Rate
                                                <textarea class="form-control" rows="4" placeholder="Previous Rate" id="txtPrerate2" disabled=""></textarea>
                                            </div>
                                        </div>
                                        </div>
                                                    </div>
                                                </div>



                                                <div role="tabpanel" class="tab-pane fade  in" id="tab_content5" aria-labelledby="home-tab">
                                                    <div class="x_content">

                                                        <div class="x_content">

                                                            <div class="row">
                                                                <div class="col-md-6 col-xs-12">
                                                                    <div class="x_panel">

                                                                        <div class="x_content">
                                                                            @* <form class="form-horizontal form-label-left input_mask">

                                                                 <table id="commercial1table" class="table table-striped table-bordered">
                                                                <tr>
                                                                   <th>Particulars</th>
                                                                     <th>Cost</th>
                                                                    <th>Value</th>
                                                                    <th>Remarks</th>
                                                                </tr>
                                                                   </table>

                                                            </form>*@
                                                                            <form class="form-horizontal form-label-left">
                                                                                <div class="details">

                                                                                    <div id="orderItems">
                                                                                        <table class="table table-responsive" id="commercialtable">
                                                                                            <thead>
                                                                                                <tr>
                                                                                                    <th style="display: none">ID
                                                                                                    </th>
                                                                                                    <th>Description
                                                                                                    </th>
                                                                                                    <th>Cost
                                                                                                    </th>
                                                                                                    <th>Value
                                                                                                    </th>

                                                                                                    <th>Cost/Pcs
                                                                                                    </th>
                                                                                                </tr>
                                                                                            </thead>

                                                                                        </table>
                                                                                        <span id="orderItemError" style="color: red"></span>
                                                                                    </div>
                                                                                    <div class="row">
                                                                                       
                                                                                        <div class="row">
                                                                                            <div class="col-md-10 col-sm-10 col-xs-12">

                                                                                               

                                                                                            </div>
                                                                                           
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="row">
                                                                                       
                                                                                        <div class="row">
                                                                                           
                                                                                           @* <div class="col-md-6">
                                                                                                <div class="form-group">
                                                                                                    <label class="control-label col-md-6 col-sm-6 col-xs-12">
                                                                                                        Selected Currency
                                                                                                    </label>
                                                                                                    <div class="col-md-6 col-sm-6 col-xs-9">
                                                                                                        <input type="text" id="SelectedCurrency" class="form-control" placeholder="SelectedCurrency" disabled>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>*@
                                                                                        </div>
                                                                                    </div>
                                                                                   @* <div class="row">
                                                                                        <h5 style="margin-left: 10px;">Style Rate</h5>
                                                                                        <div class="row">
                                                                                            <div class="col-md-6">

                                                                                                <div class="form-group">
                                                                                                    <label class="control-label col-md-6 col-sm-3 col-xs-12">
                                                                                                        INR Value
                                                                                                    </label>
                                                                                                    <div class="col-md-6 col-sm-9 col-xs-12">
                                                                                                        <input type="text" id="INRValue" class="form-control" placeholder="INR Value" disabled>
                                                                                                    </div>
                                                                                                </div>

                                                                                            </div>
                                                                                            <div class="col-md-6">
                                                                                                <div class="form-group">
                                                                                                    <label class="control-label col-md-6 col-sm-6 col-xs-12">
                                                                                                        Exchange Currency
                                                                                                    </label>
                                                                                                    <div class="col-md-6 col-sm-6 col-xs-9">
                                                                                                        <input type="text" id="ExCurrency" class="form-control" placeholder="Exchange Currency" disabled>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>*@
                                                                                </div>
                                                                                
                                                                                <div class=" row col-md-10 col-sm-10 col-xs-12" style="padding:0px;">
                                                                                  <div class="form-group">
                                                            <label class="control-label col-md-4 col-sm-3 col-xs-12">
                                                                CMCost
                                                            </label>
                                                            <div class="col-md-8 col-sm-9 col-xs-12">
                                                                <input type="text" id="cmcost" class="form-control" placeholder="CMCost" onkeyup="calcmarkup();">
                                                            </div>
                                                        </div>
                                                            
                                                         <div class="form-group "  >
                                                            <label class="control-label col-md-4 col-sm-4 col-xs-12">
                                                                Fin Per
                                                            </label>
                                                            <div class="col-md-4 col-sm-4 col-xs-6">
                                                                <input type="text" id="finper" class="form-control" placeholder="Fin Per" onkeyup="calcfinper();">
                                                            </div>
                                                             <div class="col-md-4 col-sm-4 col-xs-6">
                                                                <input type="text" id="finpervalue" class="form-control" placeholder="Fin Per Value" disabled>
                                                            </div>
                                                        </div>
                                                                                  
                                                     <div class="form-group"  >
                                                            <label class="control-label col-md-4 col-sm-3 col-xs-12">
                                                                Gafi Charges
                                                            </label>
                                                            <div class="col-md-8 col-sm-9 col-xs-12">
                                                                <input type="text" id="gaficharges" class="form-control" placeholder="Gafi Charges" disabled>
                                                            </div>
                                                        </div>
                                                                                   
                                                              <div class="form-group ">
                                                            <label class="control-label col-md-4 col-sm-3 col-xs-12">
                                                                Qiz Charges
                                                            </label>
                                                            <div class="col-md-6 col-sm-5 col-xs-9">
                                                                <input type="text" id="qizcharges" class="form-control" placeholder="Qiz Charges" disabled>
                                                            </div>
                                                             <div class="col-md-2 col-sm-3 col-xs-9">
                                                                 <input type="checkbox" id="QizStatus" style="margin-top: 5px;" value="">
                                                            </div>
                                                        </div>
                                                                                   
                                                        <div class="form-group"  >
                                                            <label class="control-label col-md-4 col-sm-3 col-xs-12">
                                                                MarkUp
                                                            </label>
                                                            <div class="col-md-8 col-sm-9 col-xs-12">
                                                                <input type="text" id="markup" class="form-control" placeholder=" MarkUp" disabled>
                                                            </div>

                                                            </div>
                                                                                     <div class="form-group">
                                                                                                    <label class="control-label col-md-4 col-sm-3 col-xs-12">
                                                                                                        Currency
                                                                                                    </label>
                                                                                                    <div class="col-md-8 col-sm-9 col-xs-12" >
                                                                                                        <select id="ddlCurrency" class="form-control" onchange="Loadexchangerate();">

                                                                                                            @*<option value="1">Euro</option>*@
                                                                                                        </select>
                                                                                                    </div>
                                                                                                </div>
                                                                                     <div class="form-group">
                                                                                                    <label class="control-label col-md-4 col-sm-3 col-xs-12">
                                                                                                        Exchange
                                                                                                    </label>
                                                                                                    <div class="col-md-8 col-sm-9 col-xs-12" >
                                                                                                        <input type="text" id="exchange" class="form-control" placeholder="Exchange" disabled>
                                                                                                    </div>
                                                                                                </div>
                                                                                    <div class="form-group">
                                                                                                    <label class="control-label col-md-4 col-sm-3 col-xs-12" id="lblcurrency">
                                                                                                        INR
                                                                                                    </label>
                                                                                                    <div class="col-md-8 col-sm-9 col-xs-12">
                                                                                                        <input type="text" id="INR" class="form-control" placeholder="INR" disabled>
                                                                                                    </div>
                                                                                                </div>
                                                                                    
                                                        </div>
                                                                            </form>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-6 col-xs-12">
                                                                    <div class="x_panel">
                                                                        <div class="x_content">
                                                                            <form class="form-horizontal form-label-left">
                                                                                <div class="form-group">
                                                                                    <label class="control-label col-md-4 col-sm-6 col-xs-12">
                                                                                        Cloth 
                                                                                    </label>
                                                                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                                                                        <input type="text" id="Cloth" class="form-control" placeholder="Cloth" disabled style="text-align: right;">
                                                                                    </div>
                                                                                    <div class="col-md-2 col-sm-6 col-xs-12">
                                                                                        / Piece
                                                                                    </div>
                                                                                </div>

                                                                                <div class="form-group">
                                                                                    <label class="control-label col-md-4 col-sm-6 col-xs-12">
                                                                                        Production 
                                                                                    </label>
                                                                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                                                                        <input type="text" id="TxtProduction" class="form-control" placeholder="Production" disabled style="text-align: right;">
                                                                                    </div>
                                                                                    <div class="col-md-2 col-sm-6 col-xs-12">
                                                                                        / Piece
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label class="control-label col-md-4 col-sm-6 col-xs-12">
                                                                                        BOM
                                                                                    </label>
                                                                                    <div class="col-md-6 col-sm-6 col-xs-9">
                                                                                        <input type="text" id="BOM" class="form-control" placeholder="BOM" disabled style="text-align: right;">
                                                                                    </div>
                                                                                    <div class="col-md-2 col-sm-6 col-xs-12">
                                                                                        / Piece
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label class="control-label col-md-4 col-sm-6 col-xs-12">
                                                                                        Commercial 
                                                                                    </label>
                                                                                    <div class="col-md-6 col-sm-6 col-xs-9">
                                                                                        <input type="text" id="Commercial" class="form-control" placeholder="Commercial" disabled style="text-align: right;">
                                                                                    </div>
                                                                                    <div class="col-md-2 col-sm-6 col-xs-12">
                                                                                        / Piece
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label class="control-label col-md-4 col-sm-6 col-xs-12">
                                                                                        Total
                                                                                    </label>
                                                                                    <div class="col-md-6 col-sm-6 col-xs-9">
                                                                                        <input type="text" id="Total" class="form-control" placeholder="Total" disabled style="text-align: right;">
                                                                                    </div>
                                                                                    <div class="col-md-2 col-sm-6 col-xs-12">
                                                                                        / Piece
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label class="control-label col-md-4 col-sm-6 col-xs-12">
                                                                                        Profit %/ Value
                                                                                    </label>
                                                                                    <div class="col-md-3 col-sm-6 col-xs-9">
                                                                                        <input type="text" id="Profit" class="form-control" placeholder="Profit" style="text-align: right;" onkeyup="calcvalues(this.value);">
                                                                                    </div>
                                                                                    <div class="col-md-3 col-sm-6 col-xs-9">
                                                                                        <input type="text" id="Value" class="form-control" placeholder="Value" disabled style="text-align: right;">
                                                                                    </div>
                                                                                    <div class="col-md-2 col-sm-6 col-xs-12">
                                                                                        / Piece
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label class="control-label col-md-4 col-sm-6 col-xs-12">
                                                                                        Net Amount
                                                                                    </label>
                                                                                    <div class="col-md-6 col-sm-6 col-xs-9">
                                                                                        <input type="text" id="NetAmount" class="form-control" placeholder="Net Amount" disabled style="text-align: right;">
                                                                                    </div>
                                                                                    <div class="col-md-2 col-sm-6 col-xs-12">
                                                                                        / Piece
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label class="control-label col-md-4 col-sm-6 col-xs-12">
                                                                                        Total Value
                                                                                    </label>
                                                                                    <div class="col-md-6 col-sm-6 col-xs-9">
                                                                                        <input type="text" id="TotalValue" class="form-control" placeholder="Total Value" disabled style="text-align: right;">
                                                                                    </div>
                                                                                </div>
                                                                            </form>
                                                                            <div class="x_panel" style="display:none;">
                                                                                <div class="row">
                                                                                    <form class="form-horizontal form-label-left">
                                                                                        <div class="form-group">
                                                                                            <label class="control-label col-md-4 col-sm-6 col-xs-12">
                                                                                                Sale Price
                                                                                            </label>
                                                                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                                                                <input type="text" id="SalePrice" class="form-control" placeholder="Sale Price" style="text-align: right;" onkeyup="calcsp(this.value);">
                                                                                            </div>

                                                                                        </div>
                                                                                        <div class="form-group">
                                                                                            <label class="control-label col-md-4 col-sm-6 col-xs-12">
                                                                                                Drawback %/ Value
                                                                                            </label>
                                                                                            <div class="col-md-3 col-sm-6 col-xs-9">
                                                                                                <input type="text" id="Drawback" class="form-control" placeholder="Drawback" style="text-align: right;" onkeyup="calcdrwbck(this.value);">
                                                                                            </div>
                                                                                            <div class="col-md-3 col-sm-6 col-xs-9">
                                                                                                <input type="text" id="DrwValue" class="form-control" placeholder="Value" disabled style="text-align: right;">
                                                                                            </div>

                                                                                        </div>
                                                                                        <div class="form-group">
                                                                                            <label class="control-label col-md-4 col-sm-6 col-xs-12">
                                                                                                Profit %/ Value
                                                                                            </label>
                                                                                            <div class="col-md-3 col-sm-6 col-xs-9">
                                                                                                <input type="text" id="txtProfit" class="form-control" placeholder="Profit" style="text-align: right;" onkeyup="profitentry(this.value);">
                                                                                            </div>
                                                                                            <div class="col-md-3 col-sm-6 col-xs-9">
                                                                                                <input type="text" id="PrfValue" class="form-control" placeholder="Value" disabled style="text-align: right;">
                                                                                            </div>

                                                                                        </div>
                                                                                    </form>
                                                                                </div>
                                                                            </div>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                   
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
<!-- page content -->
