@{
    ViewBag.Title = "GeneralProcessOrderIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #tblSavestkdet_wrapper {
        display: none;
    }

    #tblmaindetails_filter {
        /*margin-top: -29px;*/
    }

    #tblinpdetails_filter {
        display: none;
    }

    #tblstkdet_filter {
        display: none;
    }

    #tblopitemdetails_filter {
        display: none;
    }
     .gg-spinner {
        transform: scale(var(--ggs,1));
    }
        .gg-spinner,
        .gg-spinner::after,
        .gg-spinner::before {
            box-sizing: border-box;
            position: relative;
            display: block;
            width: 20px;
            height: 20px;
        }
            .gg-spinner::after,
            .gg-spinner::before {
                content: "";
                position: absolute;
                border-radius: 100px;
            }
            .gg-spinner::before {
                animation: spinner 1s cubic-bezier(.6,0,.4,1) infinite;
                border: 3px solid transparent;
                border-top-color: currentColor;
            }
            .gg-spinner::after {
                border: 3px solid;
                opacity: .2;
            }
    @@-webkit-keyframes spinner {
        0% {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(359deg);
        }
    }
</style>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('#txtDeliverDate').datepicker({ dateFormat: 'dd/mm/yy' });
        //$('#txtOrderDate').datepicker();
        $('#txtFromDate').datepicker({
            dateFormat: 'dd/mm/yy',
            onSelect: function (dateString, txtDate) {
                DtChk = true;
                ddlmain();
            }
        });
        $('#txtToDate').datepicker({
            dateFormat: 'dd/mm/yy',
            onSelect: function (dateString, txtDate) {
                DtChk = true;
                ddlmain();
            }
        });
    });
</script>



<script src="~/Scripts/jquery.min.js"></script>
<script src="~/AxonScripts/Process/GeneralProcessOrder.js"></script>
<script src="~/AxonScripts/Common/jquery-3.3.1.js"></script>
<script src="~/AxonScripts/Common/jquery.dataTables.min.js"></script>
<script src="~/AxonScripts/Common/dataTables.scroller.min.js"></script>
<link href="~/AxonScripts/Common/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/AxonScripts/Common/scroller.dataTables.min.css" rel="stylesheet" />


<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>
        <div class="x_panel">
            <div class="x_panel">
                <div class="row">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <form class="form-horizontal form-label-left input_mask">
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                        Company
                                    </label>
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                        <select id="ddlMCompany" class="form-control select2" onchange="CMainlist();"></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                        Process
                                    </label>
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                        <select id="ddlMProcess" class="form-control select2" onchange="PMainlist();">
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4" for="ex3">From Date</label>
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                        <input type="text" id="txtFromDate" class="form-control " placeholder="Date">
                                    </div>
                                </div>

                            </form>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <form class="form-horizontal form-label-left input_mask">
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                        ProcessOrd No
                                    </label>
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                        <select id="ddlMProcessOrderNo" class="form-control select2" onchange="OMainlist();"></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                        Unit
                                    </label>
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                        <select id="ddlMUnit" class="form-control select2" onchange="UMainlist();">
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4" for="ex3">To Date</label>
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                        <input type="text" class="form-control " placeholder="Date" id="txtToDate">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <form class="form-horizontal form-label-left input_mask">

                                <div class="form-group">
                                    <div class="maxl " style="margin-left: 10px; /* width: 200px; */margin-top: -8px;">
                                        <label class="radio inline">
                                            <input type="radio" id="MP" checked value="P" name="proctype" onchange="CMainlist();">
                                            <span>Processor</span>
                                        </label>
                                        <label class="radio inline">
                                            <input type="radio" id="MW" value="W" name="proctype" onchange="CMainlist();">
                                            <span>Work Division</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="Msupp">
                                        <select id="ddlMSupplier" class="form-control select2" onchange="SPMainlist();">
                                        </select>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="Mwrkdiv">
                                        <select id="ddlMwrkdiv" class="form-control select2" onchange="SPMainlist();">
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="button" style="margin-top: 2px;float:right" class="btn btn-success" value="List" onclick="CMainlist();">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            @*   <div class="row">
              
                <div class="col-md-12">
                    <div class="x_panel" style="height: 30px;">
                        <div class="col-md-2">
                            <h2 style="margin-top: -5px;">Order Type</h2>
                        </div>
                        <div class="col-md-10">
                            <div class="maxl" style="margin-top: -15px;margin-left:-45px">
                                <label class="radio inline">
                                    <input type="radio" id="optoutwrkord" name="optwrkord" checked value="B" onchange="CMainlist();">
                                    <span>Buyer Order</span>
                                </label>
                                <label class="radio inline">
                                    <input type="radio" id="optoutsaemord" name="optwrkord" value="S" onchange="CMainlist();">
                                    <span>Sample Order  </span>
                                </label>
                                <label class="radio inline">
                                    <input type="radio" id="optouetsamord" name="optwrkord" value="G" onchange="CMainlist();">
                                    <span>General </span>
                                </label>
                                <label class="radio inline">
                                    <input type="radio" id="optouetsamord" name="optwrkord" value="G" onchange="CMainlist();">
                                    <span>All </span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
            @* Load datatable css *@

            <link href="~/build/Login/jquery.dataTables.min.css" rel="stylesheet">
            @* Load datatable js *@
            @section Scripts{

                <script src="~/build/js/jquery.dataTables.min.js"></script>
                <script>
                                           
                </script>

            }

            <div class="x_panel">
                <button type="button" class="btn btn-primary" data-toggle="modal" id="btnAddO" data-target="#myModal" onclick="ClearTextbox();" @ViewBag.GenProcOrdAddFlg>Add New</button>
                <form class="form-horizontal form-label-left input_mask">
                    <div class="form-group">
                        <table id="tblmaindetails" class="table table-bordered table-hover">
                            <thead>
                            </thead>
                        </table>
                    </div>
                </form>

            </div>
            <div class="modal fade" id="myModal" style="overflow-y:scroll" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" style="min-width: 78%">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Process Order</h4>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel" style="margin-top: 10px;">
                                <div class="row">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                            <form class="form-horizontal form-label-left input_mask">
                                                <div class="form-group">
                                                    <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                        Company
                                                    </label>
                                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                        <select id="ddlCompany" class="form-control select2" onchange="GenerateNo();"></select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                        Process
                                                    </label>
                                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                        <select id="ddlProcess" class="form-control select2" onchange="Loadgrid();">
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                        From Store
                                                    </label>
                                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                        <select id="ddlStore" class="form-control select2" onchange="CMainlist();">
                                                        </select>
                                                    </div>
                                                </div>


                                            </form>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                            <form class="form-horizontal form-label-left input_mask">
                                                <div class="form-group">
                                                    <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                        Unit
                                                    </label>
                                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                        <select id="ddlUnit" class="form-control select2" onchange="LoadrefNo();">
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                        Process Order
                                                    </label>
                                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                        <input type="text" id="txtProcessOrderno" class="form-control" placeholder="Process Order" disabled>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                        Issue No
                                                    </label>
                                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                        <input type="text" id="txtIssueno" class="form-control" placeholder="Issue No" disabled>
                                                    </div>
                                                </div>

                                            </form>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                            <form class="form-horizontal form-label-left input_mask">
                                                <div class="form-group">
                                                    <div class="maxl " style="margin-left: 10px; /* width: 200px; */margin-top: -8px;">
                                                        <label class="radio inline">
                                                            <input type="radio" id="rdproc" name="optwrkord" checked value="P" onchange="RadioMBClick();">
                                                            <span>Processor</span>
                                                        </label>
                                                        <label class="radio inline">
                                                            <input type="radio"  id="rdwrk" name="optwrkord" value="W" onchange="RadioMBClick();">
                                                            <span>Work Div</span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="supp">
                                                        <select id="ddlSupplier"  class="form-control select2">
                                                        </select>
                                                    </div> 
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="wrkdiv">
                                                        <select id="ddlwrkdiv"  class="form-control select2">
                                                        </select>
                                                    </div>
                                                </div>

                                                        <div class="form-group">
                                                            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                                Deliver Date
                                                            </label>
                                                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" >
                                                                <input type="text" id="txtDeliverDate"  class="form-control" placeholder="Deliver Date">
                                                            </div>
                                                        </div>
                                                        <div class="form-group" style="display: none">
                                                            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                                Issue Id
                                                            </label>
                                                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                                <input type="text" id="txtIssueId" class="form-control" placeholder="Issue No">
                                                            </div>
                                                        </div>

                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="row">
                                    <h2 style="margin-top: -5px;">Output Items</h2>
                                    <div class="">
                                        <form class="form-horizontal form-label-left input_mask">
                                            <div class="form-group">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="overflow-x:scroll;">
                                                    <table class="table table-bordered table-hover" border="1">
                                                    <tr>


                                                        <td>Item</td>
                                                        <td>Color</td>
                                                        <td>Size</td>
                                                        <td>Iss Size</td>
                                                      <td>Qty</td>
                                                         <td>Allow %</td>
                                                        <td>TotQty</td>
                                                        

                                                          <td>Rate</td>
                                                        <td>Sec Qty</td>
                                                        <td>Inp Uom</td>
                                                        <td>&nbsp;</td>
                                                    </tr>
                                                    <tr class="mycontainer" id="maincomborow">
                                                        <td >
                                                            <select id="ddlItem" style="width: 200px" class="form-control" onchange="loadopUOM();">
                                                            </select>

                                                        </td>
                                                        <td>
                                                            <select id="ddlColor" style="width: 200px" class="form-control">
                                                            </select>

                                                        </td>
                                                        <td>
                                                            <select id="ddlSize" style="width: 100px" class="form-control">
                                                            </select>

                                                        </td>
                                                        <td>
                                                            <select id="ddlIssSize" style="width: 100px" class="form-control">
                                                            </select>

                                                        </td>

                                                          <td>
                                                            <input type="text" style="width: 50px" id="txtwithoutallowQty" class="form-control" placeholder="Qty">
                                                        </td>
                                                          <td>
                                                            <input type="text" style="width: 50px" id="txtAllow" class="form-control" placeholder="%">
                                                        </td>

                                                         <td>
                                                            <input type="text" style="width: 50px" id="txtQty" class="form-control" placeholder="Qty" disabled>
                                                        </td>
                                                         


                                                        <td>
                                                            <input type="text" style="width: 50px" id="txtRate" class="form-control" placeholder="Rate">
                                                        </td>
                                                       
                                                        <td>
                                                            <input type="text" style="width: 70px" id="txtSecQty" class="form-control" placeholder="SecQty">
                                                        </td>
                                                        <td>
                                                            @* <input type="text" id="txtInuom" class="form-control" placeholder="SecQty">*@
                                                            <select id="ddlOPUOM" style="width: 150px" class="form-control">
                                                            </select>
                                                        </td>
                                                        <td style="width: 50px">
                                                            <button class="btn btn-success btn-round" style="width: 20px; padding: 0px; height: 20px; border-radius: 10px;" id="btnitmadd" data-toggle="tooltip" data-placement="top" title="Add" type="button"><i class="fa fa-plus"></i></button>
                                                            <button class="btn btn-success btn-round" style="width: 20px; padding: 0px; height: 20px; border-radius: 10px; display: none;" id="btnitmupdate" data-toggle="tooltip" data-placement="top" title="Update" type="button"><i class="fa fa-refresh"></i></button>

                                                            @*  <input type="button" class="btn btn-round btn-success" id="btncomponentadd" data-toggle="tooltip" data-placement="top" title="Add" value="Add" style="width: 20px;padding:0px;height: 20px;border-radius: 10px;" class="btn btn-success" />
                                                    <input type="button" class="btn btn-round btn-success" id="btncomponentupdate" data-toggle="tooltip" data-placement="top" title="Update" value="Update" style="width: 20px;padding:0px;height: 20px;border-radius: 10px;display: none;" class="btn btn-success" />*@
                                                        </td>
                                                    </tr>
                                                </table>
                                                </div>
                                                
                                                <div id="CopList">
                                                    <table class="table table-responsive" id="tblopitemdetails">
                                                        <thead>
                                                            <tr>
                                                                <th style="width: 10px">Sno</th>
                                                                <th style="display: none;">Detid</th>
                                                                <th style="display: none;">Itemid</th>
                                                                <th>Item</th>
                                                                <th style="display: none;">Colorid</th>
                                                                <th>Color</th>
                                                                <th style="display: none;">Sizeid</th>
                                                                <th>Size</th>
                                                                <th style="display: none;">Iss Sizeid</th>
                                                                <th>Iss Size</th>
                                                                 <th>Qty</th>                                                                 
                                                                  <th>Allow%</th>
                                                                 <th style="display: none;">Qty</th> 
                                                                <th>Rate</th>
                                                             
                                                                <th>Sec Qty</th>
                                                                <th>Inp Uom</th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>

                                                    </table>
                                                    <span id="orderItemError" style="color: red"></span>
                                                </div>
                                            </div>

                                        </form>
                                    </div>
                                    @*<div class="row">
                                        <div class="col-md-4">
                                            <form class="form-horizontal form-label-left input_mask">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4 col-sm-6 col-xs-12 enquiry_edit">
                                                        Item Remarks
                                                    </label>
                                                    <div class="col-md-8 col-sm-9 col-xs-12">
                                                        <input type="text" id="txtItemRemarks" class="form-control " placeholder="Remarks">
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="col-md-7">
                                        </div>
                                        <div class="col-md-1">
                                            <form class="form-horizontal form-label-left input_mask">
                                                <div class="form-group">
                                                    <button type="button" style="margin-left: -45px;" class="btn btn-primary" data-toggle="modal" onclick="LoadData();">Apply Output</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>*@
                                </div>
                            </div>
                            <div class="">

                            
                            <div class="x_panel" >

                                <div>
                                    <h2>Input Items 
                                        <button type="button" id="btnapply" style="float: right" class="btn btn-primary" onclick="ApplyOutput();">Apply Output</button></h2>
                                </div>
                                <div class="row">
                                    <div class="">


                                        <form class="form-horizontal form-label-left input_mask">
                                            <div class="form-group">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="overflow-x:scroll">
                                                    <table class="table table-bordered table-hover" border="1">
                                                    <tr>


                                                        <td>Item</td>
                                                        <td>Color</td>
                                                        <td>Size</td>
                                                        @*  <td>Iss Size</td>*@
                                                        <td style="display: none;">Rate</td>
                                                        <td>Qty</td>
                                                        <td>Sec Qty</td>
                                                        <td>Out Uom</td>
                                                        <td>&nbsp;</td>
                                                    </tr>
                                                    <tr class="mycontainer" id="opmaincomborow">
                                                        <td>
                                                            <select id="ddlIpItem" style="width: 200px" class="form-control" onchange="loaduom();">
                                                            </select>

                                                        </td>
                                                        <td>
                                                            <select id="ddlIpColor" style="width: 200px" class="form-control">
                                                            </select>

                                                        </td>
                                                        <td>
                                                            <select id="ddlIpSize" style="width: 100px" class="form-control">
                                                            </select>

                                                        </td>
                                                        @* <td>
                                                            <select id="ddlIpIssSize" class="form-control">
                                                            </select>

                                                        </td>*@
                                                        <td style="display: none;">
                                                            <input type="text" id="txtIpRate" class="form-control" placeholder="Rate">
                                                        </td>
                                                        <td>
                                                            <input type="text" style="width: 50px" id="txtIpQty" class="form-control" placeholder="Qty">
                                                        </td>
                                                        <td>
                                                            <input type="text" style="width: 50px" id="txtIpSecQty" class="form-control" placeholder="SecQty">
                                                        </td>
                                                        <td>
                                                            @* <input type="text" id="txtIpInuom" class="form-control" placeholder="SecQty">*@
                                                            <select id="ddlIPUOM" style="width: 150px" class="form-control">
                                                            </select>
                                                        </td>
                                                        <td style="width: 50px">
                                                            <button class="btn btn-success btn-round" style="width: 20px; padding: 0px; height: 20px; border-radius: 10px;" id="btnipitmadd" data-toggle="tooltip" data-placement="top" title="Add" type="button"><i class="fa fa-plus"></i></button>
                                                            <button class="btn btn-success btn-round" style="width: 20px; padding: 0px; height: 20px; border-radius: 10px; display: none;" id="btnipitmupdate" data-toggle="tooltip" data-placement="top" title="Update" type="button"><i class="fa fa-refresh"></i></button>

                                                            @*  <input type="button" class="btn btn-round btn-success" id="btncomponentadd" data-toggle="tooltip" data-placement="top" title="Add" value="Add" style="width: 20px;padding:0px;height: 20px;border-radius: 10px;" class="btn btn-success" />
                                                    <input type="button" class="btn btn-round btn-success" id="btncomponentupdate" data-toggle="tooltip" data-placement="top" title="Update" value="Update" style="width: 20px;padding:0px;height: 20px;border-radius: 10px;display: none;" class="btn btn-success" />*@
                                                        </td>
                                                    </tr>
                                                </table>
                                                </div>
                                                
                                                <div id="CList">
                                                    <table class="table table-responsive" id="tblinpdetails">
                                                        <thead>
                                                            <tr>

                                                                <th style="width: 10px">Sno</th>
                                                                <th style="display: none;">Detid</th>
                                                                <th style="display: none;">Itemid</th>
                                                                <th>Item</th>
                                                                <th style="display: none;">Colorid</th>
                                                                <th>Color</th>
                                                                <th style="display: none;">Sizeid</th>
                                                                <th>Size</th>
                                                                @* <th style="display: none;">Iss Sizeid</th>
                                                                <th>Iss Size</th>*@
                                                                <th style="display: none;">Rate</th>
                                                                <th>Qty</th>
                                                                <th>Sec Qty</th>
                                                                <th>Out Uom</th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>

                                                    </table>
                                                    <span id="orderIpError" style="color: red"></span>
                                                </div>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="x_panel">
                                <div class="row" style="margin-top: -15px;">
                                     <h2>Stock</h2>
                                    @*<div class="col-md-4">
                                        <form class="form-horizontal form-label-left input_mask">
                                            <div class="form-group">
                                                <label class="control-label col-md-4 col-sm-6 col-xs-12 enquiry_edit">
                                                    Last Process
                                                </label>
                                                <div class="col-md-8 col-sm-9 col-xs-12">
                                                    <select id="ddlLastProcess" class="form-control">
                                                    </select>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-md-1">
                                        <form class="form-horizontal form-label-left input_mask">
                                            <div class="form-group">
                                                <button type="button" style="margin-left: -10px;" class="btn btn-primary" data-toggle="modal" onclick="LoadData();">...</button>
                                            </div>
                                        </form>
                                    </div>*@
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <form class="form-horizontal form-label-left input_mask" >
                                        <div class="form-group">
                                            <table class="table table-bordered table-hover" border="1" id="tblstkdet">
                                                <thead>
                                                    <tr>
                                                        <th style="width: 10px">Sno</th>
                                                        <th style="display: none;">Itmid</th>
                                                        <th style="display: none;">Colorid</th>
                                                        <th style="display: none;">Sizeid</th>
                                                        <th>Document No</th>
                                                        <th>Lot No</th>
                                                        <th>Stock</th>
                                                        <th>Stock</th>
                                                        <th>Issues</th>
                                                        <th>Supplier</th>
                                                        @*<th>Process</th>*@
                                                        <th>Markup Rate</th>
                                                        @*<th>Manufacturer</th>*@
                                                        <th>Isssecqty</th>
                                                        @*<th>Godown</th>*@

                                                    </tr>
                                                </thead>

                                            </table>
                                            <table class="table table-bordered table-hover" border="1" id="tblSavestkdet" style="display: none;">
                                                <thead>
                                                    <tr>
                                                        <th>Sno</th>
                                                        <th>Itmid</th>
                                                        <th>Colorid</th>
                                                        <th>Sizeid</th>
                                                        <th>Document No</th>
                                                        <th>Lot No</th>
                                                        <th>Stock</th>
                                                        <th>Stock</th>
                                                        <th>Issues</th>
                                                        <th>Supplier</th>
                                                        @*<th>Process</th>*@
                                                        <th>Markup Rate</th>
                                                        @*<th>Manufacturer</th>*@
                                                        <th>Isssecqty</th>
                                                        @*<th>Godown</th>*@

                                                    </tr>
                                                </thead>

                                            </table>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="x_panel">
                                <div class="row">
                                    <div class="col-lg-6 col-md-7 col-sm-12 col-xs-12">
                                        <div class="x_content">
                                            <h2 style="margin-top: -5px;">Despatch Information</h2>
                                            <div class="row">

                                                <div class="maxl" style="margin-top: -14px; width: 467px;">
                                                    <label class="radio inline" style="margin-left: 9px;">
                                                        <input type="radio" checked="" value="F" id="OptSelf" name="DType" onchange="LoadLocation();">
                                                        <span>Self</span>
                                                    </label>
                                                    <label class="radio inline">
                                                        <input type="radio" value="U" id="OptUnit" name="DType" onchange="LoadLocation();">
                                                        <span>Company Unit </span>
                                                    </label>
                                                    <label class="radio inline">
                                                        <input type="radio" value="S" id="OptStore" name="DType" onchange="LoadLocation();">
                                                        <span>Store </span>
                                                    </label>
                                                    <label class="radio inline">
                                                        <input type="radio" value="T" id="OptSup" name="DType" onchange="LoadLocation();">
                                                        <span>Sub.Contr/Processor </span>
                                                    </label>
                                                </div>


                                            </div>
                                            <div class="row" style="">
                                                <form class="form-horizontal form-label-left input_mask">
                                                    <div class="form-group">
                                                        <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                            Location
                                                        </label>
                                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                            <select id="ddlLocation" class="form-control" onchange="LoadLocAdd();"></select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">Address</label>
                                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                            <textarea class="form-control" rows="4" placeholder="Address" id="txtLocaAdd" disabled=""></textarea>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-5 col-sm-6 col-xs-12">
                                        <h2 style="margin-top: -2px;" >Issue Location</h2>
                                        <form class="form-horizontal form-label-left input_mask" style="margin-top: -6px;">
                                            <div class="maxl col-md-12" style="margin-top: -6px;">
                                                <label class="radio inline">
                                                    <input type="radio" checked="" value="F" id="optDess" name="DSOType">
                                                    <span>Unit</span>
                                                </label>
                                                <label class="radio inline">
                                                    <input type="radio" value="U" id="optDesu" name="DSOType">
                                                    <span>Company</span>
                                                </label>

                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                    Production Unit
                                                </label>
                                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                    <select  id="ddlProductionUnit" class="form-control" onchange="CMainList();">
                                                        <option value="0">--Select Department--</option>
                                                        <option value="1">QC DEPT</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                    Address
                                                </label>
                                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                    <textarea id="txtLocAddress" required="" class="form-control" name="message" data-parsley-trigger="keyup" data-parsley-minlength="20" data-parsley-maxlength="100" data-parsley-minlength-message="Come on! You need to enter at least a 20 caracters long comment.." data-parsley-validation-threshold="10" disabled=""></textarea>
                                                </div>
                                            </div>

                                        </form>
                                    </div>
                                     <div class="col-lg-3 col-md-5 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label class="control-label col-lg-12 col-md-4 col-sm-12 col-xs-12">
                                                Vehicleno / Driver
                                            </label>
                                            <div class="col-lg-12 col-md-8 col-sm-12 col-xs-12">
                                                <input type="text" id="txtVehicleno" required="" class="form-control" >
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-5 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label class="control-label col-lg-12 col-md-4 col-sm-12 col-xs-12">
                                                Remarks
                                            </label>
                                            <div class="col-lg-12 col-md-8 col-sm-12 col-xs-12">
                                                <textarea id="txtdescription" required="" class="form-control" name="message" data-parsley-trigger="keyup" data-parsley-minlength="20" data-parsley-maxlength="100" data-parsley-minlength-message="Come on! You need to enter at least a 20 caracters long comment.." data-parsley-validation-threshold="10" style="border-color: lightgrey;"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
</div>

                        <div class="modal-footer" style="border: none;">
                            <div class="col-md-9">
                                <i class="gg-spinner" style="float: right;margin-top: 3px;margin-right: -80px;display:none" id="LoadingSpinner"></i>
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn-success btn-round" id="btnAdd" onclick="IssueMas();">Save</button>
                                <button class="btn  btn-success btn-round" onclick="Update();" id="btnUpdate">Update</button>
                                <button class="btn btn-danger btn-round" onclick="Delete();" id="btnDel">Delete</button>
                                <button class="btn btn-danger btn-round" onclick="MainModClose();">Close</button>
                            </div>
                            
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal fade" style="overflow-y:scroll" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false" aria-hidden="true">
                <div class="modal-dialog" style="min-width: 40%">
                    <div class="modal-content">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>General Process Order</h2>

                                <div class="clearfix"></div>
                            </div>
                            <div class="row" style="margin: 0;">
                                <div class="row" style="margin: 0;">

                                    <div class="col-md-8">

                                        <form class="form-horizontal form-label-left input_mask">
                                            <div class="form-group">
                                                <label class="control-label col-md-2 col-sm-2 col-xs-12">
                                                    Options 
                                                </label>
                                                <div class="col-md-2 col-sm-2 col-xs-12" style="">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" id="selectall" value="">All
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-8 col-sm-8 col-xs-12">
                                                    <div class="multiselect">

                                                        <select multiple="multiple" id='sbTwo' class="form-control multiselect" style="height: 100px;">
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>




                                        </form>
                                    </div>


                                </div>
                            </div>

                            <div class="row" style="margin: 0px; float: right;">
                                <div class="form-group">
                                    <button class="btn btn-success" onclick="SubReport();">Submit</button>
                                    <button class="btn btn-danger" onclick="backtomain();">Cancel</button>
                                </div>
                            </div>




                        </div>
                    </div>
                </div>
            </div>
             <div class="modal fade" id="AlertModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top: -30px;">
                            <div class="modal-dialog" style="min-width: 160px">
                                <div class="row">
                                    
                                    <div></div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-2 col-sm-2 col-xs-2"></div>
                                        <div id="dvUserdetails" class="col-md-8 col-sm-8 col-xs-12"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
        </div>
    </div>
</div>

