@model AxonApparel.Domain.Style
@{
    ViewBag.Title = "Style";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/AxonScripts/Style.js"></script>

@*<link rel="stylesheet" href="http://cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css" />
<script type="text/javascript" src="http://cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>*@

<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        @*<div class="page-title">
            <div class="title_left">
                <h3>Style</h3>
            </div>

            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>*@

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Style</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            @*<li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Settings 1</a>
                                    </li>
                                    <li><a href="#">Settings 2</a>
                                    </li>
                                </ul>
                            </li>*@
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="container">
                            @*<h2>Departments Record</h2>*@
                            @if (ViewBag.StyleAddFlg == "true")
                            {
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" onclick="clearTextBox();">Add New Style</button><br />
                            }
                            else
                            {
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" disabled>Add New Style</button><br />
                            }
                            <br />
                            <table id="styletbl" class="table table-bordered table-hover">
                                @*<thead>
                                    <tr>
                                        <th style="visibility: hidden;">ID
                                        </th>
                                        <th>Style
                                        </th>
                                        <th>Style Group
                                        </th>
                                        <th>Item
                                        </th>
                                        <th>Status
                                        </th>
                                        <th>Action
                                        </th>
                                    </tr>
                                </thead>*@
                                @*<tbody class="tbody">
                                </tbody>*@
                            </table>
                        </div>
                        <div class="modal fade" style="overflow-y:scroll" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        @*
                    <button type="button" class="close" data-dissmiss="modal"><span aria-hidden="true">&times;</span></button>*@
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title" id="myModalLabel">Add Style</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <div class="form-group">
                                                <label for="StyleID">ID</label>
                                                <input type="text" class="form-control" id="StyleID" placeholder="Id" disabled="disabled" />
                                            </div>
                                            <div class="form-group">
                                                <table>
                                                    <tr>
                                                        <td colspan="2">
                                                            <label for="Name">Style Name</label>
                                                            <input type="text" class="form-control" id="Name" placeholder="Name" />
                                                        </td>
                                                        <td colspan="2">
                                                            <label for="city">Item</label>
                                                            @Html.DropDownListFor(m => m.ItemList, Model.ItemList, "--Select Item--", new { @id = "ddlItem", @class = "form-control" })
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2">
                                                            <label for="city">Style Group</label>
                                                            @Html.DropDownListFor(m => m.StyleGroupList, Model.StyleGroupList, "--Select Group--", new { @id = "ddlStyleGroup", @class = "form-control" })
                                                        </td>
                                                        <td colspan="2">
                                                            <label for="Status">Status</label>
                                                            <input type="checkbox" class="form-control" id="Status" />
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </form>
                                        <form>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" id="btnAdd" onclick="return Add();">Add</button>
                                        <button type="button" class="btn btn-primary" id="btnUpdate" style="display: none;" onclick="Update();">Update</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->

<script>
    //$(document).ready(function(){
    $('#styletbl').dataTable();
    //});
</script>
