<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  --> 
<configuration>
  <connectionStrings>
    <!--<add name="DBCS" connectionString="Data Source=.;Initial Catalog=MVCDB;Integrated Security=true;"/>-->
    <!--<add name="DBCS" connectionString="Data source=192.168.1.254;initial catalog=JTCLApparelNT;uid=sa;pwd=Apparelv7;"/>-->
    <!--<add name="AxonApparelEntities" connectionString="metadata=res://*/AxonApparel.csdl|res://*/AxonApparel.ssdl|res://*/AxonApparel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql5005.site4now.net;initial catalog=DB_A3CD91_axoninfosoft;persist security info=True;user id=DB_A3CD91_axoninfosoft_admin;password=Vsnl@1234;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="ApparelFinyearEntities" connectionString="metadata=res://*/ApparelFinyear.csdl|res://*/ApparelFinyear.ssdl|res://*/ApparelFinyear.msl;provider=System.Data.SqlClient;provider connection string=&quot;       data source=sql5005.site4now.net;initial catalog=DB_A3CD91_axoninfosoft;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="AxonApparelEntities" connectionString="metadata=res://*/AxonApparel.csdl|res://*/AxonApparel.ssdl|res://*/AxonApparel.msl;provider=System.Data.SqlClient;provider connection string=&quot;       data source=AXON;initial catalog=ApparelMVC;user id=sa;password=Apparelv7;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <!--<add name="ApparelFinyearEntities" connectionString="metadata=res://*/ApparelFinyear.csdl|res://*/ApparelFinyear.ssdl|res://*/ApparelFinyear.msl;provider=System.Data.SqlClient;provider connection string=&quot;       data source=AXON\SQLEXPRESS;initial catalog=AxonTAS;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <add name="AxonApparelConnectionString" connectionString="Data Source=DESKTOP-AI529E7\AXON1;Initial Catalog=MvcAPI-New;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="AxonConnectionString" connectionString="Data Source=DESKTOP-AI529E7\AXON1;Initial Catalog=MvcAPI-New;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />
    <!--<add name="FasoSCMEntities" connectionString="metadata=res://*/ApparelSCM.csdl|res://*/ApparelSCM.ssdl|res://*/ApparelSCM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.102.174;initial catalog=FasoSCM;user id=sqluser_faso;password=ifaso2019_;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
	  <add name="myConnectionString" connectionString="server=DESKTOP-AI529E7\AXON1;database=MvcAPI-New;Integrated Security=True;" />
	  <add name="HouseKeepingEntities" connectionString="metadata=res://*/HouseKeeping.csdl|res://*/HouseKeeping.ssdl|res://*/HouseKeeping.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DESKTOP-AI529E7\AXON1;Initial Catalog=MvcAPI-New;Integrated Security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	  <add name="MasterEntities" connectionString="metadata=res://*/Master.csdl|res://*/Master.ssdl|res://*/Master.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DESKTOP-AI529E7\AXON1;Initial Catalog=MvcAPI-New;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	  <add name="OrderEntities" connectionString="metadata=res://*/Order.csdl|res://*/Order.ssdl|res://*/Order.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DESKTOP-AI529E7\AXON1;Initial Catalog=MvcAPI-New;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	  <add name="PlanningEntities" connectionString="metadata=res://*/Planning.csdl|res://*/Planning.ssdl|res://*/Planning.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DESKTOP-AI529E7\AXON1;Initial Catalog=MvcAPI-New;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	  <add name="PurchaseEntities" connectionString="metadata=res://*/Purchase.csdl|res://*/Purchase.ssdl|res://*/Purchase.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DESKTOP-AI529E7\AXON1;Initial Catalog=MvcAPI-New;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	  <add name="ProcessEntities" connectionString="metadata=res://*/Process.csdl|res://*/Process.ssdl|res://*/Process.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DESKTOP-AI529E7\AXON1;Initial Catalog=MvcAPI-New;Integrated Security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	  <add name="ProductionEntities" connectionString="metadata=res://*/Production.csdl|res://*/Production.ssdl|res://*/Production.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DESKTOP-AI529E7\AXON1;Initial Catalog=MvcAPI-New;Integrated Security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="aspnet:MaxJsonDeserializerMembers" value="150000" />
  </appSettings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.web>
    <httpRuntime requestPathInvalidCharacters="" />
    <compilation debug="true" targetFramework="4.5">
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </buildProviders>
      <assemblies>
        <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <!--<add assembly="log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />-->
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <!--<add assembly="CrystalDecisions.ReportAppServer.Controllers, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.ReportAppServer.DataDefModel, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />-->
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
      </assemblies>
    </compilation>
    <customErrors mode="Off" defaultRedirect="Error" />
    <globalization uiCulture="en" culture="en-GB" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <authentication mode="Forms">
      <forms loginUrl="~/Login/LoginIndex" timeout="500" slidingExpiration="true" />
      <!--defaultUrl="/BulkOrder/BulkOrderIndex"-->
    </authentication>
    <membership defaultProvider="MyMembershipProvider">
      <providers>
        <clear />
        <add name="MyMembershipProvider" type="AxonApparels.MyMembershipProvider" />
      </providers>
    </membership>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
    <add verb="*" path="routes.axd" type="AttributeRouting.Web.Logging.LogRoutesHandler, AttributeRouting.Web" /></httpHandlers>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
    <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    <add name="AttributeRouting" path="routes.axd" verb="*" type="AttributeRouting.Web.Logging.LogRoutesHandler, AttributeRouting.Web" /><remove name="ExtensionlessUrlHandler-Integrated-4.0" /><remove name="OPTIONSVerbHandler" /><remove name="TRACEVerbHandler" /><add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" /></handlers>
	  <httpProtocol>
		  <customHeaders>
			  <add name="Access-Control-Allow-Origin" value="*" />
			  <add name="Access-Control-Allow-Headers" value="Origin, Content-Type, Accept, Authorization" />
			  <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
		  </customHeaders>
	  </httpProtocol>

  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.3.0.0" newVersion="5.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>