@{
    ViewBag.Title = "PurchaseInvoiceIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #tblInvmaingrid_filter
    {
        /*margin-top: -28px;*/
    }

    #tblItemdetails_filter
    {
        /*margin-top: -28px;*/
    }

    #tblPaydetails_filter
    {
        display: none;
    }

    #tblEntryGrndetails_filter
    {
        display: none;
    }

    #tblItemSavedetails_filter
    {
        display: none;
    }

    #tblInvOrddetails_filter
    {
        display: none;
    }

    #tblInvOrdSavedetails_filter
    {
        display: none;
    }
</style>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('#txtFromDate').datepicker({
            dateFormat: 'dd/mm/yy',
            onSelect: function (dateString, txtDate) {
                debugger;
                ListSupplier();
                ListOrdRef();
                ListSuppDcInv();
            }
        });
        $('#txtToDate').datepicker({
            dateFormat: 'dd/mm/yy',
            onSelect: function (dateString, txtDate) {
                debugger;
                ListSupplier();
                ListOrdRef();
                ListSuppDcInv();
            }
        });
        $('#txtissDate').datepicker({ dateFormat: 'dd/mm/yy' });
        $('#txtInvoiceDate').datepicker({ dateFormat: 'dd/mm/yy' });
        $('#txtEntryDate').datepicker({ dateFormat: 'dd/mm/yy' });
    });
</script>



<script src="~/Scripts/jquery.min.js"></script>
<script src="~/AxonScripts/Purchase/PurchaseInvoice.js"></script>
<script src="~/AxonScripts/Common/jquery-3.3.1.js"></script>
<script src="~/AxonScripts/Common/jquery.dataTables.min.js"></script>
<script src="~/AxonScripts/Common/dataTables.scroller.min.js"></script>
<link href="~/AxonScripts/Common/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/AxonScripts/Common/scroller.dataTables.min.css" rel="stylesheet" />

@* Load datatable css *@

<link href="~/build/Login/jquery.dataTables.min.css" rel="stylesheet">
@* Load datatable js *@
@section Scripts{

    <script src="~/build/js/jquery.dataTables.min.js"></script>
    <script>
                                           
    </script>

}
<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>
        <div class="x_panel">





            <div class="x_panel">
                <div class="row">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <form class="form-horizontal form-label-left input_mask">
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 enquiry_edit">
                                        Company
                                    </label>
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                        <select id="ddlMCompany" class="form-control select2" onchange="CMainList();">
                                        </select>
                                    </div>
                                </div>
                                 <div class="form-group">
                                    <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">Invoice </label>
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                        <select id="ddlMInvoice" class="form-control select2" onchange="InvMainList();">
                                        </select>
                                    </div>

                                </div>
                                
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 enquiry_edit" for="ex3">
                                        From Date
                                    </label>
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                        <input type="text" id="txtFromDate" class="form-control" placeholder="Date">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <form class="form-horizontal form-label-left input_mask">
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 enquiry_edit">
                                        Supplier
                                    </label>
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                        <select id="ddlMSupplier" class="form-control select2">
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">Order No</label>
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                        <select id="ddlMOrderNo" class="form-control select2" onchange="SMainList();">
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 enquiry_edit" for="ex3">
                                        To Date
                                    </label>
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                        <input type="text" class="form-control" placeholder="Date" id="txtToDate">
                                    </div>
                                </div>




                            </form>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <form class="form-horizontal form-label-left input_mask">

                               
                                <div class="form-group">
                                     <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">Ref No</label>
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                        <select id="ddlMReferno" class="form-control select2" onchange="SMainList();">
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">Supp Ref No</label>
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                        <select id="ddlMRefno" class="form-control select2" onchange="SuppInvMainList();">
                                        </select>
                                    </div>
                                </div>
                                
                            </form>
                        </div>

                    </div>
                    <div class="row">
                         <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                            <form class="form-horizontal form-label-left input_mask">
                        <div class="form-group">
                                    <div class="maxl" style="margin-left: 10px; margin-top: -5px;">
                                        <label class="radio inline">
                                            <input type="radio" checked value="B" id="optMB" name="MOType" onchange="RadioCClick();">
                                            <span>Buyer</span>
                                        </label>
                                        <label class="radio inline">
                                            <input type="radio" value="S" id="optMS" name="MOType" onchange="RadioCClick();">
                                            <span>Sample</span>
                                        </label>
                                        <label class="radio inline">
                                            <input type="radio" value="G" id="optMG" name="MOType" onchange="RadioCClick();">
                                            <span>General</span>
                                        </label>

                                        <label class="radio inline" style="margin-left: 0px;">
                                            <input type="radio" value="R" id="optMR" name="MOType" onchange="RadioCClick();">
                                            <span>Special Req</span>
                                        </label>
                                    </div>
                                </div>
                                </form>
                             </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <form class="form-horizontal form-label-left input_mask" style="text-align:right">
                                <div class="form-group">
                                    <input type="button" class="btn btn-success" style="" value="List" onclick="List();">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="x_panel">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <button type="button" class="btn btn-primary" data-toggle="modal" id="btnAdd" data-target="#myModal" id="btnaddnew">Add New</button>
                        <div class="x_content">
                            <form class="form-horizontal form-label-left input_mask">
                                <div class="form-group">

                                    <table class="table table-responsive" id="tblInvmaingrid">
                                    </table>
                                </div>
                            </form>
                        </div>
                    </div>
                    @*<div class="col-md-5">
                        <form class="form-horizontal form-label-left input_mask">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-6 col-xs-12 enquiry_edit">
                                    Order No
                                </label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <input type="text" id="txtMOrdNo" class="form-control" placeholder="Order No">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-6 col-xs-12 enquiry_edit">
                                    Ref No
                                </label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <input type="text" id="txtMrefno" class="form-control" placeholder="Ref No">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-6 col-xs-12 enquiry_edit">
                                    Style
                                </label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <input type="text" id="txtMstyle" class="form-control" placeholder="Style">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-7">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-primary ">Issue</button>
                        </div>
                        <div class="col-md-12">
                            <button type="button" class="btn btn-danger ">Closure</button>
                        </div>
                    </div>*@
                </div>

                <div class="modal fade" style="overflow-y:scroll" id="myModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog" style="min-width: 74%">
                        <div class="modal-content">
                            <div class="modal-header">

                                <h4 class="modal-title" id="myModalLabel">Add Purchase Invioce</h4>
                            </div>
                            <div class="x_panel">

                                <div class="x_content">
                                    <div class="row" style="margin-top: -20px;">
                                        <div class="modal-body" style="width: 100%;">
                                            <div class="x_panel" style="padding-top: 5px; padding-bottom: 0px;">
                                                <div class="row">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <form class="form-horizontal form-label-left input_mask">
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-4 col-sm-6 col-xs-12 enquiry_edit">
                                                                        Company
                                                                    </label>
                                                                    <div class="col-md-8 col-sm-9 col-xs-12">
                                                                        <select id="ddlCompany" class="form-control select2" onchange="LoaddropNo();">
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-4 col-sm-6 col-xs-12">Supplier</label>
                                                                    <div class="col-md-8 col-sm-9 col-xs-12">
                                                                        <select id="ddlSupplier" class="form-control select2" onchange="LoadOrderNo();">
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-4 col-sm-6 col-xs-12">Order No</label>
                                                                    <div class="col-md-8 col-sm-9 col-xs-12">
                                                                        <select id="ddlOrderNo" class="form-control select2" onchange="LoadStyle();">
                                                                        </select>
                                                                    </div>
                                                                </div>

                                                                <div class="form-group">
                                                                    <label class="control-label col-md-4 col-sm-6 col-xs-12">Ref No</label>
                                                                    <div class="col-md-8 col-sm-9 col-xs-12">
                                                                        <select id="ddlRefNo" class="form-control select2"></select>
                                                                    </div>
                                                                </div>



                                                            </form>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <form class="form-horizontal form-label-left input_mask">
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-4 col-sm-6 col-xs-12 enquiry_edit">
                                                                        Style
                                                                    </label>
                                                                    <div class="col-md-8 col-sm-9 col-xs-12">
                                                                        <select id="ddlStyle" class="form-control select2" onchange="LoadGrnNo();">
                                                                        </select>
                                                                    </div>
                                                                </div>

                                                                <div class="form-group">
                                                                    <label class="control-label col-md-4 col-sm-6 col-xs-12" id="lblprocessor">GRN No</label>
                                                                    <div class="col-md-8 col-sm-9 col-xs-12">
                                                                        <select id="ddlGrnNo" class="form-control select2" onchange="LoadPoNo();">
                                                                        </select>
                                                                    </div>
                                                                </div>

                                                                <div class="form-group">
                                                                    <label class="control-label col-md-4 col-sm-6 col-xs-12">Pur No</label>
                                                                    <div class="col-md-8 col-sm-9 col-xs-12">
                                                                        <select id="ddlPurNo" class="form-control select2"></select>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-4 col-sm-6 col-xs-12" id="lblFrom">
                                                                        From Date
                                                                    </label>
                                                                    <div class="col-md-8 col-sm-9 col-xs-12">
                                                                        <input type="text" id="txtFrmDate" class="form-control" placeholder="Date">
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <form class="form-horizontal form-label-left input_mask">
                                                                <div class="maxl form-group" style="margin-left: 9px; margin-top: -6px;">
                                                                    <label class="radio inline">
                                                                        <input type="radio" checked value="B" id="optABuyer" name="AddOrd">
                                                                        <span>Buyer Ord</span>
                                                                    </label>
                                                                    <label class="radio inline">
                                                                        <input type="radio" value="S" id="optASample" name="AddOrd">
                                                                        <span>Sample Ord </span>
                                                                    </label>
                                                                </div>
                                                                <div class="maxl form-group" style="margin-left: 9px; margin-top: -6px;">
                                                                    <label class="radio inline">
                                                                        <input type="radio" value="r" id="optASplReq" name="AddOrd">
                                                                        <span>Special Req</span>
                                                                    </label>
                                                                    <label class="radio inline">
                                                                        <input type="radio" value="G" id="optAGen" name="AddOrd">
                                                                        <span>General </span>
                                                                    </label>
                                                                </div>
                                                                <div class="maxl form-group" style="margin-left: 9px; margin-top: -6px;">
                                                                    <label class="radio inline">
                                                                        <input type="radio" value="SP" id="optASPur" name="AddOrd">
                                                                        <span>Sample Purchase</span>
                                                                    </label>

                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-3 col-sm-6 col-xs-12" id="lblToDate">
                                                                        To Date
                                                                    </label>
                                                                    <div class="col-md-5 col-sm-9 col-xs-12">
                                                                        <input type="text" id="txttoDate" class="form-control" placeholder="Date">
                                                                    </div>
                                                                    <div class="col-md-4 col-sm-9 col-xs-12">
                                                                        <button type="button" class="btn btn-success" onclick="LoadGridDetails();">List</button>
                                                                    </div>
                                                                </div>

                                                            </form>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="x_panel" style="width: 99%; margin-left: 5px; margin-top: -20px;">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="x_content">

                                                    <form class="form-horizontal form-label-left input_mask">
                                                        <div class="form-group">

                                                            <table class="table table-responsive" id="tblInvAddgrid">
                                                                <thead>
                                                                    <tr>
                                                                        <th style="display: none;">GrnMasID</th>
                                                                        <th>Supplier</th>
                                                                        <th>Grn No</th>
                                                                        <th>Date</th>
                                                                        <th>Party Delivery No</th>

                                                                        <th></th>
                                                                    </tr>
                                                                </thead>
                                                            </table>


                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="" style="width: 99%; margin-left: 5px;">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="col-md-4">
                                                    </div>
                                                    <div class="col-md-4">
                                                    </div>
                                                    <div class="col-md-4">
                                                        <form class="form-horizontal form-label-left input_mask">
                                                            <div class="form-group" style="float: right;">

                                                                <button type="button" style="margin-right: 34px;" class="btn btn-danger btn-round" id="btninnerclose" data-dismiss="modal">Close</button>
                                                            </div>
                                                            <div class="form-group" style="float: right;">
                                                                <button type="button" class="btn btn-primary" data-backdrop="static" id="btnsubmit" onclick="LoadEntryDetails();">Submit</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>
                </div>

                <div class="modal fade" style="overflow-y:scroll" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false" aria-hidden="true" style="overflow-y: auto;">
                    <div class="modal-dialog" style="min-width: 74%">
                        <div class="modal-content">
                            <div class="modal-header">

                                <h4 class="modal-title" id="myModalLabel1">Purchase Invoice</h4>
                            </div>
                            <div class="x_panel">
                                <div class="x_content">
                                    <div class="row" style="margin-top: -20px;">
                                        <div class="modal-body" style="width: 100%;">
                                            <div class="x_panel" style="padding-top: 5px; padding-bottom: 0px;">
                                                <div class="row">
                                                    <div class="row">
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                            <form class="form-horizontal form-label-left input_mask">
                                                                <div class="form-group">
                                                                    <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 enquiry_edit">
                                                                        Company
                                                                    </label>
                                                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                                        <input type="text" id="txtComp" class="form-control" placeholder="Company" disabled>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group" style="display: none;">
                                                                    <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 enquiry_edit">
                                                                        CompanyId
                                                                    </label>
                                                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                                        <input type="text" id="txtCompanyId" class="form-control" placeholder="CompanyId " disabled>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">Supplier</label>
                                                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                                        <input type="text" id="txtSupp" class="form-control" placeholder="Supplier" disabled>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group" style="display: none;">
                                                                    <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">SupplierId</label>
                                                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                                        <input type="text" id="txtSuppId" class="form-control" placeholder="SupplierId" disabled>
                                                                    </div>
                                                                </div>
                                                                @*<div class="form-group">
                                                                    <label class="control-label col-md-4 col-sm-6 col-xs-12">Invoice No</label>
                                                                    <div class="col-md-8 col-sm-9 col-xs-12">
                                                                        <input type="text" id="txtInvoiceNo" class="form-control" placeholder="Invoice No">
                                                                    </div>
                                                                </div>*@
                                                                <div class="form-group">
                                                                    <div id="txtInvId">
                                                                        <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">Invoice No</label>
                                                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                                            <input type="text" id="txtInvoiceNo" class="form-control" placeholder="Invoice No">
                                                                        </div>
                                                                    </div>
                                                                    <div id="dptInvId">
                                                                        <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">Invoice No</label>
                                                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                                            <select id="ddlInvoiceNo" class="form-control" onchange="LoadBillInvNoAmt();"></select>
                                                                            <input type="text" id="txtInvoiceAmt" class="form-control" placeholder="Invoice Amount" disabled>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">Invoice Date</label>
                                                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                                        <input type="text" id="txtInvoiceDate" class="form-control" placeholder="Invoice Date">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group" id="optNewBill">
                                                                    <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">New Bill No</label>
                                                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                                        <input type="checkbox" id="chkbillStatus" value="" onclick="LoadNewBill();">
                                                                    </div>
                                                                </div>

                                                            </form>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                            <form class="form-horizontal form-label-left input_mask">
                                                                <div class="form-group" style="">
                                                                    <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">Entry No</label>
                                                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                                        <input type="text" id="txtEntryNo" class="form-control" placeholder="Entry No" disabled>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group" style="">
                                                                    <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">Entry Date</label>
                                                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                                        <input type="text" id="txtEntryDate" class="form-control" placeholder="Entry Date">
                                                                    </div>
                                                                </div>
                                                                @*      <div class="form-group">
                                                                    <label class="control-label col-md-4 col-sm-6 col-xs-12">Grn Details</label>
                                                                    <div class="col-md-8 col-sm-9 col-xs-12">
                                                                        <select id="ddlGrnDetails" class="form-control" disabled>
                                                                        </select>
                                                                    </div>
                                                                </div>*@
                                                                <div class="form-group">

                                                                    <table class="table table-responsive" id="tblEntryGrndetails">
                                                                        <thead>
                                                                            <tr>
                                                                                <th style="display: none;">PurInvDcId</th>
                                                                                <th style="display: none;">GrnMasId</th>
                                                                                <th>GRN No</th>
                                                                                <th>Party Delivery No</th>
                                                                                <th>Date</th>

                                                                            </tr>
                                                                        </thead>
                                                                    </table>
                                                                </div>
                                                            </form>
                                                        </div>


                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="x_panel" style="margin-top: -16px; ">
                                        <div class="x_content">
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <h2 style="margin-top: -6px;">Item Details</h2>
                                                </div>
                                                @* <div class="col-md-4" style="float: right;">
                                                    <button type="button" class="btn btn-primary">Show PO</button>
                                                </div>*@
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <div class="x_content">

                                                        <div class="form-group">

                                                            <table class="table table-responsive" id="tblItemdetails">
                                                                <thead>
                                                                    <tr>

                                                                        <th style="display: none;">PurInvId</th>
                                                                        <th style="display: none;">PurInvDetId</th>
                                                                        <th style="display: none;">PurGrnMasId</th>
                                                                        <th>Item</th>
                                                                        <th>Color</th>
                                                                        <th>Size</th>
                                                                        <th>Received Qty</th>
                                                                        <th>Bal Qty</th>
                                                                        <th>Unit</th>
                                                                        <th>Rate</th>
                                                                        <th style="display: none;">GrnDetId</th>
                                                                        <th>CGST</th>
                                                                        <th>SGST</th>
                                                                        <th>IGST</th>
                                                                        <th>CGSTAMT</th>
                                                                        <th>SGSTAMT</th>
                                                                        <th>IGSTAMT</th>
                                                                        <th>HSNCODE</th>
                                                                        <th style="display: none;">ItemId</th>
                                                                        <th style="display: none;">ColorId</th>
                                                                        <th style="display: none;">SizeId</th>
                                                                        <th style="display: none;">UomId</th>
                                                                        <th>InvQty</th>
                                                                        <th>InvRate</th>
                                                                        <th>InvAmt</th>
                                                                        <th>DiffRate</th>
                                                                        <th>DiffAmt</th>
                                                                        <th>DiffQty</th>
                                                                        <th>DiffQtyAmt</th>

                                                                    </tr>
                                                                </thead>
                                                            </table>
                                                        </div>
                                                        <div class="form-group">
                                                            <h2 style="margin-top: 7px;">Order Details</h2>
                                                            <table class="table table-responsive" id="tblItemSavedetails" style="display: none">
                                                                <thead>
                                                                    <tr>

                                                                        <th>PurInvId</th>
                                                                        <th>PurInvDetId</th>
                                                                        <th>PurGrnMasId</th>
                                                                        <th>Item</th>
                                                                        <th>Color</th>
                                                                        <th>Size</th>
                                                                        <th>Received Qty</th>
                                                                        <th>Unit</th>
                                                                        <th>Rate</th>
                                                                        <th>GrnDetId</th>
                                                                        <th>CGST</th>
                                                                        <th>SGST</th>
                                                                        <th>IGST</th>
                                                                        <th>CGSTAMT</th>
                                                                        <th>SGSTAMT</th>
                                                                        <th>IGSTAMT</th>
                                                                        <th>HSNCODE</th>
                                                                        <th>ItemId</th>
                                                                        <th>ColorId</th>
                                                                        <th>SizeId</th>
                                                                        <th>UomId</th>
                                                                        <th>InvQty</th>
                                                                        <th>InvRate</th>
                                                                        <th>InvAmt</th>
                                                                        <th>DiffRate</th>
                                                                        <th>DiffAmt</th>
                                                                        <th>DiffQty</th>
                                                                        <th>DiffQtyAmt</th>
                                                                        <th>&nbsp;</th>
                                                                    </tr>
                                                                </thead>
                                                            </table>
                                                        </div>
                                                        <div class="form-group">

                                                            <table class="table table-responsive" id="tblInvOrddetails">
                                                                <thead>
                                                                    <tr>
                                                                        <th style="display: none;">Sno</th>
                                                                        <th style="display: none;">PurInvOrdDetID</th>
                                                                        <th>OrderNo</th>
                                                                        <th>RefNo</th>
                                                                        <th>Style</th>
                                                                        <th>Bal Qty</th>
                                                                        <th>Excess Qty</th>
                                                                        <th>Debit Qty</th>
                                                                        <th>Received Qty</th>
                                                                        <th>Received Rate</th>
                                                                        <th style="display: none;">PurinvID</th>
                                                                        <th>Inv Qty</th>
                                                                        <th style="display: none;">PurInvDetID</th>
                                                                        <th style="display: none;">StyleID</th>

                                                                    </tr>
                                                                </thead>
                                                            </table>
                                                        </div>
                                                        <div class="form-group" style="display: none;">

                                                            <table class="table table-responsive" id="tblInvOrdSavedetails">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Sno</th>
                                                                        <th>PurInvOrdDetID</th>
                                                                        <th>OrderNo</th>
                                                                        <th>RefNo</th>
                                                                        <th>Style</th>
                                                                        <th>Received Qty</th>
                                                                        <th>Received Rate</th>
                                                                        <th>PurinvID</th>
                                                                        <th>Inv Qty</th>
                                                                        <th>PurInvDetID</th>
                                                                        <th>StyleID</th>
                                                                    </tr>
                                                                </thead>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                    <div class="x_panel" style="">
                                        <div class="row">
                                            <div class="x_content" style="margin-top: -10px;">
                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                <h2 style="margin-left: 12px;">Add Less Details </h2>
                                                    <form class="form-horizontal form-label-left input_mask">
                                                        <div class="form-group">
                                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="overflow-x:scroll;">
                                                                <table class="table table-bordered table-hover" border="1">
                                                                <tr>

                                                                    <td>AccountHeads</td>
                                                                    <td>+/-</td>
                                                                    <td>Percentage</td>
                                                                    <td>Amount</td>

                                                                    <td>&nbsp;</td>
                                                                </tr>
                                                                <tr class="mycontainer" id="maincomborow">
                                                                    <td>
                                                                        <select id="ddlAcc" class="form-control" onchange="LoadPlusAdd();">
                                                                        </select>
                                                                        <span class="error">Select AccHeads</span>
                                                                    </td>
                                                                    <td>
                                                                        <input type="text" id="txtPorMins" class="form-control" placeholder="PlusOrMinus" disabled>
                                                                    </td>
                                                                    <td>
                                                                        <input type="text" id="txtPer" class="form-control" placeholder="Percent" onchange="LoadNetAmount();">
                                                                    </td>
                                                                    <td>
                                                                        <input type="text" id="txtAmount" class="form-control" placeholder="Amount">
                                                                    </td>

                                                                    <td>
                                                                        <button class="btn btn-success btn-round" style="width: 20px; padding: 0px; height: 20px; border-radius: 10px;" id="btnImadd" data-toggle="tooltip" data-placement="top" title="Add" type="button"><i class="fa fa-plus"></i></button>
                                                                        <button class="btn btn-success btn-round" style="width: 20px; padding: 0px; height: 20px; border-radius: 10px; display: none;" id="btnImupdate" data-toggle="tooltip" data-placement="top" title="Update" type="button"><i class="fa fa-refresh"></i></button>


                                                                    </td>
                                                                </tr>
                                                            </table>
                                                            </div>
                                                            
                                                            <table class="table table-bordered table-hover" border="1" id="tblPaydetails">
                                                                <thead>
                                                                    <tr>
                                                                        <th>AddlessId
                                                                        </th>
                                                                        <th>AccountsHead
                                                                        </th>
                                                                        <th>+/-
                                                                        </th>
                                                                        <th>Percent
                                                                        </th>
                                                                        <th>Amount
                                                                        </th>
                                                                        <td>&nbsp;</td>
                                                                    </tr>
                                                                </thead>
                                                            </table>


                                                        </div>

                                                    </form>
                                                    <div class="row">
                                                        <div class="row">
                                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                                <form class="form-horizontal form-label-left input_mask">
                                                                    <div class="form-group">
                                                                        <label class="control-label col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                                            Exchange Rate
                                                                        </label>
                                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                                            <input style="" type="text" class="form-control" placeholder="Exchange Rate" id="txtExchangeRate" disabled>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="control-label col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                                            Net Amt
                                                                        </label>
                                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                                            <input style="" type="text" class="form-control" placeholder="Net Amount" id="txtNetAmount" disabled>
                                                                        </div>
                                                                    </div>

                                                                </form>
                                                            </div>
                                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                                <form class="form-horizontal form-label-left input_mask">
                                                                    <div class="form-group">
                                                                        <label class="control-label col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                                            Currency
                                                                        </label>
                                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                                            <input style="" type="text" class="form-control" placeholder="Currency" id="txtCurrency" disabled>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="control-label col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                                            Gross Amt
                                                                        </label>
                                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                                            <input style="" type="text" class="form-control" placeholder="Gross Amount" id="txtGrossAmount" disabled>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group" style="display: none;">
                                                                        <label class="control-label col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                                            CurrencyId
                                                                        </label>
                                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                                            <input style="" type="text" class="form-control" placeholder="CurrencyId" id="txtCurrencyId">
                                                                        </div>
                                                                    </div>


                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

                                                    <form class="form-horizontal form-label-left input_mask" style="">
                                                        <h2>Credits / Debits </h2>
                                                        <div class="form-group" style="margin-top: -3.5px;">
                                                            <table class="table table-bordered table-hover" border="1" id="creditdebittab">
                                                                <tbody>
                                                                    <tr>
                                                                        <th>Head</th>
                                                                        <th>Debit</th>
                                                                        <th>Credit</th>
                                                                        <th>Reason</th>

                                                                    </tr>
                                                                    <tr>
                                                                        <td>Quantity Difference</td>
                                                                        <td>
                                                                            <input type="text" class="form-control" placeholder="Debit Quantity" id="txtDebitQty" disabled=""></td>
                                                                        <td>
                                                                            <input type="text" class="form-control" placeholder="Credit Quantity" id="txtCreditQty" disabled=""></td>
                                                                        <td>
                                                                            <input type="text" class="form-control" placeholder="Qty Reason" id="txtQtyReason"></td>


                                                                    </tr>
                                                                    <tr>
                                                                        <td>Rate Difference</td>

                                                                        <td>
                                                                            <input type="text" class="form-control" placeholder="Debit Rate" id="txtDebitRate" disabled=""></td>
                                                                        <td>
                                                                            <input type="text" class="form-control" placeholder="Credit Rate" id="txtCreditRate" disabled=""></td>
                                                                        <td>
                                                                            <input type="text" class="form-control" placeholder="Rate Reason" id="txtRateReason"></td>

                                                                    </tr>

                                                                </tbody>
                                                            </table>


                                                        </div>
                                                        <div class="form-group" style="">
                                                            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4" style="">Remarks</label>
                                                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                                <textarea class="form-control" rows="4" placeholder="Remarks" id="txtRemarks" style="margin-left: -10px;"></textarea>
                                                            </div>
                                                            
                                                        </div>
                                                         <div class="form-group" style="text-align:right">
                                                            
                                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                                                                <button type="button" class="btn btn-round btn-success" id="Add" onclick="return save();" style="display: none;">Add</button>
                                                                <button type="button" class="btn btn-round btn-success" id="Update" style="" onclick="InvUpdate();">Update</button>
                                                                <button type="button" class="btn btn-round btn-success" id="Delete" style="display: none;" onclick="InvDelete();">Delete</button>

                                                                <button type="button" class="btn btn-round btn-danger" data-dismiss="modal" onclick="ClearAddData();">Close</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="x_content" style="margin-top: -10px;">

                                                <div class="col-md-6">
                                                </div>
                                                <div class="col-md-4"></div>


                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" style="overflow-y:scroll" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false" aria-hidden="true">
                    <div class="modal-dialog" style="min-width: 40%">
                        <div class="modal-content">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>Purchase Invoice</h2>

                                    <div class="clearfix"></div>
                                </div>
                                <div class="row" style="margin: 0;">
                                    <div class="row" style="margin: 0;">

                                        <div class="col-md-8">

                                            <form class="form-horizontal form-label-left input_mask">
                                                <div class="form-group">
                                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">
                                                        Options 
                                                    </label>
                                                    <div class="col-md-2 col-sm-2 col-xs-12" style="">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" id="selectall" value="">All
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                                        <div class="multiselect">

                                                            <select multiple="multiple" id='sbTwo' class="form-control multiselect" style="height: 100px;">
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>




                                            </form>
                                        </div>


                                    </div>
                                </div>

                                <div class="row" style="margin: 0px; float: right;">
                                    <div class="form-group">
                                        <button class="btn btn-success" onclick="SubReport();">Submit</button>
                                        <button class="btn btn-danger" onclick="backtomain();">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="AlertModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top: -30px;">
                            <div class="modal-dialog" style="min-width: 160px">
                                <div class="row">
                                    
                                    <div></div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-2 col-sm-2 col-xs-2"></div>
                                        <div id="dvUserdetails" class="col-md-8 col-sm-8 col-xs-12"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
            </div>
        </div>
    </div>
</div>
