<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="AxonApparel.Repository.Properties.Settings.ApparelTestConnectionString" connectionString="Data Source=LAPTOP-VI3T8LIN\SA;Initial Catalog=ApparelMVCKPR;initial catalog=ApparelMVCKPR;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />-->
    <!--<add name="AxonApparelEntities" connectionString="metadata=res://*/AxonApparel.csdl|res://*/AxonApparel.ssdl|res://*/AxonApparel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=AXON;initial catalog=ApparelMVC;user id=sa;password=Apparelv7;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="ApparelFinyearEntities" connectionString="metadata=res://*/ApparelFinyear.csdl|res://*/ApparelFinyear.ssdl|res://*/ApparelFinyear.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-VI3T8LIN\SA;initial catalog=ApparelFinyear;initial catalog=ApparelMVCKPR;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
      <!--<add name="ApparelFinyearEntities1" connectionString="metadata=res://*/ApparelFinyear.csdl|res://*/ApparelFinyear.ssdl|res://*/ApparelFinyear.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-VI3T8LIN\SA;initial catalog=ApparelFinyear;initial catalog=ApparelMVCKPR;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
      <!--<add name="FasoSCMEntities" connectionString="metadata=res://*/ApparelSCM.csdl|res://*/ApparelSCM.ssdl|res://*/ApparelSCM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.102.174;initial catalog=FasoSCM;user id=sqluser_faso;password=ifaso2019_;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="HouseKeepingEntities" connectionString="metadata=res://*/HouseKeeping.csdl|res://*/HouseKeeping.ssdl|res://*/HouseKeeping.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=AXON;initial catalog=ApparelMvcApi;user id=sa;password=Apparelv7;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MasterEntities" connectionString="metadata=res://*/Master.csdl|res://*/Master.ssdl|res://*/Master.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=AXON;initial catalog=ApparelMvcApi;user id=sa;password=Apparelv7;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="OrderEntities" connectionString="metadata=res://*/Order.csdl|res://*/Order.ssdl|res://*/Order.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=AXON;initial catalog=ApparelMvcApi;user id=sa;password=Apparelv7;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PlanningEntities" connectionString="metadata=res://*/Planning.csdl|res://*/Planning.ssdl|res://*/Planning.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=AXON;initial catalog=ApparelMvcApi;user id=sa;password=Apparelv7;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PurchaseEntities" connectionString="metadata=res://*/Purchase.csdl|res://*/Purchase.ssdl|res://*/Purchase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=AXON;initial catalog=ApparelMvcApi;user id=sa;password=Apparelv7;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ProcessEntities" connectionString="metadata=res://*/Process.csdl|res://*/Process.ssdl|res://*/Process.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=AXON;initial catalog=ApparelMvcApi;user id=sa;password=Apparelv7;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ProductionEntities" connectionString="metadata=res://*/Production.csdl|res://*/Production.ssdl|res://*/Production.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=AXON;initial catalog=ApparelMvcApi;user id=sa;password=Apparelv7;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>