@{
    ViewBag.Title = "Mechendiser Team";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    #tbody_filter {
        margin-top: -28px;
    }

    #tblbuyer_filter {
        display: none;
    }

    #tblemp_filter {
        display: none;
    }

    .add_btn {
        width: 23px;
        padding: 2px;
        height: 22px;
        margin-left: -17px;
    }

    .pad_marg {
        padding: 0;
        margin: 0;
    }
</style>
<script src="~/AxonScripts/MerchandTeam.js"></script>
<script src="~/Scripts/jquery.min.js"></script>

<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Merchandiser Team</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="container">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" data-backdrop="static" data-keyboard="false" onclick="clearTextBox();">Add New </button>
                            <table id="tblmain" class="table table-bordered table-hover">
                            </table>
                        </div>
                        @* Load datatable css *@

                        <link href="~/build/Login/jquery.dataTables.min.css" rel="stylesheet">
                        @* Load datatable js *@
                        @section Scripts{

                            <script src="~/build/js/jquery.dataTables.min.js"></script>
                            <script>
                                           
                            </script>

                        }


                        <div class="modal fade" style="overflow-y:scroll" id="myModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog" style="min-width: 50%">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2>Add Merchand Team</h2>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="modal-body row">
                                        <div class="x_panel">

                                            <div class="row">
                                                <div class="row">
                                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                                        <form class="form-horizontal form-label-left input_mask">

                                                            <div class="form-group">
                                                                <label class="control-label col-md-4 col-sm-3 col-xs-12">Team Name</label>
                                                                <div class="col-md-8 col-sm-9 col-xs-12">
                                                                    <input type="text" id="txtMercName" placeholder="Team Name" class="form-control col-md-10">
                                                                </div>
                                                            </div>

                                                            @*<div class="form-group">
                                                                <label class="control-label col-md-4 col-sm-3 col-xs-12">
                                                                    Buyer
                                                                </label>
                                                                <div class="col-md-8 col-sm-9 col-xs-11">
                                                                    <select id="ddlbuyer" class="form-control">
                                                                    </select>
                                                                </div>
                                                            </div>

                                                            <div class="form-group">
                                                                <label class="control-label col-md-4 col-sm-3 col-xs-12">
                                                                    Merchandiser
                                                                </label>
                                                                <div class="col-md-8 col-sm-9 col-xs-11">
                                                                    <select id="ddlemployee" class="form-control">
                                                                    </select>
                                                                </div>
                                                            </div>*@

                                                        </form>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="">
                                                    <div class="x_content">
                                                        <div class="col-md-6 col-sm-12 col-xs-12">
                                                            <div class="x_panel">
                                                                <h4 style="margin-top: -1px;">Buyer</h4>
                                                                <div class="x_content">
                                                                    <form class="form-horizontal form-label-left input_mask">
                                                                        <div class="form-group">

                                                                            <table class="table table-bordered table-hover" border="1">
                                                                                <tr>
                                                                                    <td>Buyer</td>
                                                                                    <td>&nbsp;</td>
                                                                                </tr>
                                                                                <tr class="mycontainer" id="mainrow">
                                                                                    <td>
                                                                                        <select id="ddlbuyer" class="form-control">
                                                                                        </select>
                                                                                        @*<span class="error">Select Size</span>*@
                                                                                    </td>
                                                                                    <td>
                                                                                        <button class="btn btn-primary add_btn" id="btnbuyeradd" data-toggle="tooltip" data-placement="top" title="Add" type="button"><i class="fa fa-plus"></i></button>
                                                                                        <button class="btn btn-primary add_btn" style="" id="btnbuyerupdate" data-toggle="tooltip" data-placement="top" title="Update" type="button"><i class="fa fa-refresh"></i></button>
                                                                                    </td>
                                                                                </tr>
                                                                            </table>
                                                                            <div id="BuyerList">
                                                                                <table class="table table-responsive" id="tblbuyer" cellspacing="0">
                                                                                    <thead>
                                                                                        <tr>
                                                                                            <th style="display: none;">Sno
                                                                                            </th>
                                                                                            <th style="display: none;">BuyerId
                                                                                            </th>
                                                                                            <th>Buyer
                                                                                            </th>
                                                                                            <th>Action
                                                                                            </th>
                                                                                        </tr>
                                                                                    </thead>

                                                                                </table>
                                                                                <span id="SizeorderItemError" style="color: red"></span>
                                                                            </div>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>

                                                        </div>
                                                        <div class="col-md-6 col-sm-12 col-xs-12">
                                                            <div class=" form-group" id="divcolor">
                                                                <div class="x_panel">
                                                                    <h4 style="margin-top: -1px;">Employee</h4>
                                                                    <div class="x_content">
                                                                        <form class="form-horizontal form-label-left input_mask">
                                                                            <div class="form-group">

                                                                                <table class="table table-bordered table-hover" border="1">
                                                                                    <tr>
                                                                                        <td>Employee</td>
                                                                                        <td>&nbsp;</td>
                                                                                    </tr>
                                                                                    <tr class="mycontainer" id="divemp">
                                                                                        <td>
                                                                                            <select id="ddlemployee" class="form-control">
                                                                                            </select>
                                                                                            @*<span class="error">Select Size</span>*@
                                                                                        </td>
                                                                                        <td>
                                                                                            <button class="btn btn-primary add_btn" id="btnempadd" data-toggle="tooltip" data-placement="top" title="Add" type="button"><i class="fa fa-plus"></i></button>
                                                                                            <button class="btn btn-primary add_btn" style="" id="btnempupdate" data-toggle="tooltip" data-placement="top" title="Update" type="button"><i class="fa fa-refresh"></i></button>
                                                                                            @*<input type="button" id="btnsizeadd" value="Add" style="width: 80px" class="btn btn-success btn-round" />
                                                                                <input type="button" id="btncldupdate" value="Update" style="width: 80px" class="btn btn-success btn-round" />*@
                                                                                        </td>
                                                                                    </tr>
                                                                                </table>
                                                                                <div id="EmpList">
                                                                                    <table class="table table-responsive" id="tblemp" cellspacing="0">
                                                                                        <thead>
                                                                                            <tr>
                                                                                                <th style="display: none;">Sno
                                                                                                </th>
                                                                                                <th style="display: none;">EmpId
                                                                                                </th>
                                                                                                <th>Employee
                                                                                                </th>
                                                                                                <th>Action
                                                                                                </th>
                                                                                            </tr>
                                                                                        </thead>

                                                                                    </table>
                                                                                    <span id="EmpError" style="color: red"></span>
                                                                                </div>
                                                                            </div>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer" style="border: 0px solid">
                                        <button type="button" class="btn btn-success" id="btnAdd" onclick="return Add();">Save</button>
                                        <button type="button" class="btn btn-round btn-success" id="btnUpdate" style="display: none;" onclick="Update();">Update</button>
                                        <button type="button" class="btn btn-round btn-success" id="btnDelete" style="display: none;" onclick="Delete();">Delete</button>
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- /page content -->


