@{
    ViewBag.Title = "TestingTypeIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/AxonScripts/TestingType.js"></script>
<script src="~/Scripts/jquery.min.js"></script>

<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Testing Type</h2>

                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content">
                        <div class="container">
                            @*<h2>Sample Type Record</h2>*@
                            @if (ViewBag.TestingTypeAddFlg == "true")
                            { 
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" data-backdrop="static" data-keyboard="false" onclick="clearTextBox();">Add New Testing Type</button>
                            }
                            else
                            {
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" data-backdrop="static" data-keyboard="false" disabled>Add New Testing Type</button>
                            }
                            <table id="tbody" class="table table-bordered table-hover">
                                @*<thead>
                                    <tr>
                                        <th style="visibility: hidden;">ID
                                        </th>
                                        <th>Country Name
                                        </th>
                                        <th>LookUp
                                        </th>                                        
                                        <th>Status
                                        </th>
                                        <th>Action
                                        </th>
                                    </tr>
                                </thead>*@
                                @*<tbody class="tbody">
                                </tbody>*@
                            </table>
                        </div>
                        @* Load datatable css *@

                        <link href="~/build/Login/jquery.dataTables.min.css" rel="stylesheet">
                        @* Load datatable js *@
                        @section Scripts{
                            <script src="~/build/js/jquery.dataTables.min.js"></script>
                        }

                        <div class="modal fade" style="overflow-y:scroll" id="myModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="x_panel" style="width: 103%;">
                                    <div class="x_title">
                                        <h2>Add Testing Type</h2>

                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="modal-body row">
                                        <div class="x_content">
                                            <div class="x_panel">
                                                <div class="row">
                                                    <form class="form-horizontal form-label-left">
                                                        <div class="form-group" style="display: none;">
                                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Testing type ID</label>
                                                            <div class="col-md-6 col-sm-9 col-xs-12">
                                                                <input type="text" name="TestingTypeID" id="txtTestingTypeID" placeholder="Testing Type Id" class="form-control col-md-10">
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Testing Type <span style="color: red;">*</span></label>
                                                            <div class="col-md-9 col-sm-9 col-xs-12">
                                                                <input type="text" name="Name" id="txttestingtype" placeholder="Testing Type" class="form-control col-md-10">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Per">Type</label>
                                                            <div class="maxl col-md-9 col-sm-9 col-xs-12">
                                                                <label class="radio inline">
                                                                    <input id="rdgar" class="Score" name="garfab" checked type="radio" value="G">
                                                                    <span>Garment </span>
                                                                </label>
                                                                <label class="radio inline">
                                                                    <input id="rdfab" class="Score" name="garfab" type="radio" value="F">
                                                                    <span>Fabric </span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-md-3 col-sm-3 col-xs-12 control-label">
                                                                Status<br>
                                                            </label>

                                                            <div class="col-md-9 col-sm-9 col-xs-12">
                                                                <div class="checkbox">
                                                                    <label>
                                                                        <input type="checkbox" id="Status" value="" style="margin-top: 0px;">
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <span class="text-muted"><em><span style="color: red;">*</span>Indicates required field</em></span>
                                    </div>
                                    <div class="modal-footer" style="border: 0px solid">
                                        <button type="button" class="btn btn-success" id="btnAdd" onclick="return Add();">Save</button>
                                        <button type="button" class="btn btn-success" id="btnUpdate" style="display: none;" onclick="Update();">Update</button>
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->
