@{
    ViewBag.Title = "CuttingReturnStatementReportIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('#txtDeliDate').datepicker();
        $('#txtOrderDate').datepicker();
        $('#txtFromDate').datepicker();
        $('#txtToDate').datepicker();
    });
</script>


<script src="~/AxonScripts/Statement/Production/CuttingReturnStatementReport.js"></script>
<script src="~/Scripts/jquery.min.js"></script>
<script src="~/AxonScripts/Common/jquery-3.3.1.js"></script>
<script src="~/AxonScripts/Common/jquery.dataTables.min.js"></script>
<script src="~/AxonScripts/Common/dataTables.scroller.min.js"></script>
<link href="~/AxonScripts/Common/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/AxonScripts/Common/scroller.dataTables.min.css" rel="stylesheet" />

<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>
        <div class="x_panel">

            <div class="x_panel">
                <div class="x_content">
                    <form class="form-inline">
                        <div class="row">
                            <div class="row">
                                <div style="text-align: center;">
                                    <div class="form-group">
                                        <label style="font-size: 19px; white-space: nowrap; ">
                                            Production Return Statement
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="x_panel">
                <div class="x_content">

                    <div class="row">
                        <div class="row">
                            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12"></div>
                            <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                                <h2 style="text-align:center;">Tracking Options</h2>
                                <div class="">
                                    <form class="form-horizontal form-label-left input_mask">
                                        <div class="form-group">
                                            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                Company
                                            </label>
                                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                <select id="ddlMCompany" class="form-control" ></select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                Unit
                                            </label>
                                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                <select id="ddlMUnit" class="form-control" ></select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                Buyer
                                            </label>
                                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                <select id="ddlMBuyer" class="form-control" ></select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="maxl " style="margin-left:10px; margin-top: -5px;">
                                                <label class="radio inline">
                                                    <input type="radio" checked value="P" name="Ordtype" >
                                                    <span>Bulk Order</span>
                                                </label>
                                                <label class="radio inline">
                                                    <input type="radio" value="W" name="Ordtype" >
                                                    <span>Sample Order</span>
                                                </label>
                                              
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                Order No
                                            </label>
                                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                <select id="ddlMOrderNo" class="form-control" ></select>
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                Ref No
                                            </label>
                                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                <select id="ddlMRefno" class="form-control" ></select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                Style
                                            </label>
                                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                <select id="ddlMStyle" class="form-control" ></select>
                                            </div>
                                        </div>
                                          <div class="form-group">
                                            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                Process
                                            </label>
                                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                <select id="ddlMProcess" class="form-control"></select>
                                            </div>
                                        </div>  
                                        <div class="form-group">
                                            <div class="maxl " style="margin-left:10px; margin-top: -5px;">
                                                <label class="radio inline">
                                                    <input type="radio" checked value="P" name="proctype" >
                                                    <span>Processor</span>
                                                </label>
                                                <label class="radio inline">
                                                    <input type="radio" value="W" name="proctype" >
                                                    <span>Work Division</span>
                                                </label>
                                            </div>
                                        </div>
                                            <div class="form-group">
                                            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                Work Division
                                            </label>
                                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                <select id="ddlMworkdivision" class="form-control" ></select>
                                            </div>
                                        </div>                                  
                                        <div class="form-group">
                                            <div class="maxl " style="margin-left:10px; margin-top: -5px;">
                                                <label class="radio inline">
                                                    <input type="radio" checked value="P" name="Itemtype" >
                                                    <span>Job</span>
                                                </label>
                                                <label class="radio inline">
                                                    <input type="radio" value="W" name="Itemtype" >
                                                    <span>Work</span>
                                                </label>
                                                <label class="radio inline">
                                                    <input type="radio" value="W" name="Itemtype" >
                                                    <span>Sample</span>
                                                </label>
                                               
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                    Job No
                                                </label>
                                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                    <select id="ddlMJobNo" class="form-control" ></select>
                                                </div>
                                            </div>
                                                                                
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                                <h2 style="text-align:center">Filter Options</h2>
                                <div class="">
                                    <form class="form-horizontal form-label-left input_mask">

                                        <div class="form-group">
                                            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                Item
                                            </label>
                                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                <select id="ddlMItem" class="form-control" ></select>
                                            </div>
                                        </div>
                                   
                                        <div class="form-group">
                                            <table class="table table-responsive" id="tblmaindetails" style="margin-left: 10px;width:405px;">
                                                <thead>
                                                    <tr>
                                                        <th>A</th>
                                                        <th>Item</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                              <div class="form-group">
                                            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                Color
                                            </label>
                                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                <select id="ddlMColor" class="form-control" ></select>
                                            </div>
                                        </div>
                                   
                                        <div class="form-group">
                                            <label class="control-label col-lg-3 col-md-3 col-sm-3 col-xs-4">
                                                From Date
                                            </label>
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-8">
                                                <input type="text" id="txtFromDate" class="form-control " placeholder="Date">
                                            </div>
                                            <label class="control-label col-lg-3 col-md-3 col-sm-3 col-xs-4">
                                                To Date
                                            </label>
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-8">
                                                <input type="text" id="txtToDate" class="form-control " placeholder="Date">
                                            </div>

                                        </div>
                                       @* <div class="form-group">
                                            <label class="control-label col-md-2 col-sm-6 col-xs-12">
                                                Show
                                            </label>
                                            <div class="col-md-3 col-sm-9 col-xs-12" style="margin-top: 0px;">
                                                <input type="checkbox" name="vehicle" value="Bike">
                                                Input Also
                                            </div>
                                            <div class="col-md-4 col-sm-9 col-xs-12" style="margin-top: 0px;">
                                                <input type="checkbox" name="vehicle" value="Bike">
                                                Closed Order
                                            </div>
                                            <div class="col-md-3 col-sm-9 col-xs-12" style="margin-top: 0px;">
                                                <input type="checkbox" name="vehicle" value="Bike">
                                                Format II 
                                            </div>
                                        </div>*@
                                  
                                        <div class="form-group" >
                                            <button type="button" class="btn btn-success" onclick="LoadReport();" style="float: right;">Report</button>
                                            @*<button type="button" class="btn btn-primary">Export</button>*@
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-1">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

   
            <link href="~/build/Login/jquery.dataTables.min.css" rel="stylesheet">
            @* Load datatable js *@
            @section Scripts{

                <script src="~/build/js/jquery.dataTables.min.js"></script>
                <script>
                                           
                </script>

            }

    </div>
</div>
