@{
    ViewBag.Title = "WorkDivisionIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@* margin-top: -29px !important;*@
<style>
   #tbody_filter {
       
    }
</style>



<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.min.js"></script>
<script src="~/AxonScripts/WorkDivision.js"></script>

<!-- page content -->


<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Work Division</h2>
                        
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="container">
                            @*<h2>Departments Record</h2>*@
                            @if (ViewBag.WorkDivionAddFlg == "true")
                            {
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal"  onclick="clearTextBox();">Add New Work Division</button>
                            }
                            else
                            {
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal"  disabled  >Add New Work Division</button>
                            }
                         
                               <table id="tbody" class="table table-bordered table-hover">
                                @*<thead>
                                    <tr>
                                        <th style="visibility: hidden;">ID
                                        </th>
                                        <th>Buyer Name
                                        </th>
                                        <th>Address
                                        </th>
                                        <th>City
                                        </th>
                                        <th>Status
                                        </th>
                                        <th>Action
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class="tbody">
                                </tbody>*@
                            </table>
                        </div>
                     @* Load datatable css *@

                <link href="~/build/Login/jquery.dataTables.min.css" rel="stylesheet">
                @* Load datatable js *@
                @section Scripts{

                    <script src="~/build/js/jquery.dataTables.min.js"></script>
                    <script>
                                           
                    </script>

                }

                        <div class="modal fade" style="overflow-y:scroll" id="myModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog" style="min-width: 0px;">

                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2>Add Work Division</h2>
                                        
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">
                                    <div class="x_panel">
                                           <div class="rowAdd Store">
                                        <form class="form-horizontal form-label-left">
                                            <div class="form-group" style="display:none;">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12">WorkDivision ID</label>
                                                <div class="col-md-9 col-sm-9 col-xs-12">
                                                    <input type="text" name="WorkDivisionId" id="WorkDivisionID" placeholder="WorkDivision Id" class="form-control col-md-10">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Work Division

                                                <span style="color:red;"> *</span></label>
                                                <div class="col-md-9 col-sm-9 col-xs-12">
                                                    <input type="text" name="Name" id="Name" placeholder="Work Division Name" class="form-control col-md-10">
                                                </div>
                                            </div>
                                             <div class="form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Division Type<span style="color:red;"> *</span></label>
                                                <div class="col-md-9 col-sm-9 col-xs-12">
                                                            <select id="ddldivtype" class="form-control">
                                                               <option value="0">--Select Division Type--</option>
                                                                <option value="C">Cutting</option>
                                                                <option value="S">Sewing</option>  
                                                                <option value="O">Others</option>    
  
                                                            </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12 enquiry_edit">
                                            Company Unit
                                        </label>
                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            <select id="ddlCompanyUnit"  class="form-control select2" onchange="">
                                            </select>
                                        </div>
                                    </div>

                                            <div class="form-group">
                                                <label class="col-md-3 col-sm-3 col-xs-12 control-label">
                                                    Status
                                                    <br>
                                                </label>

                                                <div class="col-md-9 col-sm-9 col-xs-12">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" id="Status" value="">
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </form>
                                          </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                     <span class="text-muted"><em><span style="color:red;">*</span> Indicates required field</em></span>
                                     </div>    

                                    <div class="modal-footer"  style="border:0px solid">
                                        <button type="button" class="btn btn-success" id="btnAdd" onclick="return Add();">Save</button>
                                        <button type="button" class="btn btn-success" id="btnUpdate" style="display: none;" onclick="Update();">Update</button>
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="AlertModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top: -30px;">
                            <div class="modal-dialog" style="min-width: 160px">
                                <div class="row">
                                    
                                    <div></div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-2 col-sm-2 col-xs-2"></div>
                                        <div id="dvUserdetails" class="col-md-8 col-sm-8 col-xs-12"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
