@{
    ViewBag.Title = "PlanningFabricIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('#txtEntryDate').datepicker();

    })
</script>
<style>
    #tCDbody_wrapper {
        margin-top: -20px;
    }

    #tCFbody {
        margin-top: -9px;
    }

    #tCFbody_filter {
        display: none;
    }

    #tCFbody_info {
        display: none;
    }

    #tblcompfabricloss_length {
        display: none;
    }

    #tblcompfabricloss_filter {
        display: none;
    }

    #tblcompfabricloss_info {
        display: none;
    }

    #tblcompfabricloss_paginate {
        display: none;
    }

    #tCDbody_filter {
        display: none;
    }

    #tCDbody_length {
        display: none;
    }

    #tCDbody_info {
        display: none;
    }

    #tCDbody_paginate {
        display: none;
    }
</style>



<script src="~/AxonScripts/Planning/PlanningFabric.js"></script>
<script src="~/Scripts/jquery.min.js"></script>
<script src="~/AxonScripts/Common/jquery-3.3.1.js"></script>
<script src="~/AxonScripts/Common/jquery.dataTables.min.js"></script>
<script src="~/AxonScripts/Common/dataTables.scroller.min.js"></script>
<link href="~/AxonScripts/Common/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/AxonScripts/Common/scroller.dataTables.min.css" rel="stylesheet" />

<div class="right_col" role="main">
    <div class="">

        <div class="clearfix"></div>


        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">


                    <div class="x_title">
                        <h2>Fabric Planning</h2>
                        @*<ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                           <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Settings 1</a>
                                    </li>
                                    <li><a href="#">Settings 2</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>*@
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>

                    <div class="x_panel">
                        <div class="row">
                            <div class="row">
                                <div class="col-md-4 ">
                                    <form class="form-horizontal form-label-left input_mask">
                                        <div class="form-group">
                                            <label class="control-label col-md-4 col-sm-6 col-xs-12">Company</label>
                                            <div class="col-md-8 col-sm-9 col-xs-12">
                                                <input type="text" class="form-control" placeholder="Company" id="txtCompany" disabled>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-4 col-sm-6 col-xs-12">
                                                Buyer
                                            </label>
                                            <div class="col-md-8 col-sm-9 col-xs-12">
                                                <input type="text" class="form-control" placeholder="Buyer" id="txtBuyer" disabled>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-4 col-sm-6 col-xs-12">
                                                Style
                                            </label>
                                            <div class="col-md-8 col-sm-9 col-xs-12">
                                                <input type="text" class="form-control" placeholder="Style" id="txtStyle" disabled>
                                            </div>

                                        </div>


                                        <div style="display: none; padding: 0px; margin: 0px;">
                                            <div class="form-group" style="visibility: hidden;">
                                                <label class="control-label col-md-2 col-sm-6 col-xs-12">
                                                    BuyOrdMasId
                                                </label>
                                                <div class="col-md-9 col-sm-9 col-xs-12">
                                                    <input type="text" class="form-control" placeholder="Style" id="txtBuyOrdMasId" disabled>
                                                </div>

                                            </div>
                                            <div class="form-group" style="visibility: hidden;">
                                                <label class="control-label col-md-2 col-sm-6 col-xs-12">
                                                    CompanyId
                                                </label>
                                                <div class="col-md-9 col-sm-9 col-xs-12">
                                                    <input type="text" class="form-control" placeholder="Style" id="txtHCompanyId" disabled>
                                                </div>

                                            </div>
                                            <div class="form-group" style="visibility: hidden;">
                                                <label class="control-label col-md-2 col-sm-6 col-xs-12">
                                                    BuyerId
                                                </label>
                                                <div class="col-md-9 col-sm-9 col-xs-12">
                                                    <input type="text" class="form-control" placeholder="Style" id="txtHBuyerId" disabled>
                                                </div>

                                            </div>
                                            <div class="form-group" style="visibility: hidden;">
                                                <label class="control-label col-md-2 col-sm-6 col-xs-12">
                                                    StyleId
                                                </label>
                                                <div class="col-md-9 col-sm-9 col-xs-12">
                                                    <input type="text" class="form-control" placeholder="Style" id="txtHStyleId" disabled>
                                                </div>

                                            </div>
                                            <div class="form-group" style="visibility: hidden;">
                                                <label class="control-label col-md-2 col-sm-6 col-xs-12">
                                                    ItemId
                                                </label>
                                                <div class="col-md-9 col-sm-9 col-xs-12">
                                                    <input type="text" class="form-control" placeholder="Style" id="txtHItemId" disabled>
                                                </div>

                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-2 col-sm-6 col-xs-12">
                                                    PlanId
                                                </label>
                                                <div class="col-md-9 col-sm-9 col-xs-12">
                                                    <input type="text" class="form-control" placeholder="Style" id="txtHPlanId" disabled>
                                                </div>

                                            </div>
                                        </div>
                                    </form>
                                </div>

                                <div class="col-md-4 ">

                                    <form class="form-horizontal form-label-left input_mask">

                                        <div class="form-group">
                                            <label class="control-label col-md-4 col-sm-3 col-xs-12">
                                                Order No
                                            </label>
                                            <div class="col-md-8 col-sm-9 col-xs-12">
                                                <input type="text" class="form-control" placeholder="OrderNo" id="txtOrderNo" disabled>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-4 col-sm-3 col-xs-12" for="txtEntryDate">Ref No</label>
                                            <div class="col-md-8 col-sm-9 col-xs-12">

                                                <input type="text" class="form-control" placeholder="RefNo" id="txtRefNo" disabled>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-4 col-sm-3 col-xs-12" for="txtEntryDate">Item</label>
                                            <div class="col-md-8 col-sm-9 col-xs-12">

                                                <input type="text" class="form-control" placeholder="Item" id="txtItem" disabled>
                                            </div>
                                        </div>

                                    </form>
                                </div>

                                <div class="col-md-4">
                                    <form class="form-horizontal form-label-left input_mask">
                                        <div class="form-group">
                                            <label class="control-label col-md-4 col-sm-6 col-xs-12">
                                                ProdQty
                                            </label>
                                            <div class="col-md-8 col-sm-9 col-xs-12">
                                                <input type="text" class="form-control" placeholder="Style" id="txtProdQty" disabled>
                                            </div>


                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-4 col-sm-3 col-xs-12" for="txtEntryDate">Entry Date</label>
                                            <div class="col-md-8 col-sm-9 col-xs-12">
                                                <input type="text" class="form-control" placeholder="Entry Date" id="txtEntryDate">
                                            </div>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>



                    </div>

              
            <link href="~/build/Login/jquery.dataTables.min.css" rel="stylesheet">
            @* Load datatable js *@
            @section Scripts{

                <script src="~/build/js/jquery.dataTables.min.js"></script>
                <script>
                                           
                </script>

            }



                    <div class="x_panel">
                        <div class="">
                            <h2 style="margin-top: -5px;">Components</h2>


                            <div class="x_content">

                                <div class="container" style="margin-top: 0px;">
                                    <table id="tCFbody" class="table table-striped table-bordered"></table>


                                </div>



                            </div>


                        </div>
                    </div>



                    <div class="x_panel">
                        <div class="">
                            <div class="x_content">
                                <h2 style="margin-top: -5px;">Fabric Loss</h2>
                                <form class="form-horizontal form-label-left input_mask">
                                    <div class="form-group">
                                        <table class="table table-bordered table-hover" border="1">
                                            <tr>

                                                <td>Process</td>
                                                <td>Loss%</td>
                                                <td>&nbsp;</td>
                                            </tr>
                                            <tr class="mycontainer" id="maincomborow">
                                                <td>
                                                    <select id="ddlProcess" class="form-control">
                                                    </select>
                                                    <span class="error">Select Process</span>
                                                </td>

                                                <td>
                                                    <input type="text" id="txtLoss" class="form-control" placeholder="Loss">
                                                    <span class="error">Enter Loss</span>
                                                </td>


                                                <td>
                                                    <button class="btn btn-success btn-round" id="btnLossViewAdd" style="width: 20px; padding: 0px; height: 20px; border-radius: 10px;" data-toggle="tooltip" data-placement="top" title="Add" type="button"><i class="fa fa-plus"></i></button>
                                                    <button class="btn btn-success btn-round" id="btnLossViewUpdate" style="width: 20px; padding: 0px; height: 20px; border-radius: 10px; display: none;" data-toggle="tooltip" data-placement="top" title="Update" type="button"><i class="fa fa-refresh"></i></button>


                                                    @* <input type="button" id="btnLossViewAdd btn btn-round" value="Add" style="width: 80px" class="btn btn-success" />
                                                    <input type="button" id="btnLossViewUpdate" value="Update" style="width: 80px; display: none;" class="btn btn-success" />*@
                                                </td>
                                            </tr>
                                        </table>
                                        <div id="CListLoss">
                                            <table class="table table-responsive" id="tblcompfabricloss">
                                                <thead>
                                                    <tr>
                                                        <th>FLPlanID
                                                        </th>
                                                        <th style="visibility: hidden;">ProcessId
                                                        </th>
                                                        <th>Process
                                                        </th>
                                                        <th>Loss%
                                                        </th>
                                                        <th>SlNo
                                                        </th>
                                                        <th>CompSNo</th>
                                                        <td>&nbsp;</td>
                                                    </tr>
                                                </thead>

                                            </table>
                                            <span id="ordercompItemError" style="color: red"></span>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>




                    <div class="x_panel">
                        <div class="">
                            <div class="x_content">
                                <div class="row">
                                    <div class="col-md-3" style="margin-top: -10px;">
                                        <h2>Fabric Details</h2>

                                    </div>
                                    <div class="col-md-7">
                                        <form class="form-horizontal form-label-left input_mask" style="margin-left: -30px;">
                                            <div class="form-group">
                                                <div class="maxl" style="margin-top: -9px;">
                                                    <label class="radio inline" style="margin-left: 20px;">
                                                        <input type="radio" checked value="A" id="optall" name="ALType" onchange="RadioALClick();">
                                                        <span>Apply To All </span>
                                                    </label>
                                                    <label class="radio inline" style="margin-left: 20px;">
                                                        <input type="radio" value="S" id="optsize" name="ALType" onchange="RadioALClick();">
                                                        <span>Apply To Same Size</span>
                                                    </label>
                                                    <label class="radio inline" style="margin-left: 20px;">
                                                        <input type="radio" value="C" id="optcolor" name="ALType" onchange="RadioALClick();">
                                                        <span>Apply To Same Color</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-md-1"></div>
                                    <div class="col-md-1">
                                        <button class="btn btn-success" onclick="loadtable();">Fill</button>
                                    </div>
                                </div>
                                &nbsp;
                                <div class="container">
                                    @*  <table id="tCDbody" class="table table-striped table-bordered"></table>*@
                                    <table class="table table-responsive" id="tCDbody">
                                        <thead>
                                            <tr>
                                                <th>SNo
                                                </th>
                                                <th style="display: none;">FPlanId
                                                </th>
                                                <th style="display: none;">ColorID
                                                </th>
                                                <th>Color
                                                </th>
                                                <th style="display: none;">SizeId
                                                </th>
                                                <th>Size
                                                </th>
                                                <th>Prdn_Qty
                                                </th>
                                                <th>Weight
                                                </th>
                                                <th style="display: none;">Grammage
                                                </th>
                                                <th style="display: none;">FabricID
                                                </th>
                                                <th style="display: none;">GreyWidthID
                                                </th>
                                                <th style="display: none;">FinishWidthID
                                                </th>
                                                <th style="display: none;">FabricType
                                                </th>
                                                <th style="display: none;">PlanID
                                                </th>
                                                <th style="display: none;">CompSlNo
                                                </th>

                                                <th>BColorPQty
                                                </th>
                                                <th>PurQty
                                                </th>
                                                <th>FColorPQty
                                                </th>
                                                <th>PurQty
                                                </th>
                                                <th>PColorPQty
                                                </th>
                                                <th>Finish Gsm
                                                </th>

                                                <td>&nbsp;</td>
                                            </tr>
                                        </thead>

                                    </table>

                                </div>
                             
                                    <table class="table table-responsive" id="tblcompfabdetails" >
                                        <thead>
                                            <tr>

                                                <th>CompSlNo
                                                </th>
                                                <th>PlanID
                                                </th>
                                                <th>CID
                                                </th>
                                                <th>Color
                                                </th>
                                                <th>Size
                                                </th>
                                                <th>SzId
                                                </th>
                                                <th>PrdQty
                                                </th>
                                                <th>Weight
                                                </th>
                                                <th>Grammage
                                                </th>
                                                <th>FabricID
                                                </th>
                                                <th>FabricType
                                                </th>
                                                <th>BColorID
                                                </th>
                                                <th>FColorID
                                                </th>
                                                <th>PColorID
                                                </th>
                                                <th>BColorPQty
                                                </th>
                                                <th>FColorPQty
                                                </th>
                                                <th>FGsm
                                                </th>
                                                <th>GreyWidthID
                                                </th>
                                                <th>FinishWidthID
                                                </th>
                                                <th>FPlanId
                                                </th>

                                                <td>&nbsp;</td>
                                            </tr>
                                        </thead>

                                    </table>
                              
                        
                                       <div class="modal-footer" style="border: none">
                                           <button type="button" class="btn btn-round btn-success" id="Add" onclick="return save();">Add</button>
                                           <button type="button" class="btn btn-round btn-success" id="Update" style="display: none;" onclick="Update();">Update</button>
                                           <button type="button" class="btn btn-round btn-danger" id="Delete" style="display: none;" onclick="Delete();">Delete</button>
                                           <button type="button" class="btn btn-round btn-danger" onclick="FClose();">Close</button>


                                       </div>

                            </div>

                        </div>
                    </div>


                    <!-- /page content -->




                    <!-- footer content -->


                    <!-- /footer content -->
                </div>
            </div>
        </div>
    </div>
</div>
