@{
    ViewBag.Title = "StoreSetupIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
     #tbody_filter {
        
    }
     .add_btn
    {
    width: 20px;
    padding: 2px;
    height: 20px;
     margin-left: -16px;
    }


    #tblSetdetails_filter
    {
        display: none;
    }


</style>

<script type="text/javascript">
    jQuery(document).ready(function ($) {

      
    });
</script>



<script src="~/AxonScripts/StoreSetup.js"></script>
<script src="~/Scripts/jquery.min.js"></script>
<script src="~/AxonScripts/Common/jquery-3.3.1.js"></script>
<script src="~/AxonScripts/Common/jquery.dataTables.min.js"></script>
<script src="~/AxonScripts/Common/dataTables.scroller.min.js"></script>
<link href="~/AxonScripts/Common/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/AxonScripts/Common/scroller.dataTables.min.css" rel="stylesheet" />
<!-- page content -->


<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Store Setup</h2>
                        
                        <div class="clearfix"></div>

                           <div class="row">
                                       <div class="x_content">
                                        <form class="form-horizontal form-label-left">
                                          
                                              <div class="form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Employee</label>
                                                <div class="col-md-4 col-sm-4 col-xs-12">
                                                    <select id="ddlMEmployee" class="form-control select2" onchange="LoadMaingrid();">
                                                   </select>
                                                </div>
                                                <label class="control-label col-md-5 col-sm-5 col-xs-12"></label>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Store</label>
                                                <div class="col-md-4 col-sm-4 col-xs-12">
                                                    <select id="ddlMStore" class="form-control select2" onchange="LoadMaingrid();">
                                                    </select>
                                                </div>
                                                 <label class="control-label col-md-5 col-sm-5 col-xs-12"></label>
                                            </div>
                                        </form>
                                    </div>
                    </div>
                    <div class="x_content">
                        <div class="container">
                            @*<h2>Departments Record</h2>*@
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" data-backdrop="static" data-keyboard="false" onclick="clearTextBox();" @ViewBag.StoreSetupAddFlg>Add New Setup</button>
                            <table id="tbody" class="table table-bordered table-hover">
                                @*<thead>
                                    <tr>
                                        <th style="visibility: hidden;">ID
                                        </th>
                                        <th>Country Name
                                        </th>
                                        <th>LookUp
                                        </th>                                        
                                        <th>Status
                                        </th>
                                        <th>Action
                                        </th>
                                    </tr>
                                </thead>*@
                                @*<tbody class="tbody">
                                </tbody>*@
                            </table>
                        </div>
                  @* Load datatable css *@

                <link href="~/build/Login/jquery.dataTables.min.css" rel="stylesheet">
                @* Load datatable js *@
                @section Scripts{

                    <script src="~/build/js/jquery.dataTables.min.js"></script>
                    <script>
                                           
                    </script>

                }

                        <div class="modal fade" style="overflow-y:scroll" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false" aria-hidden="true">
                         <div class="modal-dialog" style="min-width: 0px;   ">

                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2>Add Setup</h2>
                                        
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_panel">
                                        <div class="row">
                                       <div class="x_content">
                                        <form class="form-horizontal form-label-left">
                                            <div class="form-group" style="display:none;">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Store ID</label>
                                                <div class="col-md-9 col-sm-9 col-xs-12">
                                                    <input type="text" name="txtsectionid" id="SectionstoreID" placeholder="Store Section Id" class="form-control col-md-10">
                                                </div>
                                                <div class="col-md-5" style="visibility:hidden;"></div>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Employee<span style="color:red;"> *</span></label>
                                                <div class="col-md-9 col-sm-9 col-xs-12">
                                                    <select id="ddlEmployee" class="form-control select2" onchange="LoadEmpAdd();">
                                            </select>
                                                </div>
                                                
                                            </div>
                                          
                                           
                                            
                                        </form>
                                    </div>
                                         </div>
                                        <div  class="row">
                                             <div id="SetupList">
                                                <table class="table table-responsive" id="tblSetdetails">
                                                    <thead>
                                                        <tr>
                                                            <th style="display: none;">Setupid
                                                            </th>
                                                             <th style="display: none;">Employeeid
                                                            </th>
                                                            <th style="display: none;">Storeid
                                                            </th>
                                                            <th style="display: none;">Employee
                                                            </th>
                                                             <th>Store
                                                            </th>
                                                            <th>Issue
                                                            </th>
                                                            <th>Receipt
                                                            </th>
                                                            
                                                        </tr>
                                                    </thead>

                                                </table>
                                                <span id="Error" style="color: red"></span>
                                            </div>

                                        </div>


                                    </div>
                                    <div class="form-group">
                                <span class="text-muted"><em><span style="color:red;">*</span> Indicates required field</em></span>
                                </div>    

                                    <div class="modal-footer"  style="border:0px solid">
                                        <button type="button" class="btn btn-success btn1" id="btnAdd" onclick="return Save();">Save</button>
                                        <button type="button" class="btn btn-success btn1" id="btnUpdate" style="display: none;" onclick="Update();">Update</button>
                                        <button type="button" class="btn btn-success btn1" id="btnDelete" style="display: none;" onclick="Delete();">Delete</button>
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="AlertModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top: -30px;">
                            <div class="modal-dialog" style="min-width: 160px">
                                <div class="row">
                                    
                                    <div></div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-2 col-sm-2 col-xs-2"></div>
                                        <div id="dvUserdetails" class="col-md-8 col-sm-8 col-xs-12"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
