



               <div  id="AlertMessage">
            @* <div class="modal fade" id="AlertMessage" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top: -30px;margin-left: 350px;">
                    <div class="modal-dialog" style="min-width: 160px">*@
                   <div >
                           <div class="x_panel" style="border-radius:20px;margin-top: 0px;" >
                               <div class="x_content">
                                    <div class="row" style="margin-top: -20px;">
                                        <div class="modal-body" style="width:auto;">
                                            <div class="" style="padding-top: 5px;padding-bottom: 0px;width: 101%;margin-left: 20px;">
                                                        <div class="col-md-2 col-md-2 col-sm-2 col-xs-2" id="avatar-left">
                                                                <img src="~/images/GIF Avatar/Male/Ani-Success1.gif" id="Avatar_Male_Success1" style="height:125px;width:100px;margin-left:-40px;" class="Avatar" />
                                                                <img src="~/images/GIF Avatar/Male/Ani-Success2.gif" id="Avatar_Male_Success2" style="height:120px;width:75px;" class="Avatar" />
                                                                <img src="~/images/GIF Avatar/Male/Ani-Delete1.gif" id="Avatar_Male_Delete1" style="height:120px;width:75px;" class="Avatar" />
                                                                <img src="~/images/GIF Avatar/Male/Ani-Failed.gif" id="Avatar_Male_Failed" style="height:120px;width:75px;" class="Avatar" />
                                                                <img src="~/images/GIF Avatar/Male/Ani-Anoncement.gif" id="Avatar_Male_Anoncement" style="height:120px;width:75px;" class="Avatar" />
                                                                @*<img src="~/images/GIF Avatar/Male/Ani-StockTranfer.gif" id="Avatar_Male_StockTranfer" style="height:120px;width:75px;" class="Avatar" />*@
                                                                @*<img src="~/images/GIF Avatar/Male/Ani-Truck.gif" id="Avatar_Male_Truck" style="height:80px;margin-left:-40px;" class="Avatar" />*@
                                                        </div>
                                                        <div class="col-md-10 col-md-10 col-sm-10 col-xs-10">
                                                            <label class="control-label col-md-12 col-sm-12 col-xs-12 enquiry_edit" id="AlertlabelMR" style="margin-top:25px;">
                                                            </label>
                                                            <div class="col-md-4 col-sm-12 col-xs-12"></div>
                                                            <div class="col-md-4 col-sm-12 col-xs-12" style="text-align: center">
                                                                       <button type="button" class="btn btn-primary" style="margin-top:10px;" onclick="MsgModalclose();">OK</button>
                                                        
                                                            </div>
                                                        </div>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                           </div>
                                
                               
                       </div>
                           @* </div>
                    </div>*@
                </div>
            <div  id="AlertMessageMaleRight">
             <@*div class="modal fade" data-toggle="modal" data-focus-on="input:first" id="AlertMessageMaleRight" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top: -30px;margin-left: 350px;">
                    <div class="modal-dialog" style="min-width: 160px">*@
                <div >
                           <div class="x_panel" style="border-radius:20px;margin-top: -20px;" >
                               <div class="x_content">
                                    <div class="row" style="margin-top: -20px;">
                                        <div class="modal-body" style="width:auto;">
                                            <div class="" style="padding-top: 5px;padding-bottom: 0px;width: 101%;margin-left: -17px;">
                                                        <div class="col-md-10 col-md-10 col-sm-10 col-xs-10">
                                                            <label class="control-label col-md-12 col-sm-12 col-xs-12 enquiry_edit" id="AlertlabelML" style="margin-top:25px;">
                                                            </label>
                                                            <div class="col-md-2 col-sm-2 col-xs-1"></div>
                                                            <div class="col-md-4 col-sm-5 col-xs-5">
                                                            <button type="button" id="btnConfirmM" class="btn btn-primary " style="margin-top:10px;"  onclick="MsgModalconfirm();">Confirm</button>
                                                            </div>
                                                            <div class="col-md-4 col-sm-4 col-xs-4" style="text-align: center">
                                                                    <button type="button" id="btnokMR" class="btn btn-primary" style="margin-left:-50px;margin-top:10px;" onclick="MsgModalclose();">OK</button>
                                                            <button type="button" id="btnCancelM" class="btn btn-primary " style="margin-top:10px; " onclick="MsgCancel();" >Cancel</button>
                                                        
                                                            </div>
                                                          </div>
                                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" id="avatar-right" style="margin-left: -20px;">
                                                            <img src="~/images/GIF Avatar/Male/Ani-Message.gif" id="Avatar_Male_Message" style="height:120px;width:75px;" class="Avatar" />
                                                            <img src="~/images/GIF Avatar/Male/Ani.gif" id="Avatar_Male_Ani" style="height:120px;width:75px;" class="Avatar" />
                                                        </div>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                           </div>
                                
                              
                    </div>
                        @*    </div>
                    </div>*@
                </div>
            <div  id="AlertMessageFemaleLeft">
            @* <div class="modal fade" data-toggle="modal" data-focus-on="input:first" id="AlertMessageFemaleLeft" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top: -30px;margin-left: 350px;">
                    <div class="modal-dialog" style="min-width: 160px">*@
                <div >
                             <div class="x_panel" style="border-radius:20px;" >
                                <div class="x_content">
                                    <div class="row" style="margin-top: -20px;">
                                        <div class="modal-body" style="width:auto;">
                                            <div class="" style="padding-top: 5px;padding-bottom: 0px;width: 101%;margin-left: 20px;">
                                                        <div class="col-md-2 col-md-2 col-sm-2 col-xs-2" id="avatar-Femaleleft">
                                                                <img src="~/images/GIF Avatar/Female/Ani-Success1.gif" id="Avatar_FeMale_Success1" style="height:125px;width:100px;margin-left:-40px;" class="Avatar" />
                                                                <img src="~/images/GIF Avatar/Female/Ani-Success2.gif" id="Avatar_FeMale_Success2" style="height:120px;width:75px;" class="Avatar" />
                                                                <img src="~/images/GIF Avatar/Female/Ani-Delete1.gif" id="Avatar_FeMale_Delete1" style="height:120px;width:75px;" class="Avatar" />
                                                                <img src="~/images/GIF Avatar/Female/Ani-Failed.gif" id="Avatar_FeMale_Failed" style="height:120px;width:75px;" class="Avatar" />
                                                                <img src="~/images/GIF Avatar/Female/Ani-Anoncement.gif" id="Avatar_FeMale_Anoncement" style="height:120px;width:75px;" class="Avatar" />

                                                                @*<img src="~/images/GIF Avatar/Female/Ani-StockTranfer.gif" id="Avatar_FeMale_StockTranfer" style="height:120px;width:75px;" class="Avatar" />
                                                                <img src="~/images/GIF Avatar/Female/Ani-Truck.gif" id="Avatar_FeMale_Truck" style="height:80px;margin-left:-40px;" class="Avatar" />*@
                                                        </div>
                                                        <div class="col-md-10 col-md-10 col-sm-10 col-xs-10">
                                                            <label class="control-label col-md-12 col-sm-12 col-xs-12 enquiry_edit" id="AlertlabelFR" style="margin-top:25px;">
                                                                
                                                            </label>
                                                            <div class="col-md-4 col-sm-12 col-xs-12"></div>
                                                            <div class="col-md-4 col-sm-12 col-xs-12" style="text-align: center">
                                                                   <button type="button" id="btnOkL" class="btn btn-primary" style="margin-top:10px;" onclick="MsgModalclose();">OK</button>
                                                        
                                                            </div>
                                                         </div>
                                                        </div>
                                            </div>
                                        </div>
                                    </div>
                              </div>
                    </div>
                            </div>
                  @*  </div>
                </div>*@
            <div  id="AlertMessageFeMaleRight">
             @*<div class="modal fade" data-toggle="modal" data-focus-on="input:first" id="AlertMessageFeMaleRight" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top: -30px;margin-left: 350px;">
                    <div class="modal-dialog" style="min-width: 160px">*@
                <div >
                            <div class="x_panel" style="border-radius:20px;" >
                                <div class="x_content">
                                    <div class="row" style="margin-top: -20px;">
                                        <div class="modal-body" style="width:auto;">
                                            <div class="" style="padding-top: 5px;padding-bottom: 0px;width: 101%;margin-left: -17px;">
                                                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                                            <label class="control-label col-md-12 col-sm-12 col-xs-12 enquiry_edit" id="AlertlabelFL" style="margin-top:25px;">
                                                            </label>
                                                            <div style="text-align:left;" id="lblSetval">
                                                            </div>
                                                            <div class="col-md-2 col-sm-2 col-xs-1"></div>
                                                            <div class="col-md-4 col-sm-5 col-xs-5">
                                                                
                                                             <button type="button" id="btnConfirm" class="btn btn-primary " style="margin-top:10px;"  onclick="MsgModalconfirm();">YES</button>
                                                            </div>
                                                            <div class="col-md-4 col-sm-4 col-xs-4" style="text-align: center">
                                                                   <button type="button" id="btnOkR" class="btn btn-primary" style="margin-left:-50px;margin-top:10px;" onclick="MsgModalclose();">OK</button>
                                                           
                                                             <button type="button" id="btnCancel" class="btn btn-primary " style="margin-top:10px; " onclick="MsgCancel();" >NO</button>
                                                             
                                                            </div>
                                                              
                                                        </div>
                                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" id="avatar-Femaleright" style="margin-left: -20px;">
                                                            <img src="~/images/GIF Avatar/Female/Ani-Message.gif" id="Avatar_FeMale_Message" style="height:120px;width:75px;" class="Avatar" />
                                                            <img src="~/images/GIF Avatar/Female/Ani.gif" id="Avatar_FeMale_Ani" style="height:120px;width:75px;" class="Avatar" />
                                                        </div>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                </div>
                    @*</div>
                </div>*@
