 @{
    ViewBag.Title = "BulkOrderIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>

    .header {
    padding: 5px 0 5px 5px;
    border: 1px solid #ebe8e8;
    background-color: #337ab7;
    color: #fff;
    min-height: 30px;
    }
</style>




<!------ Include the above in your HEAD tag ---------->
<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                 

<div class="row col-md-8 col-sm-6 col-xs-12" style="margin-top:30px; border:1px solid #cec8c8; margin:0;">
    <div class="row header">Master Rights Granting</div>
    
    <div class="row" >
        <div class="col-md-5" style="border:1px solid #cec8c8; margin:10px 0 10px 5px;">
            <ul id="tree1">
                
                
                <li><a href="#">Master</a>

                    <ul>
                       <li>Company
                            <ul>
                                <li>Company</li>
                                <li>Production Unit</li>
                                <li>Work Division</li>
                                <li>Store</li>
                                <li>Store Section</li>
                            </ul>
                        </li>
                        <li>Interactors
                            <ul>
                                <li>Company</li>
                                <li>Production Unit</li>
                                <li>Work Division</li>
                                <li>Store</li>
                                <li>Store Section</li>
                            </ul>
                        </li>
                        <li>Item
                            <ul>
                                <li>Company</li>
                                <li>Production Unit</li>
                                <li>Work Division</li>
                                <li>Store</li>
                                <li>Store Section</li>
                            </ul>
                        </li>
                        <li>Order Elements
                            <ul>
                                <li>Company</li>
                                <li>Production Unit</li>
                                <li>Work Division</li>
                                <li>Store</li>
                                <li>Store Section</li>
                            </ul>
                        </li>
                        <li>Commercial
                            <ul>
                                <li>Company</li>
                                <li>Production Unit</li>
                                <li>Work Division</li>
                                <li>Store</li>
                                <li>Store Section</li>
                            </ul>
                        </li>
                        <li>Territory
                            <ul>
                                <li>Company</li>
                                <li>Production Unit</li>
                                <li>Work Division</li>
                                <li>Store</li>
                                <li>Store Section</li>
                            </ul>
                        </li>
                        <li>Employee
                            <ul>
                                <li>Company</li>
                                <li>Production Unit</li>
                                <li>Work Division</li>
                                <li>Store</li>
                                <li>Store Section</li>
                            </ul>
                        </li>
                        <li>Tally
                            <ul>
                                <li>Company</li>
                                <li>Production Unit</li>
                                <li>Work Division</li>
                                <li>Store</li>
                                <li>Store Section</li>
                            </ul>
                        </li>
                        <li>Lab
                            <ul>
                                <li>Company</li>
                                <li>Production Unit</li>
                                <li>Work Division</li>
                                <li>Store</li>
                                <li>Store Section</li>
                            </ul>
                        </li>
                        <li>Documentation
                            <ul>
                                <li>Company</li>
                                <li>Production Unit</li>
                                <li>Work Division</li>
                                <li>Store</li>
                                <li>Store Section</li>
                            </ul>
                        </li>
                        <li>Vehicle
                            <ul>
                                <li>Company</li>
                                <li>Production Unit</li>
                                <li>Work Division</li>
                                <li>Store</li>
                                <li>Store Section</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>Template
                    <ul>
                        <li>Company Maintenance</li>
                        <li>Employees
                            <ul>
                                <li>Reports
                                    <ul>
                                        <li>Report1</li>
                                        <li>Report2</li>
                                        <li>Report3</li>
                                    </ul>
                                </li>
                                <li>Employee Maint.</li>
                            </ul>
                        </li>
                        <li>Human Resources</li>
                    </ul>
                </li>
            </ul>
        </div>
        <script>
            $.fn.extend({
                treed: function (o) {

                    var openedClass = 'glyphicon-minus-sign';
                    var closedClass = 'glyphicon-plus-sign';

                    if (typeof o != 'undefined') {
                        if (typeof o.openedClass != 'undefined') {
                            openedClass = o.openedClass;
                        }
                        if (typeof o.closedClass != 'undefined') {
                            closedClass = o.closedClass;
                        }
                    };

                    //initialize each of the top levels
                    var tree = $(this);
                    tree.addClass("tree");
                    tree.find('li').has("ul").each(function () {
                        var branch = $(this); //li with children ul
                        branch.prepend("<i class='indicator glyphicon " + closedClass + "'></i>");
                        branch.addClass('branch');
                        branch.on('click', function (e) {
                            if (this == e.target) {
                                var icon = $(this).children('i:first');
                                icon.toggleClass(openedClass + " " + closedClass);
                                $(this).children().children().toggle();
                            }
                        })
                        branch.children().children().toggle();
                    });
                    //fire event from the dynamically added icon
                    tree.find('.branch .indicator').each(function () {
                        $(this).on('click', function () {
                            $(this).closest('li').click();
                        });
                    });
                    //fire event to open branch if the li contains an anchor instead of text
                    tree.find('.branch>a').each(function () {
                        $(this).on('click', function (e) {
                            $(this).closest('li').click();
                            e.preventDefault();
                        });
                    });
                    //fire event to open branch if the li contains a button instead of text
                    tree.find('.branch>button').each(function () {
                        $(this).on('click', function (e) {
                            $(this).closest('li').click();
                            e.preventDefault();
                        });
                    });
                }
            });

            //Initialization of treeviews

            $('#tree1').treed();

            $('#tree2').treed({ openedClass: 'glyphicon-folder-open', closedClass: 'glyphicon-folder-close' });

            $('#tree3').treed({ openedClass: 'glyphicon-chevron-right', closedClass: 'glyphicon-chevron-down' });

</script>
       <div class="col-md-6 col-sm-2 col-xs-12">
           <form class="form-horizontal form-label-left input_mask">
                                
                                
                                <div class="form-group">
                                    
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="maxl" style="text-align:center;" >
                                            <label class="radio inline">
                                                <input type="radio" checked value="P" name="proctype" onchange="CMainlist();">
                                                <span>Group</span>                                            </label>
                                            <label class="radio inline">
                                                <input type="radio" value="W" name="proctype" onchange="CMainlist();">
                                                <span>User</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                 <hr />
                                <div class="row col-md-12">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <input type="text" id="txtFromDate" class="form-control " placeholder="User Name">
                                        </div>
                                        </div>
                                    <div class="form-group">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <select multiple size="16" style="width:100%;">
                                                <option value="Admin" selected="selected">Administrator</option>
                                                <option value="User">User</option>
                                            </select>
                                        </div>
                                    </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12" style="padding: 0 0 7px 30px;">
                                            <input type="text" value="Permissions" placeholder="Permissions" />
                                        </div>
                                    </div>
                                    <div class="col-md-8" style="margin:0 0 0 10px;">
                                        <div class="form-group">
                                            <select id="chkveg" multiple="multiple" style="width:172px;">

<option value="cheese">Cheese</option>

<option value="tomatoes">Tomatoes</option>

<option value="mozarella">Mozzarella</option>

<option value="mushrooms">Mushrooms</option>

<option value="pepperoni">Pepperoni</option>

<option value="onions">Onions</option>

</select><br />
 

                                            @*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" onclick="ClearTextbox();" style="margin-bottom: 5px;width: 120px">Menu Rights</button>
                                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal1" onclick="ClearTextbox();" style="margin-bottom: 5px;width: 120px">Master Rights</button>
                                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal2" onclick="ClearTextbox();" style="margin-bottom: 5px;width: 120px">Query Rights</button>
                                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal3" onclick="ClearTextbox();" style="margin-bottom: 5px;width: 120px">Doc. Rights</button>
                                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal4" onclick="ClearTextbox();" style="margin-bottom: 5px;width: 120px">Form Rights</button>
                                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal5" onclick="ClearTextbox();" style="margin-bottom: 5px;width: 120px">Statement</button>
                                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal6" onclick="ClearTextbox();" style="margin-bottom: 5px;width: 120px">Add</button>
                                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal7" onclick="ClearTextbox();" style="margin-bottom: 5px;width: 120px">Edit</button>
                                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal8" onclick="ClearTextbox();" style="margin-bottom: 5px;width: 120px">Remove</button>
                                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal9" onclick="ClearTextbox();" style="margin-bottom: 5px;width: 120px">View All</button>*@
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <button type="button" class="btn btn-primary" value="Save" style="width:70px;" > Save</button><br />
                                        <button type="button" class="btn btn-primary" value="Close" style="width:70px;" > Close</button>
                                    </div>
                                    
                             </div>
                            </form>
       </div>
       
    </div>
</div>






                </div>
            </div>
        </div>
    </div>
</div>
