@{
    ViewBag.Title = "WorkOrderIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    fieldset
    {
        margin: 8px;
        border: 1px solid silver;
        padding: 8px;
        border-radius: 4px;
    }
</style>
<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        @*<div class="page-title">
            <div class="title_left">
                <h3>Department</h3>
            </div>

            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>*@

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Work Order</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            @*<li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Settings 1</a>
                                    </li>
                                    <li><a href="#">Settings 2</a>
                                    </li>
                                </ul>
                            </li>*@
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="container">

                            @*<h2>Departments Record</h2>*@
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Add Work Order</button><br />@*onclick="clearTextBox();"*@
                            <br />
                            <table id="tbody" class="table table-bordered table-hover">
                            </table>
                        </div>

                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog" style="min-width: 74%">
                                <div class="modal-content">
                                    <div class="modal-header">


                                        <button type="button" class="close" data-dismiss="modal">×</button>
                                        <h4 class="modal-title" id="myModalLabel">Add Work Order</h4>
                                    </div>
                                    <div class="x_content">

                                        <div class="row">

                                            <div class="modal-body">

                                                <div class="x_panel">



                                                    <div class="col-sm-4">

                                                        <div class="form-group">
                                                            <label class="control-label col-md-3 col-sm-3 col-xs-6">
                                                                Order No
                                                            </label>
                                                            <div class="col-md-9 col-sm-9 col-xs-12">
                                                                <input type="text" class="form-control" placeholder="Order No">
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-4">

                                                        <div class="form-group">
                                                            <label class="control-label col-md-3 col-sm-3 col-xs-6">
                                                                Ref No
                                                            </label>
                                                            <div class="col-md-9 col-sm-9 col-xs-12">
                                                                <input type="text" class="form-control" placeholder="Ref No">
                                                            </div>
                                                        </div>
                                                    </div>


                                                    <div class="col-sm-4">
                                                        <div class="form-group">
                                                            <label class="control-label col-md-3 col-sm-3 col-xs-6">
                                                                Prod Unit
                                                            </label>
                                                            <div class="col-md-9 col-sm-9 col-xs-12">
                                                                <input type="text" class="form-control" placeholder="Prod Unit">
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <br>
                                                    <div class="col-sm-4">

                                                        <div class="form-group">
                                                            <label class="control-label col-md-3 col-sm-3 col-xs-6">
                                                                Style
                                                            </label>
                                                            <div class="col-md-9 col-sm-9 col-xs-12">
                                                                <input type="text" class="form-control" placeholder="Style">
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-4">

                                                        <label class="control-label col-md-3 col-sm-3 col-xs-6">
                                                            Quantity
                                                        </label>
                                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                                            <input type="text" class="form-control" placeholder=" Quantity">
                                                        </div>
                                                    </div>


                                                    <div class="col-sm-4">

                                                        <label class="control-label col-md-3 col-sm-3 col-xs-6">
                                                            Date
                                                        </label>
                                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                                            <div class="col-md-12 xdisplay_inputx form-group has-feedback">
                                                                <input type="text" class="form-control has-feedback-left" id="single_cal1" placeholder="First Name" aria-describedby="inputSuccess2Status">
                                                                <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                                                                <span id="inputSuccess2Status" class="sr-only">(success)</span>
                                                            </div>
                                                        </div>
                                                    </div>


                                                </div>


                                                <div class="x_content">

                                                    <div class="row">
                                                        <div class="col-md-4 col-xs-8">



                                                            <div class="x_content">
                                                                <div class="x_title">
                                                                    <h2>Work Order </h2>

                                                                    <div class="clearfix"></div>
                                                                </div>

                                                                <form class="form-horizontal form-label-left input_mask">

                                                                    <div class="form-group">
                                                                        <label class="control-label col-md-3 col-sm-3 col-xs-6">
                                                                            Prod Unit
                                                                        </label>
                                                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                                                            <input type="text" class="form-control" placeholder="Prod Unit">
                                                                        </div>
                                                                    </div>


                                                                    <div class="form-group">
                                                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Process Unit</label>
                                                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                                                            <input type="text" class="form-control" placeholder="Process Unit">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                                                            Work No/dt
                                                                        </label>
                                                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                                                            <input type="text" class="form-control" placeholder="Session">
                                                                        </div>
                                                                    </div>



                                                                    <div class="ln_solid"></div>


                                                                </form>
                                                            </div>

                                                        </div>

                                                        <div class="col-md-4 col-xs-8">


                                                            <div class="x_content">
                                                                <div class="x_title">
                                                                    <h2>Base Unit</h2>

                                                                    <div class="clearfix"></div>
                                                                </div>
                                                                <form class="form-horizontal form-label-left">


                                                                    <div class="form-group">
                                                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">UOM </label>
                                                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                                                            <input type="text" class="form-control" placeholder="UOM">
                                                                        </div>
                                                                    </div>

                                                                    <div class="form-group">
                                                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                                                            Convert
                                                                        </label>
                                                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                                                            <input type="text" class="form-control" placeholder="Convert">
                                                                        </div>
                                                                    </div>

                                                                    <div class="form-group">
                                                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Quantity </label>
                                                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                                                            <input type="text" class="form-control" placeholder="Quantity">
                                                                        </div>
                                                                    </div>




                                                                    <div class="ln_solid"></div>


                                                                </form>
                                                            </div>
                                                        </div>


                                                        <div class="col-md-4 col-xs-8">


                                                            <div class="x_content">
                                                                <div class="x_title">
                                                                    <h2>Production</h2>

                                                                    <div class="clearfix"></div>
                                                                </div>
                                                                <form class="form-horizontal form-label-left">


                                                                    <div class="form-group">
                                                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Allowance </label>
                                                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                                                            <input type="text" class="form-control" placeholder="Allowance">
                                                                        </div>
                                                                    </div>

                                                                    <div class="form-group">
                                                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                                                            Tot.Items
                                                                        </label>
                                                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                                                            <input type="text" class="form-control" placeholder="Tot.Items">
                                                                        </div>
                                                                    </div>

                                                                    <div class="form-group">
                                                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Quantity </label>
                                                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                                                            <input type="text" class="form-control" placeholder="Quantity">
                                                                        </div>
                                                                    </div>




                                                                    <div class="ln_solid"></div>


                                                                </form>
                                                            </div>

                                                        </div>


                                                    </div>

                                                </div>

                                                <div class="x_panel">

                                                    <div class="x_content">
                                                        <h2>GRID</h2>
                                                    </div>
                                                </div>


                                                <div class="x_panel">

                                                    <div class="x_content">
                                                        <h2>GRID</h2>
                                                    </div>
                                                </div>



                                                <div class="x_panel">

                                                    <div class="x_content">
                                                        <div class="col-md-6 col-sm-12 col-xs-12 form-group">

                                                            <div class="form-group">
                                                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                                                    Remarks
                                                                </label>

                                                            </div>


                                                            <input type="text" placeholder="Remarks" class="form-control">
                                                        </div>








                                                        <br>
                                                        <br>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-success" id="btnAdd" onclick="return Add();">Add</button>
                                        <button type="button" class="btn btn-primary" id="btnUpdate" style="display: none;" onclick="Update();">Update</button>
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
