@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NewTestPage</title>
</head>
<body>
    <div>
        Authenticated   
    </div>
</body>
</html>
