@{
    ViewBag.Title = "BitCuttingOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #tblcuttingmaingrid_length {
    display:none;
    }
  
     #tblcuttingmaingrid_paginate {
    display:none;
    }
    #tbloutputgrd_filter {
    display:none;
    }
    #tblinputstckgrd_filter {
    display:none;
    }
      #tblcuttingmaingrid_info {
    display:none;
    }
       #tblcuttingmaingrid_filter {
    /*margin-top:-28px;*/
    }
    #tblinputgrd_paginate {
    display:none;
    }
     #tblinputgrd_info {
    display:none;
    }
      #tblinputgrd_length {
    display:none;
    }
    #tblinputgrd_wrapper {
    margin-top:-29px;
    }
    #tblinputstckgrd_length {
    display:none;
    }
     #tblinputstckgrd_info {
    display:none;
    }
      #tblinputstckgrd_paginate {
    display:none;
    }
    #tbloutputgrd_length {
    display:none;
    }
      #tbloutputgrd_paginate{
    display:none;
    }
        #tbloutputgrd_info {
    display:none;
    }

          #tblinputgrd_filter {
    display:none;
    }

</style>
<script type="text/javascript">
    jQuery(document).ready(function ($) {

        PanelProcessIssueEditFlg = @Html.Raw(Json.Encode(ViewBag.PanelProcessIssueEditFlg))
       PanelProcessIssueDeleteFlg = @Html.Raw(Json.Encode(ViewBag.PanelProcessIssueDeleteFlg))
       PanelProcessIssuePrintFlg = @Html.Raw(Json.Encode(ViewBag.PanelProcessIssuePrintFlg))

        $('#txtFromDate').datepicker({
            dateFormat: 'dd/mm/yy',
            onSelect: function (dateString, txtDate) {
                DtChk = true;
                ddlmain();
            }
        });
        $('#txtToDate').datepicker({
            dateFormat: 'dd/mm/yy',
            onSelect: function (dateString, txtDate) {
                DtChk = true;
                ddlmain();
            }
        });
        $('#txtcutheaderdate').datepicker({ dateFormat: 'dd/mm/yy' });
        $('#txtheaderdeldate').datepicker({ dateFormat: 'dd/mm/yy' });
    });
</script>




<script src="~/Scripts/jquery.min.js"></script>
<script src="~/AxonScripts/Production/BitCuttingOrder.js"></script>
<script src="~/AxonScripts/Common/jquery-3.3.1.js"></script>
<script src="~/AxonScripts/Common/jquery.dataTables.min.js"></script>
<script src="~/AxonScripts/Common/dataTables.scroller.min.js"></script>
<link href="~/AxonScripts/Common/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/AxonScripts/Common/scroller.dataTables.min.css" rel="stylesheet" />

        @* Load datatable css *@

                <link href="~/build/Login/jquery.dataTables.min.css" rel="stylesheet">
                @* Load datatable js *@
                @section Scripts{

                    <script src="~/build/js/jquery.dataTables.min.js"></script>
                    <script>
                                           
                    </script>

                }


<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>
        <div class="x_panel">
         
            <div class="x_panel">
                  <div class="row">
                        <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <form class="form-horizontal form-label-left input_mask">
                        <div class="form-group">
                            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                Company
                            </label>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <select id="ddlcutCompany" class="form-control select2" onchange="CMainlist();"></select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                Buyer
                            </label>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <select id="ddlproBuyer" class="form-control select2" onchange="BMainlist();">
                                </select>
                            </div>
                        </div>

                         <div class="form-group">
                            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                Process
                            </label>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <select id="ddlProcess" class="form-control select2" onchange="BMainlist();">
                                </select>
                            </div>
                        </div>
                        <div class="form-group" hidden="hidden">
                            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                Work No
                            </label>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <select id="ddlprounit" class="form-control select2" onchange="JMainlist();"></select>
                            </div>
                        </div>
                           <div class="form-group">
                            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4"  for="ex3">
                          From Date
                            </label>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                 <input type="text" id="txtFromDate" class="form-control " placeholder="Date">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-lg-3 col-md-4 col-sm-3 col-xs-3"  for="ex3">
                                Order Type
                            </label>
                            <div class="col-lg-9 col-md-8 col-sm-9 col-xs-9">
                                 <div class="maxl" style="margin-top:-4px;width:235px">
                                     <label class="radio inline">
                                         <input type="radio" id="optoutwrkord" name="optwrkord" checked value="W" onclick="CMainlist();">
                                         <span>Work Order </span>
                                     </label>
                                     <label class="radio inline">
                                         <input type="radio" id="optoutsamord" name="optwrkord" value="S" onclick="CMainlist();">
                                         <span>Sample Order </span>
                                     </label>
                                 </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">

                    <form class="form-horizontal form-label-left input_mask">
                        <div class="form-group">
                            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                Order No
                            </label>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <select id="ddlcutOrderNo" class="form-control select2" onchange="OMainlist();">
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4" for="txtEntryDate">Ref No</label>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <select id="ddlcutRefNo" class="form-control select2" onchange="RMainlist();">
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div id="Mwork">
                            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4" for="txtEntryDate">Work Div</label>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <select id="ddlcutType" class="form-control select2" onchange="SPMainlist();">                                    
                                </select>
                            </div>
                            </div>
                            <div id="Mprocess">
                            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4" for="txtEntryDate">Processor</label>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <select id="ddlMprocessor" class="form-control select2" onchange="SPMainlist();">                                    
                                </select>
                            </div>
                            </div>
                        </div>
                          <div class="form-group">
                            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4"  for="ex3">
                                To Date
                            </label>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                     <input type="text" class="form-control " placeholder="Date" id="txtToDate">
                            </div>
                        </div>
                       
                    </form>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">

                    <form class="form-horizontal form-label-left input_mask">

                        <div class="form-group">
                            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                Unit
                            </label>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <select id="ddlcutunit" class="form-control select2" onchange="UMainlist();">
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4" for="txtEntryDate">Incharge</label>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <select id="ddlproincharge" class="form-control select2"  onchange="IMainlist();">
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4" for="txtEntryDate">Cut Ord No</label>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <select id="ddlcuttingord" class="form-control select2"  onchange="COMainlist();">                                    
                                </select>
                            </div>
                        </div>
                         <div class="form-group">
                            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                Supplier Type
                            </label>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <div class="maxl" style="margin-top:-4px;">
                                    <label class="radio inline">
                                        <input type="radio" id="optoutint" name="outinternal" checked value="I" onclick="CMainlist();">
                                        <span>Internal </span>
                                    </label>
                                    <label class="radio inline">
                                        <input type="radio" id="optoutext" name="outinternal" value="E" onclick="CMainlist();">
                                        <span>External </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="">
                                <button type="button" class="btn btn-success" style="float:right;" onclick="ListFilter()">List</button>
                            </div>
                        </div>
                    </form>
                </div>
                </div>
            </div>
            </div>
            @*<div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                   <div class="x_panel" >
                         <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="margin-top:-15px;margin-left:-10px;">
                             <h2></h2>
                         </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="margin-top:-15px;">
                    
                </div>
              
                
            </div>

                        </div>
              <div class="ol-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <div class="x_panel" >
                      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="margin-top:-15px;">
                          <h2></h2>
                      </div>
                      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="margin-top:-15px;">
                    
                </div>
            </div>
              </div>
            </div>*@

            <div class="x_panel">
                <div class="form-group">
                    <button type="button" class="btn btn-primary" id="btnaddnew" @ViewBag.PanelProcessIssueAddFlg>Add New</button>
                </div>
                <form class="form-horizontal form-label-left input_mask">
                    <div class="form-group">
                        <table id="tblcuttingmaingrid" class="table table-bordered table-hover">
                        </table>
                    </div>
                </form>
            </div>
            <div  class="modal fade" style="overflow-y:scroll"  id="myModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" style="min-width: 74%">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Add Panel Process Order</h4>
                        </div>
                        <div class="x_panel">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel">
                            <div class="row">
                                 <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <form class="form-horizontal form-label-left input_mask">
                                        <div class="form-group">
                                            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 enquiry_edit">
                                                Company
                                            </label>
                                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                <select id="ddlinnercompany" class="form-control select2" onchange="LoadAddDet();">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">Buyer</label>
                                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                <select id="ddlinnerBuyer" class="form-control select2" onchange="LoadAddDet();">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            
                                             <div class="col-md-12">
                                                 <div class="maxl" style="margin-top: -1px;">
                                        <label class="radio inline">
                                            <input type="radio" id="optproces" name="wrkordnew" onchange="Changedropcont();" checked value="E">
                                            <span>Processor</span>
                                        </label>
                                        <label class="radio inline">
                                            <input type="radio" id="optwrkorder" onchange="Changedropcont();" name="wrkordnew" value="I">
                                            <span>Work Division </span>
                                        </label>
                                    </div>
                                                 </div>
                                        </div>
                                       
                                    </form>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <form class="form-horizontal form-label-left input_mask">
                                        <div class="form-group">
                                            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 enquiry_edit">
                                                Order No
                                            </label>
                                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                <select id="ddlinnerOrderNo" class="form-control select2" onchange="LoadAddDet();">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">Ref No</label>
                                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">                                                
                                                <select id="ddlinnerrefno" class="form-control select2" onchange="LoadAddDet();">
                                            </select>
                                            </div>
                                        </div>
                                      
                                          <div class="form-group">
                                              <div class="" id="innerwork" >
                                                  <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4" >Work Divi</label>
                                                  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                      <select id="ddlinnerWorkdivision" style="margin-top: 3px;width: 183px;" class="form-control select2">
                                                      </select>
                                                  </div>
                                                </div>
                                                <div class="" id="innerprocessor">
                                                    <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4" >Processor</label>
                                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">  
                                                        <select id="ddlprocessor"  style="margin-top: 3px;width: 183px;"  class="form-control select2">
                                                        </select>
                                                    </div>
                                                </div>
                                          </div>
                                     
                                    </form>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <form class="form-horizontal form-label-left input_mask">
                                        <div class="form-group">
                                            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 enquiry_edit">
                                                Unit 
                                            </label>
                                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                <select id="ddlinnercompunit" class="form-control select2">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">Style</label>
                                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                <select id="ddlinnerstyle" class="form-control select2" onchange="LoadAddDet();">
                                                </select>
                                            </div>
                                        </div>
                                         <div class="form-group">
                                            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                Issue Store
                                            </label>
                                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                <select id="ddlissuestore" class="form-control select2">
                                                </select>
                                            </div>
                                        </div>

                                           <div class="form-group">
                                            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">Process</label>
                                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">                                                
                                                <select id="ddlinnerProcess" class="form-control select2" onchange="LoadAddDet();">
                                            </select>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                              
</div>
                            </div>
                        </div>
                                <div class="x_panel" >
                            <div class="row">
                                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
                                   <h2 style="    margin-top: -4px;">Order Type</h2>
                                </div>
                                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-9">
                                    <div class="maxl" style="margin-top: -17px;">
                                        <label class="radio inline">
                                            <input type="radio" id="optworkdiv"  onclick="LoadAddDet();" value="W" name="wrkord" checked >
                                            <span>Work Order</span>
                                        </label>
                                        <label class="radio inline">
                                            <input type="radio" id="optprocesord" name="wrkord" value="S" onclick="LoadAddDet();">
                                            <span>Sample Order </span>
                                        </label>
                                    </div>
                                </div>
                            
                                @*<div class="col-md-3">
                                    <div class="form-group" style="margin-top: 8px;">
                                        &nbsp; &nbsp; &nbsp; &nbsp;
                                      <input type="button" class="btn btn-success" value="List" data-toggle="modal" id="btnlst">
                                    </div>
                                </div>*@
                            </div>
                        </div>
                                <div class="x_panel" >
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="x_content">
                                        <form class="form-horizontal form-label-left input_mask">
                                            <div class="form-group">
                                                <table id="tblcuttingord1" class="table table-bordered table-hover">
                                                </table>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger btn-round" onclick="Close();" id="btncutclose">Close</button>
                        </div>
                    </div>
                </div>
                
            </div>
            <div  class="modal fade" style="overflow-y:scroll" id="myModal1" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog" style="min-width: 76%">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">×</button>
                                <h4 class="modal-title" id="myModalLabel">Add Panel Process Order</h4>
                            </div>
                            <div class="x_panel">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="x_panel" style="padding-top: 5px;">
                                                <div class="row">
                                                    <div class="row">
                                                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                                            <form class="form-horizontal form-label-left input_mask">
                                                                <div class="form-group">
                                                                    <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 enquiry_edit">
                                                                        Company
                                                                    </label>
                                                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                                        <select id="ddlcutheaderCompany" class="form-control" disabled></select>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">Buyer</label>
                                                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                                        <select id="ddlcutheaderBuyer" class="form-control" disabled></select>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">Unit</label>
                                                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                                        <select id="ddlcutheaderUnit" class="form-control" disabled></select>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">Prog.No</label>
                                                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                                        <input type="text" class="form-control" placeholder="Prog.No" id="txtheaderprogno" disabled>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 enquiry_edit">
                                                                        Work Div
                                                                    </label>
                                                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                                        @*<select id="ddlheaderwrkdiv" class="form-control" disabled ></select>*@
                                                                          <input type="text" class="form-control" id="ddlheaderwrkdiv" disabled>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                                            <form class="form-horizontal form-label-left input_mask">
                                                                <div class="form-group">
                                                                    <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 enquiry_edit">
                                                                        Order No
                                                                    </label>
                                                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                                        <select id="ddlheaderordno" class="form-control" disabled></select>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">Ref No</label>
                                                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                                        <input type="text" id="txtheaderrefno" class="form-control" name="optwrkord" disabled>
                                                                        @*<select id="ddlheaderefno" class="form-control"></select>*@
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">Date</label>
                                                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                                        <input type="text" id="txtcutheaderdate" class="form-control " placeholder="Date" disabled>
                                                                    </div>
                                                                </div>

                                                                <div class="form-group">
                                                                    <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">Cut Ord No</label>
                                                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                                        <input type="text" class="form-control" placeholder="Cut OrderNo" id="txtcutheaderordno" disabled>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">Incharge</label>
                                                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                                        <select id="ddlheaderincharge" class="form-control"></select>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                                            <form class="form-horizontal form-label-left input_mask">
                                                                <div class="form-group">
                                                                    <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 enquiry_edit">
                                                                        Style 
                                                                    </label>
                                                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                                        <select id="ddlheaderstyle" class="form-control" disabled></select>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">Work No</label>
                                                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                                        <input type="text" class="form-control" placeholder="Work No" id="txtheaderwrkNo" disabled>
                                                                    </div>
                                                                </div>

                                                                <div class="form-group" hidden="hidden">
                                                                    <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 enquiry_edit">
                                                                        Loss % 
                                                                    </label>
                                                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                                        <input type="text" class="form-control" maxlength="4" placeholder="" id="txtheaderloss">
                                                                    </div>
                                                                </div>

                                                                  <div class="form-group">
                                                                    <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 enquiry_edit">
                                                                        Process
                                                                    </label>
                                                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                                        <input type="text" class="form-control" maxlength="4" placeholder="" id="txtProcess" disabled>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">Issue No</label>
                                                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                                        <input type="text" class="form-control" placeholder="Issue No" id="txtheaderissNo" disabled>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">Del Date</label>
                                                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                                        <input type="text" id="txtheaderdeldate" class="form-control " placeholder="Date" disabled>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                    <div class="x_panel" style="">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">                                           
                                                <div class="x_content">                                                    
                                                        <h2 style="margin-top: -5px; margin-left:-10px;">Input Items</h2>                                                      
                                                    <form class="form-horizontal form-label-left input_mask" style="margin-left:-10px;">
                                                        <div class="form-group">
                                                            <table id="tblinputgrd" class="table table-bordered table-hover">
                                                            </table>
                                                        </div>
                                                    </form>
                                                </div>
                                        </div>
                                    </div>
                                    <div class="x_panel">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="x_content">
                                                    <div class="row">
                                                            <h2 style="margin-top: 0px; ">Stock Info</h2>
                                                        
                                                       @* <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label class="control-label col-md-4 col-sm-6 col-xs-12">Issue Store</label>
                                                                <div class="col-md-8 col-sm-9 col-xs-12">
                                                                    <input type="text" class="form-control" placeholder="Issue Store" id="txtOrderNo">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-5">
                                                            <div class="form-group">
                                                                <label class="control-label col-md-4 col-sm-6 col-xs-12">Latest Process</label>
                                                                <div class="col-md-8 col-sm-9 col-xs-12">
                                                                    <input type="text" class="form-control" placeholder="Latest Process" id="txtOrderNo">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <button type="button" class="btn btn-primary">All Items</button>
                                                        </div>*@
                                                    </div>
                                                    <form class="form-horizontal form-label-left input_mask">
                                                        <div class="form-group" id="divstck">
                                                            <table id="tblinputstckgrd" class="table table-bordered table-hover">
                                                            </table>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="x_panel">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="x_content">
                                                    <div class="row">
                                                            <h2 style="margin-top: 0px;">Output Items</h2>
                                                       
                                                        
                                                      @*  <div class="col-md-4" style="margin-top: -10px;">
                                                            <div class="maxl">
                                                                <label class="radio inline">
                                                                    <input type="radio" checked value="N" id="Pending" name="Revert" onchange="RadioPClick();">
                                                                    <span>Kilo Grams</span>
                                                                </label>
                                                                <label class="radio inline">
                                                                    <input type="radio" checked="" value="Y" id="Closed" name="Revert" onchange="RadioCClick();">
                                                                    <span>Meters </span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <button type="button" class="btn btn-success">Fill</button>
                                                        </div>*@
                                                    </div>
                                                </div>
                                                <form class="form-horizontal form-label-left input_mask">
                                                    <div class="form-group">
                                                        <table id="tbloutputgrd" class="table table-bordered table-hover">
                                                        </table>
                                                    </div>
                                                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" >
                                                                                        <div class="form-group">
                                                                                            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4"  for="txtEntryDate">Tot Input Qty</label>
                                                                                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">

                                                                                                <input type="text" id="txttotwgt" placeholder="Wgt" style="text-align: right; " class="form-control col-md-10" disabled>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>

                                                      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" >
                                                                                        <div class="form-group">
                                                                                            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4" id="lblfabyarn" for="txtEntryDate">Tot Output Qty</label>
                                                                                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">

                                                                                                <input type="text" id="txttotqty" placeholder="Qty" style="text-align: right;" class="form-control col-md-10" disabled>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>


                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="x_panel">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="x_content">
                                                <div class="row">
                                                     <div class="row">
                                                   @* <div class="col-md-6">
                                                        <form class="form-horizontal form-label-left input_mask">
                                                            <div class="form-group">
                                                                <label class="control-label col-md-4 col-sm-6 col-xs-12 enquiry_edit">
                                                                    Vehicle No
                                                                </label>
                                                                <div class="col-md-8 col-sm-9 col-xs-12">
                                                                    <input type="text" class="form-control" placeholder="Vehicle No" id="txtOrderNo">
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>*@
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                        <form class="form-horizontal form-label-left input_mask">
                                                            <div class="form-group">
                                                                <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">Remarks</label>
                                                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                                    <textarea class="form-control" rows="4" placeholder="Remarks" id="txtremarks"></textarea>
                                                                </div>
                                                            </div>
                                                        </form>

                                                    </div>
                                                          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                              <div class="form-group"  style="float: right;margin-top: 49px;margin-right: 7px;border:none;">
                                                                  <button type="button" class="btn btn-success btn-round" id="btnAdd" cursor:"pointer" onclick="return Add();">Add</button>
                                                                  <button type="button" class="btn btn-success btn-round" id="btnUpdate" style="display: none;" cursor:"pointer" onclick="UpdateDetail();">Update</button>
                                                                  <button type="button" class="btn btn-danger btn-round" id="btnmodalclose" cursor:"pointer" onclick="Close();">Close</button>
                                                              </div>
                                                          </div>
                                                     </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="modal fade" id="AlertModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top: -30px;">
                            <div class="modal-dialog" style="min-width: 160px">
                                <div class="row">
                                    
                                    <div></div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-2 col-sm-2 col-xs-2"></div>
                                        <div id="dvUserdetails" class="col-md-8 col-sm-8 col-xs-12"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
        </div>
    </div>
</div>

