@{
    ViewBag.Title = "S1EntryStatementIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/AxonScripts/Statement/Order/S1EntryStatement.js"></script>
<script src="~/Scripts/jquery.min.js"></script>
<script src="~/AxonScripts/Common/jquery-3.3.1.js"></script>
<script src="~/AxonScripts/Common/jquery.dataTables.min.js"></script>
<script src="~/AxonScripts/Common/dataTables.scroller.min.js"></script>
<link href="~/AxonScripts/Common/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/AxonScripts/Common/scroller.dataTables.min.css" rel="stylesheet" />

<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>
        <div class="x_panel">
            <div class="x_panel">
                <div class="x_content">
                    <form class="form-inline">
                        <div class="row">
                            <div class="row">
                                <div class="col-sm-4">
                                </div>
                                <div class="col-sm-4" style="margin-left: 10px;">
                                    <div class="form-group">
                                        <label style="font-size: 19px; white-space: nowrap; text-align: center;">
                                            S1 Entry Statement
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                 <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="x_panel">
                        <h2 style="text-align: center; margin-top: -3px;"><b>Filter Options</b></h2>
                        <div class="row">
                            <div class="row">
                                <div class="col-md-6">
                                    <form class="form-horizontal form-label-left input_mask">
                                      
                                        <div class="form-group">
                                            <label class="control-label col-md-4 col-sm-3 col-xs-12">
                                                Ref No
                                            </label>
                                            <div class="col-md-8 col-sm-9 col-xs-12">
                                                <select id="ddlMRefno" class="form-control">
                                                </select>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-6">
                                    <form class="form-horizontal form-label-left input_mask">
                                        <div class="form-group">
                                        <button type="button" class="btn btn-success" onclick="LoadReport();" style="margin-left: -2px;">Report</button>
                                    </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2"></div>                
            </div>

            <link href="~/build/Login/jquery.dataTables.min.css" rel="stylesheet">
            @* Load datatable js *@
            @section Scripts{
                <script src="~/build/js/jquery.dataTables.min.js"></script>
                <script></script>

            }

        </div>
    </div>
</div>

