@{
    ViewBag.Title = "StockAuditEntryIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #tblStockAuditdetails_wrapper {
        /*margin-top: -33px;*/
    }
    #tblStockAuditdetails_paginate {
    display:none;
    }
      #tblStockAuditdetails_length {
    display:none;
    }
        #tblStockAuditdetails_info {
    display:none;
    }
</style>


<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('#txtFromDate').datepicker({ dateFormat: 'dd/mm/yy' });
        $('#txtToDate').datepicker({ dateFormat: 'dd/mm/yy' });

    })
</script>




<script src="~/Scripts/jquery.min.js"></script>
<script src="~/AxonScripts/Purchase/StockAuditEntry.js"></script>
<script src="~/AxonScripts/Common/jquery-3.3.1.js"></script>
<script src="~/AxonScripts/Common/jquery.dataTables.min.js"></script>
<script src="~/AxonScripts/Common/dataTables.scroller.min.js"></script>
<link href="~/AxonScripts/Common/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/AxonScripts/Common/scroller.dataTables.min.css" rel="stylesheet" />



<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>
        <div class="x_panel">
            <div class="x_title">
                <h2>Stock Audit</h2>
                @*<ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Settings 1</a>
                                    </li>
                                    <li><a href="#">Settings 2</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>*@
                <div class="clearfix"></div>
            </div>
            <div class="x_panel">
                <div class="row">
                     <div class="row">

                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <form class="form-horizontal form-label-left input_mask">
                            <div class="form-group">
                                <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 enquiry_edit">
                                    Company
                                </label>
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                    <select id="ddlCompany" class="form-control" onchange="LoadorderNo();">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">Supplier</label>
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                    <select id="ddlSupplier" class="form-control" onchange="SMainList();">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group" style="display:none;">
                                <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">Buyer</label>
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                    <select id="ddlBuyer" class="form-control" onchange="SMainList();">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">Job Order</label>
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                    <select id="ddlJoborder" class="form-control" onchange="SMainList();">
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <form class="form-horizontal form-label-left input_mask">
                            <div class="form-group">
                                <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 enquiry_edit">
                                    Item
                                </label>
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                    <select id="ddlItem" class="form-control" onchange="SMainList();">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 enquiry_edit">
                                    Sup Type 
                                </label>
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                    <select id="ddlSupType" class="form-control" onchange="SMainList();">
                                        <option value="0">--Select Supplier--</option>
                                        <option value="A">Buyer</option>
                                        <option value="M">Supplier</option>
                                        <option value="M">WorkDivision</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">Item Group</label>
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                    <select id="ddlItemGrp" class="form-control"  onchange="SMainList();">
                                    </select>
                                </div>
                            </div>

                        </form>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <form class="form-horizontal form-label-left input_mask">
                            <div class="form-group">
                                <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 enquiry_edit">
                                    Date 
                                </label>
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                    <input type="text" class="form-control" placeholder="Date" id="txtEntryDate">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">Entry No</label>
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                    <input type="text" class="form-control" placeholder="Entry No" id="txtEntryNo" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 enquiry_edit">
                                    Process 
                                </label>
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                    <select id="ddlProcess" class="form-control"  onchange="SMainList();">
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <form class="form-horizontal form-label-left input_mask">
                            <div class="form-group">
                                <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 enquiry_edit">
                                    Order No 
                                </label>
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                    <select id="ddlOrderNo" class="form-control" onchange="LoadDropDetails();">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">Ref No</label>
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                    <select id="ddlRefNo" class="form-control"  onchange="SMainList();">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 enquiry_edit">
                                    Style 
                                </label>
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                    <select id="ddlStyle" class="form-control"  onchange="SMainList();">
                                    </select>
                                </div>
                            </div>
                        </form>
                         </div>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-lg-6 col-md-8 col-sm-8 col-xs-12">
                    <div class="x_panel" style="padding: 0px; ">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label style="font-size: 17px; white-space: nowrap;">
                                    Order Type
                                </label>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="maxl" style="margin-top: -6px;">
                                <label class="radio inline">
                                    <input type="radio" checked value="B" id="optB" name="MOType" onchange="BMainList();">
                                    <span>Buyer Order</span>
                                </label>
                                <label class="radio inline">
                                    <input type="radio" value="S" id="optS" name="MOType" onchange="SMainList();">
                                    <span>Sample Order </span>
                                </label>
                                <label class="radio inline">
                                    <input type="radio" value="G" id="optG" name="MOType" onchange="GMainList();">
                                    <span>General</span>
                                </label>
                            </div>
                        </div>



                    </div>
                </div>
                  @* Load datatable css *@

                <link href="~/build/Login/jquery.dataTables.min.css" rel="stylesheet">
                @* Load datatable js *@
                @section Scripts{

                    <script src="~/build/js/jquery.dataTables.min.js"></script>
                    <script>
                                           
                    </script>

                }

                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <div class="x_panel" style="padding: 0px;">

                        <div class="col-md-12">
                            <div class="maxl" style="width: 220px; margin-top: -6px;">
                                <label class="radio inline">
                                    <input type="radio" checked value="S" id="optSK" name="SType" onchange="SMainList();">
                                    <span>Store Stock</span>
                                </label>
                                <label class="radio inline">
                                    <input type="radio" value="U" id="optUK" name="SType" onchange="SMainList();">
                                    <span>Unit Stock </span>
                                </label>

                            </div>
                        </div>

                    </div>
                </div>
                <div class="cl-lg-2 col-md-5 col-sm-5 col-xs-9">
                    <div class="form-group" style="">
                        <label class="control-label col-lg-3 col-md-3 col-sm-3 col-xs-3 enquiry_edit">
                            Store 
                        </label>
                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9"">
                            <select id="ddlStore" class="form-control" onchange="OMainList();" >
                            </select>
                        </div>
                    </div>
                </div>
                 <div class="col-lg-1 col-md-1 col-sm-1 col-xs-3">
                <div class="form-group" style="">
                  
                                      <input type="button" class="btn btn-success" value="List" onclick="SMainList();">


                </div>
</div>

            </div>

            <div class="x_panel">
                <h2 style="margin-top: 0px;">Item Detail</h2>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">

                        <div id="CListSU">
                            <table class="table table-responsive" id="tblStockAuditdetails">
                                <thead>
                                    <tr>

                                        <th>AuditDetId</th>
                                        <th>AuditMasid</th>
                                        <th>Type</th>
                                        <th>Item</th>
                                        <th>Size</th>
                                        <th>Color</th>
                                        <th>PUnit</th>
                                        <th>LotNo</th>
                                        <th>StockQty</th>
                                        <th>Shortage</th>
                                        <th>ExcessQty</th>
                                        <th>ActiveQty</th>
                                        <th>ItemId</th>
                                        <th>ColorId</th>
                                        <th>SizeId</th>
                                        <th>PUnitId</th>
                                        <th>StockId</th>
                                        <th>SupplierId</th>
                                        <th>Alloted</th>
                                        <th>Supplier</th>

                                       @* <td>&nbsp;</td>*@
                                    </tr>
                                </thead>

                            </table>



                        </div>
                    </div>
                </div>
                 <div class="row">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label class="control-label col-md-12 col-sm-6 col-xs-12 enquiry_edit">
                                Remarks
                            </label>
                            <div class="col-md-12 col-sm-9 col-xs-12">
                                <textarea class="form-control" rows="3" placeholder="Remarks" id="txtremark"></textarea>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group" style="text-align: right; margin-top: 50px;">
                            <button type="button" class="btn btn-round btn-success" id="Add" onclick="return save();">Add</button>
                            <button type="button" class="btn btn-round btn-success" id="Update" style="display: none;" onclick="Update();">Update</button>
                            <button type="button" class="btn btn-round btn-success" id="Delete" style="display: none;" onclick="Delete();">Delete</button>
                            <button type="button" class="btn btn-round btn-danger" onclick="Close();">Close</button>

                        </div>
                    </div>
                </div>
 </div>


            </div>
            <div class="modal fade" id="AlertModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top: -30px;">
                            <div class="modal-dialog" style="min-width: 160px">
                                <div class="row">
                                    
                                    <div></div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-2 col-sm-2 col-xs-2"></div>
                                        <div id="dvUserdetails" class="col-md-8 col-sm-8 col-xs-12"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
        </div>
    </div>
</div>
