@{
    ViewBag.Title = "StockTransferApprovalIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


   
   
<script type="text/javascript">
    jQuery(document).ready(function ($) {

        $('#txtFromDate').datepicker({ dateFormat: 'dd/mm/yy' });

        $('#txtToDate').datepicker({ dateFormat: 'dd/mm/yy' });
    });
    
 
</script>




<script src="~/Scripts/jquery.min.js"></script>
<script src="~/AxonScripts/Purchase/StockTransferApproval.js"></script>
<script src="~/AxonScripts/Common/jquery-3.3.1.js"></script>
<script src="~/AxonScripts/Common/jquery.dataTables.min.js"></script>
<script src="~/AxonScripts/Common/dataTables.scroller.min.js"></script>
<link href="~/AxonScripts/Common/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/AxonScripts/Common/scroller.dataTables.min.css" rel="stylesheet" />
@*<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">*@

<style>
    /*#tblStockTranItem_filter {
        display: none;
    }*/

    #particularsdetails_info {
        display: none;
    }

    #particularsdetails_length {
        display: none;
    }

    #particularsdetails_paginate {
        display: none;
    }

    #production2table_paginate {
        display: none;
    }

    #production2table_filter {
        display: none;
    }

    #production2table_info {
        display: none;
    }

    #production2table_length {
        display: none;
    }

    #bomtable_filter {
        display: none;
    }

    #production1table_paginate {
        display: none;
    }

    #production1table_filter {
        display: none;
    }

    #production1table_info {
        display: none;
    }

    #production1table_length {
        display: none;
    }

    #process2table_length {
        display: none;
    }

    #process2table_filter {
        display: none;
    }

    #process2table_info {
        display: none;
    }

    #process2table_paginate {
        display: none;
    }

    #process2table_filter {
        display: none;
    }

    #process1table_paginate {
        display: none;
    }

    #process1table_length {
        display: none;
    }

    #process1table_info {
        display: none;
    }

    #process1table_filter {
        display: none;
    }

    #bomtable_length {
        display: none;
    }

    #bomtable_paginate {
        display: none;
    }

    #bomtable_info {
        display: none;
    }

    * {
        box-sizing: border-box;
    }

    body {
        margin: 0;
    }

    .column {
        float: left;
        width: 33.33%;
        padding: 10px;
        height: 300px; /* Should be removed. Only for demonstration */
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
</style>
<!-- page content -->

<div class="right_col" role="main">
    <div class="">

        <div class="clearfix"></div>


        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">


                    <div class="x_title">
                        <h2>Stock Transfer Request Approval </h2>
                      
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="">
                        <div class="x_panel">
                            <div class="row">
                                <div class="row">
                                 @*   <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                                        <form class="form-horizontal form-label-left input_mask">
                                            <div class="form-group">
                                                <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">Company</label>
                                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                    <select id="ddlMCompany" style="width:140px" class="form-control select2" onchange="CMainlist();">
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                    Style
                                                </label>
                                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                    <select id="ddlMStyle" style="width:140px" class="form-control select2" onchange="CMainlist();">
                                                    </select>
                                                </div>
                                            </div>
                                             <div class="form-group">
                                                                 <label class="radio inline col-lg-5 col-md-5 col-sm-5 col-xs-6" style="margin-top: 2px;">

                                                                    <input id="mainbulk" checked  name="OrdType" type="radio" value="B" onchange="Load();">
                                                                    <span>Bulk </span>
                                                                </label>
                                                                <label class="radio inline col-lg-5 col-md-5 col-sm-5 col-xs-6" style="margin-top: 2px;margin-left: -10px;" >
                                                                    <input id="mainsample" name="OrdType" type="radio" value="S" onchange="Load();">
                                                                    <span>Sample </span>
                                                                </label>
                                                                </div>
                                        </form>
                                    </div>*@

                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                                        <form class="form-horizontal form-label-left input_mask">

                                           @* <div class="form-group">
                                                <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4" for="txtEntryDate">Buyer Ref No</label>
                                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">

                                                    <select id="ddlMRefNo" style="width:140px" class="form-control select2" onchange="CMainlist();">
                                                    </select>
                                                </div>
                                            </div>*@

                                            <div class="form-group">
                                                <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                    From Date
                                                </label>
                                                <div class="col-lg-7 col-md-8 col-sm-8 col-xs-8">
                                                    <input type="text" style="width:140px" id="txtFromDate" class="form-control" placeholder="Date">
                                                </div>
                                            </div>

                                        </form>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                                        <form class="form-horizontal form-label-left input_mask">
                                           @* <div class="form-group">
                                                <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                    Order No
                                                </label>
                                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                    <select id="ddlMOrderNo" style="width:140px" class="form-control select2" onchange="OMainList();">
                                                    </select>
                                                </div>
                                            </div>*@
                                            <div class="form-group">
                                                <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4" for="txtEntryDate">To Date</label>
                                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                    <input type="text" style="width:140px" id="txtToDate" class="form-control" placeholder="Date">
                                                </div>
                                            </div>

                                        </form>

                                    </div>
                                    <div class="col-lg-4 col-md-4  col-sm-12 col-xs-12" style="text-align:right">
                                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">

                                            <input type="button" class="btn  btn-primary btn_program" value="Pending" style="width: 92px;" onclick="Pending();">
                                        </div>

                                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">

                                            <input type="button" class="btn btn-primary btn_bom_act" value="Approved" onclick="Approved();">
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="x_panel">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <label id="lblListmain"></label>
                                  
                                    <div class="x_content">
                                        <form class="form-horizontal form-label-left input_mask">
                                            <div class="form-group">
                                                <table id="tblStockTranItem" class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>StockType</th>
                                                <th>Transno</th>
                                                <th>OrderNo</th>
                                                <th>Refno</th>
                                                  <th>Status
                                                </th>
                                                <th>WorkOrdno</th>
                                                <th>Supplier</th>
                                                 <th>Item
                                                </th>
                                                <th>Color
                                                </th>
                                                <th>Size
                                                </th>
                                                <th>UOM
                                                </th>
                                                 <th style="display:none;">StkBalval
                                                </th>
                                                 <th style="display:none;">OrderBalval
                                                </th>
                                                <th>Prg Bal Qty
                                                </th>
                                                
                                                <th>Request Qty
                                                </th>
                                               
                                                 <th>ToOrder
                                                </th>
                                                <th>ToStyle
                                                </th>
                                                <th>OrderBal
                                                </th>

                                                <th>Req.By
                                                </th>
                                                <th>Req.Date
                                                </th>
                                                <th>App.By
                                                </th>
                                                <th>App.Date
                                                </th>
                                                <th>Approve</th>
                                                <th>Cancel</th>
                                                 <th>StkTransferNo </th>
                                                <th style="display:none;">ItemId
                                                </th>
                                                 <th style="display:none;">ColorId
                                                </th>
                                                 <th style="display:none;">SizeId
                                                </th>
                                                <th style="display:none;">StockId
                                                </th>                                   
                                                <th style="display:none;">NewStockId
                                                </th>
                                                <th style="display:none;">ToStyleid
                                                </th>
                                                 <th style="display:none;">StkAppId
                                                </th>
                                            </tr>
                                        </thead>
                                    </table>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                             <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align:right">
                                  <button type="button" class="btn btn-round btn-success" id="Update"  onclick="Update();">Update</button>
                                  <button type="button" class="btn btn-round btn-success" id="Revert" style="display:none;"  onclick="Revert();">Revert</button>
                                 </div>

                            @* Load datatable css *@

                            <link href="~/build/Login/jquery.dataTables.min.css" rel="stylesheet">
                            @* Load datatable js *@
                            @section Scripts{

                                <script src="~/build/js/jquery.dataTables.min.js"></script>
                                <script>
                                           
                                </script>

                            }


                        </div>
                    </div>
             
                    </div>

               
                <div class="modal fade" id="AlertModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top: -30px;">
                            <div class="modal-dialog" style="min-width: 160px">
                                <div class="row">
                                    
                                    <div></div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-2 col-sm-2 col-xs-2"></div>
                                        <div id="dvUserdetails" class="col-md-8 col-sm-8 col-xs-12"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

            </div>


                </div>
            </div>
        </div>
    </div>
</div>
<!-- page content -->
