@{
    ViewBag.Title = "CommonProductionReturnIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #tblprodreturnmaingrid_filter {
    margin-top: -28px;
    } 
    #tblreceipt_filter {
        display: none;
    }
    #tblreceipt_filter {
        margin-top: -29px;
    }

    #tblreason_filter {
        display: none;
    }

    #tblrework_filter {
        display: none;
    }


</style>
<script type="text/javascript">
    jQuery(document).ready(function ($) {

        CommProdRetEditFlg = @Html.Raw(Json.Encode(ViewBag.CommProdRetEditFlg))
        CommProdRetDeleteFlg = @Html.Raw(Json.Encode(ViewBag.CommProdRetDeleteFlg))
        CommProdRetPrintFlg = @Html.Raw(Json.Encode(ViewBag.CommProdRetPrintFlg))

        $('#txtFromDate').datepicker({
            dateFormat: 'dd/mm/yy',
            onSelect: function (dateString, txtDate) {
                DtChk = true;
                companyid = $('#ddlMCompany').val();
                var FDate = $('#txtFromDate').val();
                var TDate = $('#txtToDate').val();

                if ($('#optMinter').is(':checked')) {
                    InterExter = "I";
                }
                else if ($('#optMexter').is(':checked')) {
                    InterExter = "E";
                }
                LoadDDL(companyid, FDate, TDate, InterExter);
            }
        });
        $('#txtToDate').datepicker({
            dateFormat: 'dd/mm/yy',
            onSelect: function (dateString, txtDate) {
                DtChk = true;
                companyid = $('#ddlMCompany').val();
                var FDate = $('#txtFromDate').val();
                var TDate = $('#txtToDate').val();

                if ($('#optMinter').is(':checked')) {
                    InterExter = "I";
                }
                else if ($('#optMexter').is(':checked')) {
                    InterExter = "E";
                }
                LoadDDL(companyid, FDate, TDate, InterExter);
            }
        });
        $('#txtRefDate').datepicker({ dateFormat: 'dd/mm/yy' });
        $('#txtReturnDate').datepicker({ dateFormat: 'dd/mm/yy' });
        LoadItemMovements();
    });
</script>


<script src="~/Scripts/jquery.min.js"></script>
<script src="~/AxonScripts/Production/CommonProductionReturn.js"></script>
<script src="~/AxonScripts/Common/jquery-3.3.1.js"></script>
<script src="~/AxonScripts/Common/jquery.dataTables.min.js"></script>
<script src="~/AxonScripts/Common/dataTables.scroller.min.js"></script>
<link href="~/AxonScripts/Common/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/AxonScripts/Common/scroller.dataTables.min.css" rel="stylesheet" />

<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>
        <div class="x_panel">
                       
            
            <div class="x_panel">
                  <div class="row">
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <form class="form-horizontal form-label-left input_mask">
                        <div class="form-group">
                            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                Company
                            </label>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <select id="ddlMCompany" class="form-control select2" onchange="CMainList();"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                Process
                            </label>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <select id="ddlMProcess" class="form-control select2" onchange="PMainList();">
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="maxl " style="margin-left: 10px;margin-top: -5px;">
                                <label class="radio inline">
                                    <input type="radio" id="" name="optbulksam" checked value="B" >
                                    <span>Bulk Order </span>
                                </label>
                                <label class="radio inline">
                                    <input type="radio" id="" name="optbulksam" value="S">
                                    <span>Sample Order</span>
                                </label>
                            </div>
                        </div>
                      
                        
                    </form>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <form class="form-horizontal form-label-left input_mask">
                       
                        <div class="form-group">
                            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                Prog No
                            </label>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <select id="ddlMProgNo" class="form-control select2" onchange="PGMainList();">
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                Ref No
                            </label>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <select id="ddlMRefNo" class="form-control select2" onchange="OMainList()">
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4" for="ex3">From Date</label>                                   
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <input type="text" id="txtFromDate" class="form-control " placeholder="Date">
                            </div>
                        </div>
                        
                    </form>
                </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <form class="form-horizontal form-label-left input_mask">
                              <div class="form-group">
                            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                Order No
                            </label>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <select id="ddlMOrderNo" class="form-control select2" onchange="OMainList()">
                                </select>
                            </div>
                        </div>
                             <div class="form-group">
                            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                Return No
                            </label>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <select id="ddlMReturnNo" class="form-control select2" onchange="RTMainList()"></select>
                            </div>
                        </div>
                            <div class="form-group">
                            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4" for="ex3">To Date</label>                                   
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <input type="text" class="form-control " placeholder="Date" id="txtToDate">
                            </div>
                        </div>
                        </form>
                  </div>
                <div class="col-lg-2 col-md-12 col-sm-6 col-xs-12">
                    <form class="form-horizontal form-label-left input_mask">
                         
                        <div class="form-group">
                            <div class="maxl " style="margin-top: -7px;">
                                <label class="radio inline" style="margin-left: 10px;">
                                    <input type="radio" id="optMinter" name="optinterexter" checked value="I">
                                    <span>Internal</span>
                                </label>
                                <label class="radio inline">
                                    <input type="radio" id="optMexter" name="optinterexter" value="E">
                                    <span>External</span>
                                </label>
                            </div>
                        </div>
                       <div class="form-group">
                           <input type="button" style="float:right" id="btnlist" class="btn btn-success" onclick="clickonlist()" value="List">
                       </div>
                    </form>
                </div>
                
            </div>
              </div>
          </div>
             @* Load datatable css *@

                <link href="~/build/Login/jquery.dataTables.min.css" rel="stylesheet">
                @* Load datatable js *@
                @section Scripts{

                    <script src="~/build/js/jquery.dataTables.min.js"></script>
                    <script>
                                           
                    </script>

                }

            <div class="x_panel">
                <button type="button" class="btn btn-primary" id="btnaddnew">Add New</button>
                <form class="form-horizontal form-label-left input_mask">
                    <div class="form-group">
                        <table id="tblprodreturnmaingrid" class="table table-bordered table-hover">                            
                        </table>
                    </div>
                </form>

                     <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-md-6 col-sm-6 col-xs-12"><h2 style="font-size:16px;font-weight:600;margin-left: -11px;">Item Movements</h2></div>
                                    <form class="form-horizontal form-label-left input_mask">
                                        <div class="form-group">
                                            <div id="List">
                                                <table class="table table-responsive" id="tblItemMovementdetails">
                                                    <thead>
                                                        <tr>
                                                             <th>Trans No
                                                            </th>
                                                            <th >Item
                                                            </th>
                                                            <th>Color
                                                            </th>
                                                            <th >Size
                                                            </th>
                                                            <th hidden="hidden">Order No
                                                            </th>
                                                            <th >Quantity
                                                            </th>
                                                            <th>Stock Qty
                                                            </th>
                                                            <th >Uom
                                                            </th>
                                                             <th>Issue No
                                                            </th>
                                                            <th >Issue Date
                                                            </th>
                                                             <th>Issue Qty
                                                            </th>
                                                            <th >Store Name</th>
                                                        </tr>
                                                    </thead>

                                                </table>
                                                <span id="ItemError" style="color: red"></span>
                                            </div>
                                        </div>

                                    </form>
                                </div>

                @*<div class="row">
                    <div class="col-md-5">
                        <form class="form-horizontal form-label-left input_mask">
                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-3 col-xs-12">
                                    Order No
                                </label>
                                <div class="col-md-8 col-sm-9 col-xs-12">
                                    <input type="text" id="txtOrderNo" class="form-control " placeholder="Order No">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-3 col-xs-12">
                                    Ref No
                                </label>
                                <div class="col-md-8 col-sm-9 col-xs-12">
                                    <input type="text" id="txtRefNo" class="form-control " placeholder="Ref No">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-3 col-xs-12">
                                    Style
                                </label>
                                <div class="col-md-8 col-sm-9 col-xs-12">
                                    <input type="text" id="txtStyle" class="form-control " placeholder="Style">
                                </div>
                            </div>

                        </form>
                    </div>

                </div>*@
            </div>
            <div class="modal fade" style="overflow-y:scroll" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" style="min-width: 74%">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Production Return</h4>
                        </div>
                        <div class="x_panel" >
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel" >
                                <div class="row">
                                    <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                        <form class="form-horizontal form-label-left input_mask">
                                            <div class="form-group">
                                                <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                    Company
                                                </label>
                                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                    <select id="ddlCompany" class="form-control select2"></select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                    Process
                                                </label>
                                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                    <select id="ddlProcess" class="form-control select2">
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                    Order No
                                                </label>
                                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                    <select id="ddlOrderNo" class="form-control select2"></select>
                                                </div>
                                            </div>


                                            
                                        </form>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                        <form class="form-horizontal form-label-left input_mask">
                                            <div class="form-group" id="lblworkdiv">
                                                <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4" >
                                                    Work Div
                                                </label>
                                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                    <select id="ddlWorkdiv" class="form-control select2" style="width:184px">
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group" style="margin-top: -5px;" id="lblsupplier">
                                                <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4" >
                                                    Supplier
                                                </label>
                                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                    <select id="ddlSupplier" class="form-control select2" style="width:184px">
                                                    </select>
                                                </div>
                                            </div>
                                         @*   <div class="form-group" id="mmm">
                                                <label class="control-label col-md-4 col-sm-3 col-xs-12" id="lblline">
                                                    Line No
                                                </label>
                                                <div class="col-md-8 col-sm-9 col-xs-12">
                                                    <select id="ddlLineNo" class="form-control">
                                                    </select>
                                                </div>
                                            </div>*@
                                            <div class="form-group">
                                                <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                    Style
                                                </label>
                                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                    <select id="ddlStyle" class="form-control select2">
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                 <label class="control-label col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                                    Type
                                                </label>
                                                  <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                                    <div class="maxl" style="width:167px">
                                                    <label class="radio inline">
                                                        <input type="radio" id="optinnerinter" name="optinnerinterexter" checked value="I" onchange="loadAddIntOrExt();" />
                                                        <span>Internal</span>
                                                    </label>
                                                    <label class="radio inline">
                                                        <input type="radio" id="optinnerexter" name="optinnerinterexter" value="E" onchange="loadAddIntOrExt();" />
                                                        <span>External </span>
                                                    </label>
                                                </div>
                                                </div>
                                                
                                            </div>
                                            
                                        </form>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                        <form class="form-horizontal form-label-left input_mask">

                                            <div class="form-group">
                                                <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                    Issue No
                                                </label>
                                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                    <select id="ddlIssueNo" class="form-control select2">
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                    Ref No
                                                </label>
                                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                    <select id="ddlRefNo" class="form-control select2">
                                                    </select>
                                                </div>
                                            </div>
                                           @* <div class="form-group">
                                                <div class="maxl" style="margin-left: 10px;">
                                                    <label class="radio inline">
                                                        <input type="radio" id="optgen" name="optgenswe" checked value="G">
                                                        <span>General</span>
                                                    </label>
                                                    <label class="radio inline">
                                                        <input type="radio" id="optswe" name="optgenswe" value="S">
                                                        <span>Sewing</span>
                                                    </label>
                                                </div>
                                            </div>*@
                                            <div class="form-group">
                                                <div class="maxl" style="margin-left: 10px;">
                                                    <label class="radio inline">
                                                        <input type="radio" id="optwork" name="optwjs" checked value="W" onchange="loadAddIntOrExt();">
                                                        <span>Work</span>
                                                    </label>
                                                    <label class="radio inline">
                                                        <input type="radio" id="optjob" name="optwjs" value="J" onchange="loadAddIntOrExt();">
                                                        <span>Job </span>
                                                    </label>
                                                    <label class="radio inline">
                                                        <input type="radio" id="optsample" name="optwjs" value="S" >
                                                        <span>Sample </span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                            </div>
                                        </form>
                                    </div>
                                        <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                            <form class="form-horizontal form-label-left input_mask">
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6 col-sm-9 col-xs-12">
                                                        <div class="maxl " style="margin-left: 10px;">
                                                            <label class="radio inline">
                                                                <input type="radio" id="optbulkord" name="optbulksam" checked value="B" onchange="();">
                                                                <span>Buyer Order</span>
                                                            </label>
                                                            <label class="radio inline" style="margin-left: 1px;">
                                                                <input type="radio" id="optsamord" name="optbulksam" value="S" onchange="();">
                                                                <span>Sample Order</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-3 col-xs-12">
                                                        <input type="button" class="btn btn-success" value="List" style="float:right" onclick="addlist();" />
                                                    </div>
                                                </div>
                                            </div>
                                            </form>
                                        </div>
                                </div>
                                </div>
                            </div>
                            
                            <div class="x_panel" >
                                <div class="row">

                                    <div class="">
                                        <form class="form-horizontal form-label-left input_mask">
                                            <div class="form-group">
                                                <table class="table table-bordered table-hover" id="tblissuedet" border="1">
                                                    @*<thead>
                                                        <tr>
                                                            <th>Prod Issue No</th>
                                                            <th>Issue Date</th>
                                                            <th>Order No</th>
                                                            <th>Style No</th>
                                                            <th>Work Division</th>
                                                            <th>Issue Qty</th>
                                                            <th>Balance Qty</th>
                                                            <th>Group</th>
                                                        </tr>
                                                    </thead>*@
                                                </table>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="row">
                                        <div class="" style="float:right">
                                            <button type="button" style="" class="btn btn-primary" id="btnsubmit">Submit</button>
                                            <button class="btn btn-danger"  onclick="backtomain();" style="margin-top:0px;" id="btninnerclose">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                        </div>
                            </div>
                        <div class="modal-footer" style="border: none;">
                          
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal fade" style="overflow-y:scroll" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" style="min-width: 74%">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Production Return</h4>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel" style="margin-top: 10px;">
                                <div class="row">
                                     <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                        <form class="form-horizontal form-label-left input_mask">
                                            <div class="form-group">
                                                <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                    Company
                                                </label>
                                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                    <select id="ddlfinCompany" class="form-control" disabled></select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                    Process
                                                </label>
                                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                    <select id="ddlfinProcess" class="form-control" disabled></select>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                        <form class="form-horizontal form-label-left input_mask">

                                            <div class="form-group">
                                                <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                    Work Div
                                                </label>
                                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                
                                                      <input type="text" id="txtWorkDiv" class="form-control" disabled>
                                                </div>
                                            </div>
                                            <div class="form-group" style="display:none;" >
                                                <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4" id="lblfinprocessor">
                                                    Processor
                                                </label>
                                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                   <input type="text" id="txtWorkDivId" class="form-control" disabled>
                                                </div>
                                            </div>
                                            <div class="form-group" >
                                                <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                    Ref No/Date
                                                </label>
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                    <input type="text" id="txtRefNo" class="form-control " placeholder="Ref No">
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                    <input type="text" id="txtRefDate" class="form-control " placeholder="Date">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                        <form class="form-horizontal form-label-left input_mask">
                                            <div class="form-group">
                                                <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                    Return No/Date
                                                </label>
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                    <input type="text" id="txtRetNo"  class="form-control " placeholder="Return No" disabled>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                    <input type="text" id="txtRetDate" style=" " class="form-control " placeholder="Date">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 enquiry_edit">
                                                    Store
                                                </label>
                                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                    <select id="ddlStore" class="form-control select2">
                                                    </select>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                 </div>
                            </div>
                        
                            <div class="x_panel">
                                <div class="row">
                                   
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <form class="form-horizontal form-label-left input_mask">
                                            <div class="form-group">
                                                <table class="table table-bordered table-hover" id="tblreceipt" border="1">
                                                    @*<thead>
                                                        <tr>
                                                            <th>Order No</th>
                                                            <th>Style No</th>
                                                            <th>Issue No</th>
                                                            <th>Item</th>
                                                            <th>Color</th>
                                                            <th>Size</th>
                                                            <th>Lot No</th>
                                                            <th>Bundle</th>
                                                            <th>Return Qty</th>
                                                        </tr>
                                                    </thead>*@
                                                </table>
                                            </div>
                                        </form>
                                    </div>

                                    <div class="row">

                                           <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                            <h2 style="margin-top: -5px;">Rejection</h2>
                                            <div class="">
                                                    <form class="form-horizontal form-label-left input_mask">
                                                        <div class="form-group">
                                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="overflow-x:scroll">
                                                            <table class="table table-bordered table-hover" id="tbladdreason" border="1">
                                                                <tr>
                                                                    <td>Reason</td>
                                                                    <td>Rej Qty</td>
                                                                    <td></td>
                                                                </tr>
                                                                <tr class="mycontainer" id="mainrow">
                                                                    <td>
                                                                        <select id="ddlreason" class="form-control">
                                                                        </select>
                                                                        <span class="error">Select Reason</span>
                                                                    </td>
                                                                    <td>
                                                                        <input type="text" id="txtqty" class="form-control" placeholder="Qty">
                                                                        <span class="error">Quanity</span>
                                                                    </td>
                                                                 
                                                                    <td>
                                                                        <button class="btn btn-success btn-round" style="width: 20px; padding: 0px; height: 20px; border-radius: 10px;" id="btnreasonadd" data-toggle="tooltip" data-placement="top" title="Add" type="button"><i class="fa fa-plus"></i></button>
                                                                      
                                                                    </td>
                                                                </tr>
                                                            </table>

                                                            <div id="SizeList">
                                                                <table class="table table-responsive" id="tblreason" cellspacing="0">
                                                                  

                                                                </table>
                                                                <span id="SizeorderItemError" style="color: red"></span>
                                                            </div>
                                                        </div>

                                                    
                                                </div>
                                                </form>
                                            </div>
                                        </div>

                                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                            <h2 style="margin-top: -5px;">ReWork</h2>
                                            <div class="">
                                                    <form class="form-horizontal form-label-left input_mask">
                                                        <div class="form-group">
                                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="overflow-x:scroll">
                                                            <table class="table table-bordered table-hover" id="tbladdrework" border="1">
                                                                <tr>
                                                                   
                                                                    <td>Process</td>
                                                                    <td>Rework Qty</td>
                                                                    <td></td>
                                                                </tr>
                                                                <tr class="mycontainer" id="mainrowre">
                                                                   
                                                                      <td>
                                                                        <select id="ddlReProcess" class="form-control">
                                                                        </select>
                                                                        <span class="error">Select Process</span>
                                                                    </td>
                                                                    <td>
                                                                        <input type="text" id="txtReprocqty" class="form-control" placeholder="Qty">
                                                                        <span class="error">Re processQuanity</span>
                                                                    </td>
                                                                    <td>
                                                                        <button class="btn btn-success btn-round" style="width: 20px; padding: 0px; height: 20px; border-radius: 10px;" id="btnreworkadd" data-toggle="tooltip" data-placement="top" title="Add" type="button"><i class="fa fa-plus"></i></button>
                                                                 
                                                                    </td>
                                                                </tr>
                                                            </table>

                                                            <div id="SizeListre">
                                                                <table class="table table-responsive" id="tblrework" cellspacing="0">
                                                                  

                                                                </table>
                                                                <span id="SizeorderItemErrorre" style="color: red"></span>
                                                            </div>
                                                        </div>
                                                        </div>
                                                    </form>
                                                
                                            </div>
                                        </div>

                                  
                                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                            <form class="form-horizontal form-label-left input_mask">
                                                <div class="form-group" >
                                                    <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                        Remarks
                                                    </label>
                                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                        <textarea class="form-control" rows="4" placeholder="Remarks" id="txtremarks"></textarea>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        
                                   
                                          </div>
                                  
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer" style="border: none;">
                            <button class="btn btn-success btn-round" id="btnAdd" onclick="Add();">Save</button>
                            <button class="btn  btn-success btn-round" onclick="Update();" id="btnUpdate">Update</button>
                            <button class="btn btn-danger btn-round" onclick="Delete();" id="btnDel">Delete</button>
                            <button class="btn btn-danger btn-round" onclick="backtomain();" id="btnclose">Close</button>
                        </div>
                    </div>
                </div>

            </div>
              <div class="modal fade" style="overflow-y:scroll" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false" aria-hidden="true">
                    <div class="modal-dialog" style="min-width: 40%">
                        <div class="modal-content">
                            <div class="x_panel">
                                 <div class="x_title">
                <h2>Common Production Return</h2>

                <div class="clearfix"></div>
            </div>
            <div class="row" style="margin:0;">
                <div class="row" style="margin:0;">               

                    <div class="col-md-8">

                        <form class="form-horizontal form-label-left input_mask">
                            <div class="form-group">
                                <label class="control-label col-md-2 col-sm-2 col-xs-12" >
                                    Options 
                                </label>
                                <div class="col-md-2 col-sm-2 col-xs-12" style="">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="selectall" value="">All
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <div class="multiselect">
                                      
                                        <select multiple="multiple" id='sbTwo' class="form-control multiselect" style="height:100px;">
                                        </select>
                                    </div>
                                </div>
                            </div>

                           
                            

                        </form>
                    </div>


                </div>
            </div>

                <div class="row" style="margin:0px; float:right;">
                    <div class="form-group" >
                                <button class="btn btn-success" onclick="SubReport();">Submit</button>
                                <button class="btn btn-danger" onclick="backtomain();">Cancel</button>
                            </div>
                </div>




        </div>
                            </div>
                        </div>
                     </div>
            <div class="modal fade" id="AlertModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top: -30px;">
                            <div class="modal-dialog" style="min-width: 160px">
                                <div class="row">
                                    
                                    <div></div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-2 col-sm-2 col-xs-2"></div>
                                        <div id="dvUserdetails" class="col-md-8 col-sm-8 col-xs-12"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
        </div>
    </div>
</div>
