@{
    ViewBag.Title = "GoodsReceiptSummaryIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('#txtDeliDate').datepicker({ dateFormat: 'dd/mm/yy' });
        $('#txtOrderDate').datepicker({ dateFormat: 'dd/mm/yy' });
        $('#txtFromDate').datepicker({ dateFormat: 'dd/mm/yy' });
        $('#txtToDate').datepicker({ dateFormat: 'dd/mm/yy' });
    });
</script>


<script src="~/AxonScripts/Statement/GoodsReceiptSummary.js"></script>
<script src="~/Scripts/jquery.min.js"></script>
<script src="~/AxonScripts/Common/jquery-3.3.1.js"></script>
<script src="~/AxonScripts/Common/jquery.dataTables.min.js"></script>
<script src="~/AxonScripts/Common/dataTables.scroller.min.js"></script>
<link href="~/AxonScripts/Common/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/AxonScripts/Common/scroller.dataTables.min.css" rel="stylesheet" />


<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>
        <div class="x_panel">

            <div class="x_panel">
                <div class="x_content">
                    <form class="form-inline">
                        <div class="row">
                            <div class="row">
                               
                                <div style="text-align: center;">
                                    <div class="form-group">
                                        <label style="font-size: 19px; white-space: nowrap; ">
                                            Goods Receipt Note Summary
                                        </label>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                <div class="row">
                    <div class="row">
                        <div class="col-lg-2 col-md-1 col-sm-12 col-xs-12"></div>
                        <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12">
                                    <form class="form-horizontal form-label-left input_mask">
                                        <div class="form-group">
                                            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                Company
                                            </label>
                                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                <select id="ddlMCompany" class="form-control select2" ></select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                Supplier
                                            </label>
                                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                <select id="ddlMSupplier" class="form-control select2" >
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                               GRN No
                                            </label>
                                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                <select id="ddlMOrderNo" class="form-control select2" >
                                                </select>
                                            </div>
                                        </div>
                                         <div class="form-group">
                                            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                From Date
                                            </label>
                                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                <input type="text" id="txtFromDate" class="form-control " placeholder="Date">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12">
                                    <form class="form-horizontal form-label-left input_mask">
                                       <div class="form-group">
                                            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                               PO No
                                            </label>
                                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                <select id="ddlMPurOrderNo" class="form-control select2" >
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                Style
                                            </label>
                                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                <select id="ddlStyle" class="form-control select2" >
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                Item Type
                                            </label>
                                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                <select id="ddlitemtype" class="form-control select2">
                                                                    <option value="0">--Select Item Type--</option>
                                                                    <option value="PACKING">PACKING</option>
                                                                    <option value="ACCESSORY">ACCESSORY</option>
                                                                    <option value="OTHERS">OTHERS</option>
                                                                    <option value="FABRIC">FABRIC</option>
                                                                    <option value="YARN">YARN</option>
                                                                    <option value="GARMENT">GARMENT</option>
                                                                    <option value="COMPONENT">COMPONENT</option>
                                                                </select>
                                            </div>
                                        </div>
                                         
                                        <div class="form-group">
                                            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                To Date
                                            </label>
                                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                <input type="text" id="txtToDate" class="form-control " placeholder="Date">
                                            </div>
                                        </div>
                                    
                                    </form>
                                </div>
                            </div>
                        </div>
                    <div class="row">
                        <div class="col-lg-10 col-md-11 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <button type="button" class="btn btn-primary"  style="float: right;" onclick="LoadReport();">Report</button>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="">
                </div>
            </div>

        </div>

            <link href="~/build/Login/jquery.dataTables.min.css" rel="stylesheet">
            @* Load datatable js *@
            @section Scripts{

                <script src="~/build/js/jquery.dataTables.min.js"></script>
                <script>
                                           
                </script>

            }
    </div>
</div>




