@{
    ViewBag.Title = "JobWorkIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    #tblJobOrdermaingrid_length {
        display: none;
    }

    #tblJobOrdermaingrid_paginate {
        display: none;
    }

    #tbloutputgrd_filter {
        display: none;
    }

    #tblItemdetails_filter {
        display: none;
    }

    #tblJobEntryShipDetails_filter {
        display: none;
    }

    #tblSaveItemdetails_filter {
        display: none;
    }

    #tblinputstckgrd_filter {
        display: none;
    }

    #tblJobOrdermaingrid_info {
        display: none;
    }

    #tblJobOrdermaingrid_filter {
        margin-top: -28px;
    }

    #tblinputgrd_paginate {
        display: none;
    }

    #tblinputgrd_info {
        display: none;
    }

    #tblinputgrd_length {
        display: none;
    }

    #tblinputgrd_wrapper {
        margin-top: -29px;
    }

    #tblinputstckgrd_length {
        display: none;
    }

    #tblinputstckgrd_info {
        display: none;
    }

    #tblinputstckgrd_paginate {
        display: none;
    }

    #tbloutputgrd_length {
        display: none;
    }

    #tbloutputgrd_paginate {
        display: none;
    }

    #tbloutputgrd_info {
        display: none;
    }

    .pad {
        padding: 15px 0 0 13px;
    }
</style>


<script type="text/javascript">
    jQuery(document).ready(function ($) {

        $('#txtDeliveryDate').datepicker({ dateFormat: 'dd/mm/yy' });

        $('#txtFromDate').datepicker({
            dateFormat: 'dd/mm/yy',
            onSelect: function (dateString, txtDate) {
                DtChk = true;
                loadJobMainData();
            }
        });

        $('#txtToDate').datepicker({
            dateFormat: 'dd/mm/yy',
            onSelect: function (dateString, txtDate) {
                DtChk = true;
                loadJobMainData();
            }
        });
    })
</script>

<script src="~/AxonScripts/Common/jquery.min.js"></script>
<script src="~/AxonScripts/Common/modernizr.js"></script>
<script src="~/Scripts/jquery.min.js"></script>
<script src="~/AxonScripts/OrderProcessing/JobWork.js"></script>
<script src="~/AxonScripts/Common/jquery-1.12.4.js"></script>
<script src="~/AxonScripts/Common/jquery.dataTables.min.js"></script>
<link href="~/AxonScripts/Common/jquery.dataTables.min.css" rel="stylesheet" />



@* Load datatable css *@

<link href="~/build/Login/jquery.dataTables.min.css" rel="stylesheet">
@* Load datatable js *@
@section Scripts{

    <script src="~/build/js/jquery.dataTables.min.js"></script>
    <script>
                                           
    </script>

}


<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>
        <div class="x_panel">
            <div class="x_title" style="border: none;">
                <h2>Job Order
                </h2>
            </div>
            <div class="x_panel">
                <div class="row">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <form class="form-horizontal form-label-left input_mask">
                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12">
                                        Company
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <select id="ddlMCompany" class="form-control select2" onchange="CMainlist();"></select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12">
                                        Buyer
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <select id="ddlMBuyer" class="form-control select2" onchange="BMainlist();">
                                        </select>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="ex3">
                                        From Date
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="text" id="txtFromDate" class="form-control " placeholder="Date">
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-12">

                            <form class="form-horizontal form-label-left input_mask">
                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12">
                                        Order No
                                    </label>
                                    <div class="col-md-8 col-sm-9 col-xs-12">
                                        <select id="ddlMOrderNo" class="form-control select2" onchange="OMainlist();">
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="txtEntryDate">Ref No</label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <select id="ddlMRefNo" class="form-control select2" onchange="RMainlist();">
                                        </select>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="ex3">
                                        To Date
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="text" class="form-control " placeholder="Date" id="txtToDate">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">

                            <form class="form-horizontal form-label-left input_mask">

                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12">
                                        Style
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <select id="ddlMStyle" class="form-control select2" onchange="StMainlist();">
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12">
                                        Work No
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <select id="ddlMWorkNo" class="form-control select2" onchange="WMainlist();"></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="txtEntryDate">Supplier</label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <select id="ddlMSupplier" class="form-control select2" onchange="SMainlist();">
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12" style="padding: 0px;">

                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="txtEntryDate">Order Type</label>
                        <div class="col-md-7 col-sm-7 col-xs-12" style="margin-top: -10px; margin-left: -18px;">
                            <div class="maxl">
                                <label class="radio inline">
                                    <input type="radio" id="optMPen" name="optMPType" checked value="N">
                                    <span>Pending </span>
                                </label>
                                <label class="radio inline">
                                    <input type="radio" id="optMApp" name="optMPType" value="Y">
                                    <span>Approved </span>
                                </label>
                                <label class="radio inline">
                                    <input type="radio" id="optMAll" name="optMPType" value="A">
                                    <span>All </span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-10 col-xs-12">
                        <input type="checkbox" id="ChkDispatch">
                        Dispatched Orders 

                    </div>

                    <div class="form-group col-md-3 col-sm-6 col-xs-12">

                        <div class="form-group" style="float: right;">
                            <button type="button" class="btn btn-success" onclick="ListFilter()">List</button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="x_panel">
                <div class="form-group">

                    <button type="button" class="btn btn-primary" id="btnaddnew" onclick="LoadAddDetails();"  @ViewBag.JobAddFlg>Add New</button>
                </div>
                <form class="form-horizontal form-label-left input_mask">
                    <div class="form-group">
                        <table class="table table-responsive" id="tblmaindetails">
                        </table>
                    </div>
                </form>
            </div>
            <div class="modal fade" style="overflow-y: scroll" id="myModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" style="min-width: 74%">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Add Job Order</h4>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 10px;">
                            <div class="x_panel">
                                <div class="row">
                                    <div class="col-md-4">
                                        <form class="form-horizontal form-label-left input_mask">
                                            <div class="form-group">
                                                <label class="control-label col-md-4 col-sm-6 col-xs-12 enquiry_edit">
                                                    Company
                                                </label>
                                                <div class="col-md-8 col-sm-9 col-xs-12">
                                                    <select id="ddlACompany" class="form-control" onchange="LoadAddDetails();">
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-4 col-sm-6 col-xs-12">Buyer</label>
                                                <div class="col-md-8 col-sm-9 col-xs-12">
                                                    <select id="ddlABuyer" class="form-control" onchange="LoadAddDetails();">
                                                    </select>
                                                </div>
                                            </div>


                                        </form>
                                    </div>
                                    <div class="col-md-4">
                                        <form class="form-horizontal form-label-left input_mask">
                                            <div class="form-group">
                                                <label class="control-label col-md-4 col-sm-6 col-xs-12 enquiry_edit">
                                                    Order No
                                                </label>
                                                <div class="col-md-8 col-sm-9 col-xs-12">
                                                    <select id="ddlAOrderNo" class="form-control" onchange="LoadAddDetails();">
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-4 col-sm-6 col-xs-12">Ref No</label>
                                                <div class="col-md-8 col-sm-9 col-xs-12">
                                                    <select id="ddlArefno" class="form-control" onchange="LoadAddDetails();">
                                                    </select>
                                                </div>
                                            </div>


                                        </form>
                                    </div>
                                    <div class="col-md-4">
                                        <form class="form-horizontal form-label-left input_mask">
                                            <div class="form-group">
                                                <label class="control-label col-md-4 col-sm-6 col-xs-12 enquiry_edit">
                                                    Buyer RefNo 
                                                </label>
                                                <div class="col-md-8 col-sm-9 col-xs-12">
                                                    <select id="ddlABuyRefNo" class="form-control" onchange="LoadAddDetails();">
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-4 col-sm-6 col-xs-12">Style</label>
                                                <div class="col-md-8 col-sm-9 col-xs-12">
                                                    <select id="ddlAStyle" class="form-control" onchange="LoadAddDetails();">
                                                    </select>
                                                </div>
                                            </div>

                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="x_panel">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="x_content">
                                        <form class="form-horizontal form-label-left input_mask">



                                            <div class="form-group">
                                                <table class="table table-responsive" id="tblJobAddDetails">
                                                    <thead>
                                                        <tr>
                                                            <th style="display: none;">StylRowId
                                                            </th>
                                                            <th style="display: none;">CompanyId
                                                            </th>
                                                            <th>Order No
                                                            </th>
                                                            <th>Buyer
                                                            </th>
                                                            <th>Style
                                                            </th>
                                                            <th>Quantity
                                                            </th>
                                                            <th>Balance
                                                            </th>
                                                            <td></td>
                                                        </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger btn-round" id="btncutclose" onclick="MyAddClose();">Close</button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal fade" style="overflow-y: scroll" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false" aria-hidden="true">
                <div class="modal-dialog" style="min-width: 40%">
                    <div class="modal-content">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Post Order</h2>

                                <div class="clearfix"></div>
                            </div>
                            <div class="row" style="margin: 0;">
                                <div class="row" style="margin: 0;">

                                    <div class="col-md-8 col-sm-8 col-xs-12">

                                        <form class="form-horizontal form-label-left input_mask">
                                            <div class="form-group">
                                                <label class="control-label col-md-2 col-sm-2 col-xs-12">
                                                    Options 
                                                </label>
                                                <div class="col-md-2 col-sm-2 col-xs-12" style="">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" id="prtselectall" value="">All
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-8 col-sm-8 col-xs-12">
                                                    <div class="multiselect">

                                                        <select multiple="multiple" id='prtsbTwo' class="form-control" style="height: 100px;">
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>




                                        </form>
                                    </div>


                                </div>
                            </div>

                            <div class="row" style="margin: 0px; float: right;">
                                <div class="form-group">
                                    <button class="btn btn-success" onclick="SubReport();">Submit</button>
                                    <button class="btn btn-danger" onclick="backtomain();">Cancel</button>
                                </div>
                            </div>




                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" style="overflow-y: scroll" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="overflow: hidden scroll;">
                <div class="modal-dialog" style="min-width: 74%">
                    <div class="modal-content">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="">
                                <div class="x_title">
                                    <h2 style="margin-top: 10px;">Job Order</h2>

                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_panel">
                                    <div class="Remarks">
                                        <div class="x_content">
                                            <div class="" role="tabpanel" data-example-id="togglable-tabs">
                                                <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                                    <li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Job Order Info</a>
                                                    </li>
                                                    <li role="presentation" class=""><a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Item</a>
                                                    </li>

                                                    @*<li role="presentation" class=""><a href="#tab_content4" role="tab" id="profile-tab3" data-toggle="tab" aria-expanded="false">Summary</a>
                                                        </li>*@
                                                    <li role="presentation" class=""><a href="#tab_content5" role="tab" id="profile-tab3" data-toggle="tab" aria-expanded="false">Trims</a>
                                                    </li>


                                                    @*<li role="presentation"  class=""><a href="#tab_content5" role="tab" id="profile-tab4" data-toggle="tab" aria-expanded="false">Trims</a>
                                                        </li>*@


                                                </ul>
                                                <div id="myTabContent" class="tab-content">
                                                    <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                                                        <div class="x_content">

                                                            <div class="row">
                                                                <div class="col-md-4 col-xs-8">

                                                                    <div class="x_content">

                                                                        <form class="form-horizontal form-label-left input_mask">

                                                                            <div class="form-group">
                                                                                <label class="control-label col-md-4 col-sm-3 col-xs-6">
                                                                                    Job Order
                                                                                </label>
                                                                                <div class="col-md-8 col-sm-9 col-xs-12">
                                                                                    <input type="text" id="txtjoborderno" class="form-control" placeholder="Job Order" disabled>
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group">

                                                                                <div class="col-md-8 col-sm-9 col-xs-12" style="display: none;">
                                                                                    <input type="text" id="txtcompid" class="form-control" placeholder="companyid" disabled>
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label class="control-label col-md-4 col-sm-3 col-xs-12">Job Ord Date</label>
                                                                                <div class="col-md-8 col-sm-9 col-xs-12">
                                                                                    <input type="text" id="txtorderdate" class="form-control" placeholder="Job Ord Date">
                                                                                </div>
                                                                            </div>

                                                                            <div class="form-group">
                                                                                <label class="control-label col-md-4 col-sm-3 col-xs-12">
                                                                                    Issue Date
                                                                                </label>
                                                                                <div class="col-md-8 col-sm-9 col-xs-12">
                                                                                    <input type="text" id="txtissuedate" class="form-control" placeholder="Issue Date">
                                                                                </div>
                                                                            </div>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4 col-xs-8">
                                                                    <div class="x_content">
                                                                        <form class="form-horizontal form-label-left">
                                                                            <div class="form-group">
                                                                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Buyer </label>
                                                                                <div class="col-md-9 col-sm-9 col-xs-12">
                                                                                    <input type="text" class="form-control" id="txtbuyer" placeholder="Buyer" disabled>
                                                                                </div>
                                                                                <div class="col-md-9 col-sm-9 col-xs-12" style="display: none;">
                                                                                    <input type="text" class="form-control" id="txtbuyerid" placeholder="Buyer" disabled>
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                                                                    Order No
                                                                                </label>
                                                                                <div class="col-md-9 col-sm-9 col-xs-12">
                                                                                    <input type="text" class="form-control" id="txtorderno" placeholder=" Order No" disabled>
                                                                                </div>
                                                                            </div>

                                                                            <div class="form-group">
                                                                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Ref No </label>
                                                                                <div class="col-md-9 col-sm-9 col-xs-12">
                                                                                    <input type="text" class="form-control" id="txtorderrefno" placeholder="Ref No" disabled>
                                                                                </div>
                                                                            </div>
                                                                        </form>
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-4 col-xs-8">
                                                                    <div class="x_content">
                                                                        <form class="form-horizontal form-label-left">
                                                                            <div class="form-group">
                                                                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Style </label>
                                                                                <div class="col-md-9 col-sm-9 col-xs-12">
                                                                                    <input type="text" class="form-control" id="txtstyle" placeholder="Style" disabled>
                                                                                </div>

                                                                                <div class="col-md-9 col-sm-9 col-xs-12" style="display: none;">
                                                                                    <input type="text" class="form-control" id="txtstyleid" placeholder="Style" disabled>
                                                                                </div>
                                                                            </div>

                                                                            <div class="form-group">
                                                                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                                                                    Quanity
                                                                                </label>
                                                                                <div class="col-md-9 col-sm-9 col-xs-12">
                                                                                    <input type="text" class="form-control" id="txtqty" placeholder="Quanity" disabled>
                                                                                </div>
                                                                            </div>

                                                                            <div class="form-group">
                                                                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Approval </label>
                                                                                <div class="col-md-9 col-sm-9 col-xs-12">
                                                                                    <select id="ddlApp" class="form-control">
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="x_content">
                                                            <div class="row">
                                                                <div class="col-md-6 col-xs-12">
                                                                    <div class="x_panel">
                                                                        <h2>Unit - Sub Contractor Selection</h2>
                                                                        <div class="x_content">
                                                                            <form class="form-horizontal form-label-left input_mask">
                                                                                <div class="form-group">
                                                                                    <div class="checkbox col-md-12" style="margin-left: -18px;">
                                                                                        <label>
                                                                                            <input type="radio" id="optUnit" name="subcontract" value="P" checked onclick="LoadSuppOrUnit();">
                                                                                            Product Unit
                                                                                        </label>
                                                                                        <label>
                                                                                            <input type="radio" name="subcontract" id="optSub" value="S" onclick="LoadSuppOrUnit();">
                                                                                            Sub Contractor
                                                                                        </label>
                                                                                    </div>
                                                                                </div>

                                                                                <div class="form-group" id="EcomuId">
                                                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Select</label>
                                                                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                                                                        <select id="ddlCompanyunit" class="form-control" onchange="LoadSuppUnitAddress();">
                                                                                        </select>
                                                                                    </div>

                                                                                </div>

                                                                                <div class="form-group" id="ESuppId">
                                                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Select</label>
                                                                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                                                                        <select id="ddlSupplier" class="form-control" onchange="LoadSuppUnitAddress();">
                                                                                        </select>
                                                                                    </div>

                                                                                </div>

                                                                                <div class="form-group">
                                                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                                                                        Address
                                                                                    </label>
                                                                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                                                                        <textarea id="txtmessage" required class="form-control" name="message" data-parsley-trigger="keyup" data-parsley-minlength="20" data-parsley-maxlength="100" data-parsley-minlength-message="Come on! You need to enter at least a 20 caracters long comment.." data-parsley-validation-threshold="10"></textarea>
                                                                                    </div>
                                                                                </div>


                                                                                <div class="col-md-6">
                                                                                    <h2>Pending Allocation</h2>

                                                                                    <div class="checkbox">
                                                                                        <label>
                                                                                            <input type="checkbox" value="">Yarn/Fabric
                                                                                        </label>
                                                                                        <br>
                                                                                        <label>
                                                                                            <input type="checkbox" value="">Trims
                                                                                        </label>
                                                                                        <br>
                                                                                    </div>
                                                                                    <br>
                                                                                </div>
                                                                                <div class="col-md-6">
                                                                                    <h2>Job Order Plan</h2>

                                                                                    <div class="checkbox" style="margin-left: -15px;">
                                                                                        <label>
                                                                                            <input id="chkitem" type="radio" name="joborder" value="" checked>Itemwise
                                                                                        </label>
                                                                                        <br>
                                                                                        <label>
                                                                                            <input id="chkstyle" type="radio" name="joborder" value="">Stylewise
                                                                                        </label>
                                                                                        <br>
                                                                                    </div>
                                                                                </div>

                                                                            </form>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6 col-xs-12">
                                                                    <div class="x_panel">
                                                                        <div class="x_content">
                                                                            <form class="form-horizontal form-label-left">
                                                                                <div class="form-group">
                                                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Manager</label>
                                                                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                                                                        <input type="text" class="form-control" placeholder="Manager" id="txtmanager">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">#Merch </label>
                                                                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                                                                        <select id="ddlmerch" class="form-control">
                                                                                        </select>
                                                                                        @*<input type="text" class="form-control" placeholder="Merch">*@
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12"># Q C </label>
                                                                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                                                                        @*<input type="text" class="form-control" placeholder="Q C">*@
                                                                                        <select id="ddlqc" class="form-control">
                                                                                        </select>
                                                                                    </div>
                                                                                </div>

                                                                                @*   <div class="form-group">
                                                                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Consumption</label>
                                                                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                                                                            <input type="text" id="txtconsumption" class="form-control" placeholder="Consumption">
                                                                                        </div>
                                                                                    </div>*@

                                                                                <div class="form-group">
                                                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Ref Number</label>
                                                                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                                                                        <input type="text" class="form-control" placeholder="Ref Number" id="JRefNo">
                                                                                    </div>
                                                                                </div>



                                                                                <div class="form-group">
                                                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Rate</label>
                                                                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                                                                        <input type="text" id="txtrate" class="form-control" placeholder="Rate" onchange="LoadRate();">
                                                                                    </div>
                                                                                </div>
                                                                                @*    <div class="form-group">
                                                                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Rate Desc</label>
                                                                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                                                                            <input type="text" class="form-control" id="txtratedesc" placeholder="Rate Desc">
                                                                                        </div>
                                                                                    </div>*@
                                                                                <div class="form-group">
                                                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">#Currency</label>
                                                                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                                                                        <select id="ddlCurrency" class="form-control">
                                                                                        </select>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Ex.Rate</label>
                                                                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                                                                        <input type="text" class="form-control" id="txtexcrate" placeholder="Ex.Rate">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Excess % </label>
                                                                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                                                                        <input type="text" class="form-control" id="txtexcessper" placeholder="Excess %">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Stage</label>
                                                                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                                                                        <select id="ddlStageType" class="form-control">
                                                                                            <option value="0">--Select Stage--</option>

                                                                                            <option value="3">FINISHED FABRIC</option>
                                                                                            @*  <option value="1">YARN</option>
                                                                                            <option value="2">GREY FABRIC</option>
                                                                                            
                                                                                            <option value="4">GARMENTS</option>*@
                                                                                        </select>
                                                                                    </div>
                                                                                </div>
                                                                            </form>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
                                                        <div class="x_content">
                                                            <div class="container" style="margin-top: -10px;">
                                                                <h2>Shipment Details Record</h2>
                                                                <div class="">
                                                                    <div class="x_content">
                                                                        <div class="col-md-12 col-sm-12 col-xs-12" style="overflow: scroll">
                                                                            <table class="table table-bordered table-hover" border="1">
                                                                                <tr>


                                                                                    <td>Shipment</td>
                                                                                    <td>Country</td>
                                                                                    <td>Order</td>
                                                                                    <td>Balance</td>
                                                                                    <td>Job Order</td>
                                                                                    <td>Delivery Date</td>

                                                                                    <td>&nbsp;</td>
                                                                                </tr>
                                                                                <tr class="mycontainer" id="maincomborow">
                                                                                    <td>
                                                                                        <input type="text" id="txtShipment" class="form-control" placeholder="Shipment">
                                                                                    </td>
                                                                                    <td>
                                                                                        <input type="text" id="txtCountry" class="form-control" placeholder="Country">
                                                                                    </td>
                                                                                    <td>
                                                                                        <input type="text" id="txtOrder" class="form-control" placeholder="Order">
                                                                                    </td>
                                                                                    <td>
                                                                                        <input type="text" id="txtBalance" class="form-control" placeholder="Balance">
                                                                                    </td>
                                                                                    <td>
                                                                                        <input type="text" id="txtJobOrder" class="form-control" placeholder="Job Order">
                                                                                    </td>
                                                                                    <td>
                                                                                        <input type="text" id="txtDeliveryDate" class="form-control" placeholder="Delivery">
                                                                                    </td>


                                                                                    <td>

                                                                                        <button class="btn btn-success btn-round" style="width: 20px; padding: 0px; height: 20px; border-radius: 10px;" id="btnshipitmupdate" data-toggle="tooltip" data-placement="top" title="Update" type="button"><i class="fa fa-refresh"></i></button>

                                                                                    </td>
                                                                                </tr>
                                                                            </table>
                                                                        </div>

                                                                        <table class="table table-responsive" id="tblJobEntryShipDetails">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th style="display: none;">StylRowId
                                                                                    </th>
                                                                                    <th style="display: none;">ShipRowId
                                                                                    </th>
                                                                                    <th>Shipment Date
                                                                                    </th>
                                                                                    <th>Country
                                                                                    </th>
                                                                                    <th>Order Qty
                                                                                    </th>
                                                                                    <th>Balance Qty
                                                                                    </th>
                                                                                    <th>Job Order Qty
                                                                                    </th>
                                                                                    <th>Delivery Date
                                                                                    </th>
                                                                                    <th style="display: none;">Excess %
                                                                                    </th>
                                                                                    <th>Buy_Ord_Ship
                                                                                    </th>
                                                                                    <th style="display: none;">Job Qty
                                                                                    </th>
                                                                                    <th style="display: none;">Old Job Qty
                                                                                    </th>
                                                                                    <th style="display: none;">Old Dely Date
                                                                                    </th>
                                                                                    <td></td>
                                                                                </tr>
                                                                            </thead>
                                                                        </table>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                            <div class="col-md-4">
                                                                <h2>Item Details </h2>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <button class="btn btn-success" onclick="loadtable();" style="float: right; margin-top: 8px;">Fill</button>
                                                            </div>
                                                            <div class="">
                                                                <div class="x_content">
                                                                    <table class="table table-responsive" id="tblItemdetails">
                                                                        <thead>
                                                                            <tr>

                                                                                <th style="display: none;">ShipRowId
                                                                                </th>
                                                                                <th style="display: none;">StyleRowId
                                                                                </th>
                                                                                <th style="display: none;">BuyOrdDetId
                                                                                </th>
                                                                                <th style="display: none;">Buy_Ord_Ship
                                                                                </th>
                                                                                <th>Item
                                                                                </th>
                                                                                <th>Color
                                                                                </th>
                                                                                <th>Size
                                                                                </th>
                                                                                <th>Qty
                                                                                </th>
                                                                                <th>Balance Qty
                                                                                </th>
                                                                                <th>Job Order Qty
                                                                                </th>
                                                                                <th>Excess Qty
                                                                                </th>
                                                                                <th>Rate
                                                                                </th>
                                                                                <th style="display: none;">ItemId
                                                                                </th>
                                                                                <th style="display: none;">ColorId
                                                                                </th>
                                                                                <th style="display: none;">SizeId
                                                                                </th>

                                                                            </tr>
                                                                        </thead>
                                                                    </table>
                                                                </div>

                                                                <table class="table table-responsive" id="tblSaveItemdetails" style="display: none;">
                                                                    <thead>
                                                                        <tr>

                                                                            <th>ShipRowId
                                                                            </th>
                                                                            <th>StyleRowId
                                                                            </th>
                                                                            <th>BuyOrdDetId
                                                                            </th>
                                                                            <th>Buy_Ord_Ship
                                                                            </th>
                                                                            <th>Item
                                                                            </th>
                                                                            <th>Color
                                                                            </th>
                                                                            <th>Size
                                                                            </th>
                                                                            <th>Qty
                                                                            </th>
                                                                            <th>Balance Qty
                                                                            </th>
                                                                            <th>Job Order Qty
                                                                            </th>
                                                                            <th>Excess Qty
                                                                            </th>
                                                                            <th>Rate
                                                                            </th>
                                                                            <th>ItemId
                                                                            </th>
                                                                            <th>ColorId
                                                                            </th>
                                                                            <th>SizeId
                                                                            </th>

                                                                        </tr>
                                                                    </thead>
                                                                </table>

                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div role="tabpanel" class="tab-pane fade" id="tab_content4" aria-labelledby="profile-tab">
                                                        <div class="x_content">
                                                            <div class="container">
                                                                @*<h2>Summary</h2>*@
                                                                <table id="tEbody" class="table table-striped table-bordered"></table>

                                                                <div class="col-md-4" style="margin-top: -20px;">
                                                                    <h2>Remarks</h2>
                                                                    <textarea class="form-control"></textarea>
                                                                </div>

                                                            </div>

                                                        </div>

                                                    </div>
                                                    <div role="tabpanel" class="tab-pane fade" id="tab_content5" aria-labelledby="profile-tab">
                                                        <div class="x_content pad">
                                                            <div class="container">



                                                                <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top: -2em;">

                                                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                                                        <div class="row">

                                                                            <div class="checkbox form-group col-md-4">
                                                                                <label style="float: right;">
                                                                                    <input id="selectall" type="checkbox" value="" onclick="loaditemgroup(this.val);">Include all items Groups
                                                                                </label>
                                                                            </div>
                                                                            <div class="form-group col-md-4 col-sm-12 col-xs-12">
                                                                                <label class="control-label col-md-4 col-sm-6 col-xs-6">
                                                                                    Item Group
                                                                                </label>
                                                                                <div class="col-md-8 col-sm-6 col-xs-6" style="float: right;">
                                                                                    <div class="multiselect">

                                                                                        <select multiple="multiple" id='sbTwo' class="form-control">
                                                                                        </select>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                        <div class="row">
                                                                        </div>


                                                                        <div class="form-group">
                                                                            <table id="tPJAbody" class="table table-striped table-bordered">
                                                                                @*<thead>
                                                                                        <tr>
                                                                                            <th>Id
                                                                                            </th>
                                                                                            <th>Itemid
                                                                                            </th>
                                                                                            <th>Item
                                                                                            </th>
                                                                                            <th>Color
                                                                                            </th>
                                                                                            <th>Size
                                                                                            </th>
                                                                                            <th>Unit
                                                                                            </th>
                                                                                            <th>BOM qty</th>
                                                                                            
                                                                                            <th>JobBOMqty
                                                                                            </th>
                                                                                              <th>Pgm qty</th>
                                                                                            <th>Uom
                                                                                            </th>
                                                                                            <th>Mode
                                                                                            </th>
                                                                                            <th>Topuruom
                                                                                            </th>
                                                                                            <th>Bomqty
                                                                                            </th>
                                                                                            <th>JobBOM Qty
                                                                                            </th>
                                                                                            <th>Pur For Job
                                                                                            </th>
                                                                                            <<th>CSP</th>
                                                                                            <th>Itemcls
                                                                                            </th>
                                                                                        
                                                                                            
                                                                                        </tr>
                                                                                    </thead>*@
                                                                            </table>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>

                                                        </div>

                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer" style="border: none">
                            <button type="button" class="btn btn-success btn-round" id="btnAdd" style="" onclick="return save();">Add</button>
                            <button type="button" class="btn btn-success btn-round" id="btnUpdate" style="display: none;" onclick="JobWorkUpdate();">Update</button>
                            <button type="button" class="btn btn-success btn-round" id="btnDelete" style="display: none;" onclick="JobWorkDelete();">Delete</button>
                            <button type="button" class="btn btn-danger btn-round" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                    <!-- /footer content -->
                </div>
            </div>
            <div class="modal fade" id="AlertModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top: -30px;">
                <div class="modal-dialog" style="min-width: 160px">
                    <div class="row">

                        <div></div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="col-md-2 col-sm-2 col-xs-2"></div>
                            <div id="dvUserdetails" class="col-md-8 col-sm-8 col-xs-12"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

